<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="to-login">已有账号，
			<a href="javascript:void(0);" ui-sref="app.login">前往登录</a>
		</div>
		<div class="login">
			<div class="login-box">
				<form class="login-form">
					<h3 class="title">用户注册</h3>
					<div class="input-group clearfix">
						<label class="tit">手机号</label>
						<input class="input" type="tel" name="tel" ng-model="phone" placeholder="请输入手机号" />
					</div>
					<div class="input-group clearfix get-code">
						<label class="tit">验证码</label>
						<input class="input" type="text" ng-model="code" placeholder="请输入验证码" />
						<button type="button" ng-disbled="{{waiting}}" class="{{waiting ? 'get-code-btn-disabled' : 'get-code-btn'}}" ng-click="getCode()">{{content}}</button>
					</div>
					<div class="input-group clearfix">
						<label class="tit">密码</label>
						<input class="input" type="password" name="password" id="password" ng-model="password" placeholder="请输入登录密码" />
						<span class="show-psw" ng-click="passwordVisibleChange()"></span>
					</div>
					<div class="input-group clearfix">
						<label class="tit">确认密码</label>
						<input class="input" type="password" name="repassword" ng-model="repassword" placeholder="确认密码" />
					</div>
					<button type="button" class="btn" ng-click="register()">立即注册</button>
				</form>
			</div>
		</div>
	</div>
</div>