<style type="text/css">
	.item-box {
		background-color: #ffffff;
		margin-bottom: 20px;
	}
	
	.section-tit {
		line-height: 20px;
		font-size: 16px;
		color: #333;
		font-weight: bold;
		margin-bottom: 20px;
	}
	
	.col-article-list {
		padding: 0;
		border-top: 1px solid #e5e5e5;
	}
	
	.keyword-list {
		padding: 0 0 20px 0;
	}
	
	.kw-item {
		float: left;
		position: relative;
		padding: 6px 18px;
		color: #333;
		font-size: 14px;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		margin: 5px 20px 5px 0;
		cursor: pointer;
	}
	
	.kw-item .del {
		display: none;
		position: absolute;
		right: -5px;
		top: -5px;
		width: 16px;
		height: 16px;
		color: #ffffff;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		background-color: #fe5151;
		border-radius: 50%;
		cursor: pointer;
	}
	
	.kw-item.active .del {
		display: block;
	}
	
	.kw-item.active {
		color: #00a4ff;
		border: 1px solid #d2f2ff;
		background-color: #d2f2ff;
	}
</style>
<div class="padding">
	<div class="item-box data-box">
		<h2 class="section-tit">待审核关键词<span style="vertical-align: top;font-size: 14px;color: #666;">（3个）</span></h2>
		<div class="keyword-box">
			<ul class="keyword-list clearfix">
				<li class="kw-item">测试<i class="del fa fa-minus"></i></li>
				<li class="kw-item active">行情<i class="del fa fa-minus"></i></li>
				<li class="kw-item">二日游<i class="del fa fa-minus"></i></li>
			</ul>
			<div class="table-tool" style="margin-bottom: 0;">
				<button type="button" class="c-btn">通过</button>
			</div>
		</div>
	</div>
	<div class="item-box data-box">
		<h2 class="section-tit">待审核数据</h2>
		<table class="table-data">
			<thead>
				<tr>
					<th>名称</th>
					<th>地址</th>
					<th>状态</th>
					<th>种类</th>
					<th>渠道</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>哈杜普</td>
					<td>www.hadupu.cn</td>
					<td><span style="color: red;">待审核</span></td>
					<td>咨询</td>
					<td>网站</td>
					<td class="opt">
						<a href="javascript:void(0);">通过</a>
					</td>
				</tr>
				<tr>
					<td>哈杜普</td>
					<td>www.hadupu.cn</td>
					<td><span style="color: red;">待审核</span></td>
					<td>咨询</td>
					<td>网站</td>
					<td class="opt">
						<a href="javascript:void(0);">通过</a>
					</td>
				</tr>
				<tr>
					<td>哈杜普</td>
					<td>www.hadupu.cn</td>
					<td><span style="color: red;">待审核</span></td>
					<td>咨询</td>
					<td>网站</td>
					<td class="opt">
						<a href="javascript:void(0);">通过</a>
					</td>
				</tr>
				<tr>
					<td>哈杜普</td>
					<td>www.hadupu.cn</td>
					<td><span style="color: red;">待审核</span></td>
					<td>咨询</td>
					<td>网站</td>
					<td class="opt">
						<a href="javascript:void(0);">通过</a>
					</td>
				</tr>
				<tr>
					<td>哈杜普</td>
					<td>www.hadupu.cn</td>
					<td><span style="color: red;">待审核</span></td>
					<td>咨询</td>
					<td>网站</td>
					<td class="opt">
						<a href="javascript:void(0);">通过</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align: center">
			<ul class="pagination ng-pristine ng-untouched ng-valid ng-isolate-scope">
				<li role="menuitem" class="pagination-prev ng-scope disabled">
					<a href="">上一页</a>
				</li>
				<li role="menuitem" class="pagination-page ng-scope active">
					<a href="" class="ng-binding">1</a>
				</li>
				<li role="menuitem" class="pagination-next ng-scope disabled">
					<a href="" class="ng-binding">下一页</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="item-box data-box">
		<h2 class="section-tit">待办建议</h2>
		<div class="col-article-list">
			<div class="com-article-panel">
				<a href="javascript:void(0);" target="_blank">
					<div class="com-article-panel-body">
						<h3 class="com-article-panel-title">泰国又一著名景点关闭，环境恶化令人心痛！</h3>
						<p class="com-article-panel-desc">2018年6月1日起，泰国政府决定暂时关闭皮皮岛的玛雅湾沙滩4个月，但随后宣布无限期延长关闭时间。近日，泰国政府又宣布，玛雅湾的关闭将持续到2021年。 玛雅湾位于甲米府小皮皮岛的西海岸，这里三面环山...</p>
					</div>
				</a>
			</div>
			<div class="com-article-panel">
				<a href="javascript:void(0);" target="_blank">
					<div class="com-article-panel-body">
						<h3 class="com-article-panel-title">泰国又一著名景点关闭，环境恶化令人心痛！</h3>
						<p class="com-article-panel-desc">2018年6月1日起，泰国政府决定暂时关闭皮皮岛的玛雅湾沙滩4个月，但随后宣布无限期延长关闭时间。近日，泰国政府又宣布，玛雅湾的关闭将持续到2021年。 玛雅湾位于甲米府小皮皮岛的西海岸，这里三面环山...</p>
					</div>
				</a>
			</div>
			<div class="com-article-panel">
				<a href="javascript:void(0);" target="_blank">
					<div class="com-article-panel-body">
						<h3 class="com-article-panel-title">泰国又一著名景点关闭，环境恶化令人心痛！</h3>
						<p class="com-article-panel-desc">2018年6月1日起，泰国政府决定暂时关闭皮皮岛的玛雅湾沙滩4个月，但随后宣布无限期延长关闭时间。近日，泰国政府又宣布，玛雅湾的关闭将持续到2021年。 玛雅湾位于甲米府小皮皮岛的西海岸，这里三面环山...</p>
					</div>
				</a>
			</div>
			<div class="com-article-panel">
				<a href="javascript:void(0);" target="_blank">
					<div class="com-article-panel-body">
						<h3 class="com-article-panel-title">泰国又一著名景点关闭，环境恶化令人心痛！</h3>
						<p class="com-article-panel-desc">2018年6月1日起，泰国政府决定暂时关闭皮皮岛的玛雅湾沙滩4个月，但随后宣布无限期延长关闭时间。近日，泰国政府又宣布，玛雅湾的关闭将持续到2021年。 玛雅湾位于甲米府小皮皮岛的西海岸，这里三面环山...</p>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>