<div class="padding">
	<div class="chart-list">
		<div class="table-tool">
				<div class="tool-row clearfix">
					<div class="tool-item">
						<label>待办事项：</label>
						<ul class="tab-list">
							<li class="tab-item">
								<a>关键词待审（8个）</a>
							</li>
							<li class="tab-item">
								<a>数据源待审（9个）</a>
							</li>
							<li class="tab-item">
								<a>建议（1个）</a>
							</li>
							<li class="tab-item">
								<a>持续关注（1个）</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		<div class="c-grid">
			<div class="c-g-15">
				<div class="com-sidebar-panel">
					<div class="panel-hd">
						<h2 class="panel-title">情感走势</h2>
						<div class="panel-extra">
							<ul class="sign">
								<li><img src="../assets/img/icon-yq1.png" />正面</li>
								<li><img src="../assets/img/icon-yq2.png" />负面</li>
							</ul>
						</div>
					</div>
					<div class="panel-bd">
						<div id="emotion" style="height:254px"></div>
					</div>
				</div>
			</div>
			<div class="c-g-9">
				<div class="com-sidebar-panel">
					<div class="panel-hd">
						<h2 class="panel-title">预警<span style="font-size: 14px; color: #666666;">（高敏感度级别）</span></h2>
					</div>
					<div class="panel-bd">
						<ul class="com-disorder-list large">
							<li class="ng-scope">
								<a class="ng-binding">街头表演艺术家与他演技爆棚的狗子 | </a>
							</li>
							<li class="ng-scope">
								<a class="ng-binding">#吃货游世界# 【菠萝咕老肉】一道酸甜</a>
							</li>
							<li class="ng-scope">
								<a class="ng-binding">#飞猪福利社# 转我这条，加抽1台价值</a>
							</li>
							<li class="ng-scope">
								<a class="ng-binding">直击球赛新花young，探索旅程新风景</a>
							</li>
							<li class="ng-scope">
								<a class="ng-binding">直击球赛新花young，探索旅程新风景</a>
							</li>
							<li class="ng-scope">
								<a class="ng-binding">转发微博</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>