<div class="chart-list">
	<div class="c-section">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-extra">
					<a class="coll-section-more" href="javascript:void(0);">进入</a>
				</div>
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">舆情平台</h2></div>
			</div>
			<div class="coll-section-bd">
				<div class="c-grid">
					<div class="c-g-15">
						<div class="com-sidebar-panel">
							<div class="panel-hd">
								<h2 class="panel-title">情感走势</h2>
								<div class="panel-extra">
									<ul class="sign">
										<li><img src="assets/img/icon-yq1.png"/>正面</li>
										<li><img src="assets/img/icon-yq2.png"/>负面</li>
										<li><img src="assets/img/icon-yq3.png"/>中性</li>
									</ul>
								</div>
							</div>
							<div class="panel-bd">
								<div style="height: 254px;"><img src="assets/img/img-yq-e4.png"/></div>
							</div>
						</div>
					</div>
					<div class="c-g-9">
						<div class="com-sidebar-panel">
							<div class="panel-hd">
								<h2 class="panel-title">报警提醒</h2>
								<div class="panel-extra">
									<a href="javascript:void(0);" target="_blank" class="panel-extra-link">更多&gt;&gt;</a>
								</div>
							</div>
							<div class="panel-bd">
								<ul class="com-disorder-list large">
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
									<li>
										<a href="javascript:void(0);" target="_blank">台旅游协会：免费落地签有望再延3个月</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-section">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-extra">
					<a class="coll-section-more" href="javascript:void(0);">进入</a>
				</div>
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">旅游产品平台</h2></div>
			</div>
			<div class="coll-section-bd">
				<div class="com-sidebar-panel">
					<div class="panel-hd">
						<h2 class="panel-title">城市概览</h2>
					</div>
					<div class="panel-bd">
						<div class="c-grid">
							<div class="c-g-15"><img src="assets/img/img-yq-e5.png" /></div>
							<div class="c-g-9">
								<table class="table1">
									<thead>
										<tr><th>城市</th><th>景点数</th><th>产品数</th></tr>
									</thead>
									<tbody>
										<tr><td>桂林</td><td>899</td><td>458</td></tr>
										<tr><td>贺州</td><td>457</td><td>248</td></tr>
										<tr><td>梧州</td><td>500</td><td>375</td></tr>
										<tr><td>柳州</td><td>200</td><td>482</td></tr>
										<tr><td>来宾</td><td>145</td><td>531</td></tr>
										<tr><td>贵港</td><td>136</td><td>320</td></tr>
										<tr><td>玉林</td><td>400</td><td>829</td></tr>
										<tr><td>河池</td><td>580</td><td>199</td></tr>
										<tr><td>南宁</td><td>621</td><td>210</td></tr>
										<tr><td>钦州</td><td>199</td><td>332</td></tr>
										<tr><td>百色</td><td>235</td><td>398</td></tr>
										<tr><td>崇州</td><td>456</td><td>298</td></tr>
										<tr><td>防城港市</td><td>622</td><td>147</td></tr>
										<tr><td>北海</td><td>146</td><td>685</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-section">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-extra">
					<a class="coll-section-more" href="javascript:void(0);">进入</a>
				</div>
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">采招平台</h2></div>
			</div>
			<div class="coll-section-bd">
				<div class="com-sidebar-panel">
					<div class="panel-bd">
						<table class="table2">
							<tbody>
								<tr>
									<td class="name">广西旅游局互联网旅游产品采购项目开标</td>
									<td class="sponsor">广西旅游局</td>
									<td class="time">2019-11-1</td>
								</tr>
								<tr>
									<td class="name">广西旅游局互联网旅游产品采购项目开标</td>
									<td class="sponsor">广西旅游局</td>
									<td class="time">2019-11-1</td>
								</tr>
								<tr>
									<td class="name">广西旅游局互联网旅游产品采购项目开标</td>
									<td class="sponsor">广西旅游局</td>
									<td class="time">2019-11-1</td>
								</tr>
								<tr>
									<td class="name">广西旅游局互联网旅游产品采购项目开标</td>
									<td class="sponsor">广西旅游局</td>
									<td class="time">2019-11-1</td>
								</tr>
								<tr>
									<td class="name">广西旅游局互联网旅游产品采购项目开标</td>
									<td class="sponsor">广西旅游局</td>
									<td class="time">2019-11-1</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-section">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-extra">
					<a class="coll-section-more" href="javascript:void(0);">进入</a>
				</div>
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">旅游教育平台</h2></div>
			</div>
			<div class="coll-section-bd">
				<div class="com-sidebar-panel">
					<div class="panel-hd">
						<h2 class="panel-title">职位总数走势</h2>
					</div>
					<div class="panel-bd">
						<img src="assets/img/img-yq-e6.png" width="100%" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
