<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--页面分析-->
		<div class="c-cont data-box">
			<table class="table-text">
				<thead>
					<tr>
						<th width="200">标签名称</th>
						<th>内容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>文章标题</td>
						<td>董明珠的资本运作是一步险棋一着不慎很可能满盘皆输</td>
					</tr>
					<tr>
						<td>文章地址</td>
						<td>http://finance.eastmoney.com/news/1344,201812091002319795.html</td>
					</tr>
					<tr>
						<td>情感主题</td>
						<td>中性</td>
					</tr>
					<tr>
						<td>情感分析</td>
						<td>格力电器：利空51%, 珠海银隆：重大利空，32%</td>
					</tr>
					<tr>
						<td>文章摘要</td>
						<td>明珠入股珠海银隆的资金基本上都是借款，并且至少有8・5亿元的借款来自格力电器的经销商，问题就更严重了。董明珠个人入股珠海银隆，这事原来大家都没细想，现在随着更多细节曝光，让人感觉这事很不简单。另外2・5亿元则是由时任珠海银隆童事长魏银仓向另一位合作伙伴挪借的，后来时任珠海银隆总经理孙国华为此承担了4000万元的利息。2018年8月23日，董明珠向银隆集团发出债权债务抵销通知，2018年8月22日，北京格力与湖北格力将借款合同项下对银隆集团的全部债权转让给了董明珠。这显然跟董明珠的格力电器掌门人身份有关。问题并没有到此为止，董明珠后来通过各种手段逐步夺取了珠海银隆的实际控制权。</td>
					</tr>
					<tr>
						<td>主题观点</td>
						<td>董明珠入股珠海银隆，银隆集团的全部债权转让给了董明珠,夺取了珠海银隆的实际控制权</td>
					</tr>
					<tr>
						<td>关系提取</td>
						<td>董明珠:实际控制：珠海银隆，［董明珠:个人入股:珠海银隆］</td>
					</tr>
					<tr>
						<td>行业板块</td>
						<td>家电行业</td>
					</tr>
					<tr>
						<td>地域板块</td>
						<td>广东板块</td>
					</tr>
					<tr>
						<td>关键词</td>
						<td>'董明珠'：37,格力电器:24, ¹珠海银隆14, 银隆新能源¹ 42</td>
					</tr>
					<tr>
						<td>人物</td>
						<td>董明珠 80%, 孙国华 12%,魏银仓 8%</td>
					</tr>
					<tr>
						<td>公司／机构</td>
						<td>珠海银隆，格力电器,朗迪集团</td>
					</tr>
					<tr>
						<td>资讯分类</td>
						<td>资本运作30%，投資25%, 股票20%,信贷15%, 经济发展11%, 股权8%</td>
					</tr>
					<tr>
						<td>发布时间</td>
						<td>2018年12月09日</td>
					</tr>
					<tr>
						<td>资讯分类</td>
						<td>证券市场红周刊</td>
					</tr>
					<tr>
						<td>文章作者</td>
						<td>胡东辉</td>
					</tr>
					<tr>
						<td>转载网站</td>
						<td>百度新闻，北京商报，全景网，东方财富，中金在线</td>
					</tr>
					<tr>
						<td>相关人们关键词</td>
						<td>中国企业家，芯片，雷军，新能源</td>
					</tr>
					<tr>
						<td>热门产业专题</td>
						<td>芯片产业，家用电器，智能制造，中国制造</td>
					</tr>
					<tr>
						<td>评论数</td>
						<td>133</td>
					</tr>
					<tr>
						<td>话题热度</td>
						<td>7.5 （文章关键词与高频词比较）</td>
					</tr>
					<tr>
						<td>统计时间</td>
						<td>2018年12月09日19:24</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>