<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item {{channel == 'all' ? 'actived' : ''}}" ng-click="setChannel('all')">全部渠道</div>
				<div class="c-selectarea-item {{channel == 'website' ? 'actived' : ''}}" ng-click="setChannel('website')">网站</div>
				<div class="c-selectarea-item {{channel == 'weibo' ? 'actived' : ''}} " ng-click="setChannel('weibo')">微博</div>
				<div class="c-selectarea-item {{channel == 'wechat' ? 'actived' : ''}}" ng-click="setChannel('wechat')">微信</div>

			</div>
		</div>

		<!--文章-->
		<div class="c-cont tab">
			<div class="tab-nav">
				<ul class="tab-nav-list">
					<li class="tab-nav-item {{type == 'all' ? 'actived' : ''}}" ng-click="setType('all')"><span>全部</span></li>
					<li class="tab-nav-item {{type == 'active' ? 'actived' : ''}}" ng-click="setType('active')"><span>正面</span></li>
					<li class="tab-nav-item {{type == 'negtive' ? 'actived' : ''}}" ng-click="setType('negtive')"><span>负面</span></li>
					<li class="tab-nav-item {{type == 'middle' ? 'actived' : ''}}" ng-click="setType('middle')"><span>中性</span></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane actived">

					<!--文章列表-->
					<div class="col-article-list">
						<div class="com-article-panel" ng-repeat="item in data" ui-sref="app.news_detail({id: item.result.article_id})">
							<div class="com-article-panel-body">
								<span class="type {{(!item.result.postive || item.result.postive > 0.6 ) ? 'type1' : (item.result.postive < 0.4 ? 'type2' : 'type3')}}">{{(!item.result.postive || item.result.postive > 0.6) ? '正面' : (item.result.postive < 0.4 ? '负面' : '中性')}}</span>
								<h3 class="com-article-panel-title"><a ui-sref="app.news_detail">{{item.result.title}}</a></h3>
								<div class="com-article-panel-info"><span>{{item.result.publish_time}}</span><span>来源：{{item.result.source_name}}</span><a class="news-analyse" href="javascript:void(0);" ui-sref="app.news_analyse">页面分析</a></div>
								<p class="com-article-panel-desc">
									<a href="javascript:void(0);" ui-sref="app.news_detail">{{item.result.desc}}</a>
								</p>
							</div>
						</div>
					</div>

					<!--分页-->
					<div class="pageation" style="text-align:center">
						<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>