<div ng-include="apiInclude + 'head_nav.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item actived">全部渠道</div>
				<div class="c-selectarea-item">网站</div>
				<div class="c-selectarea-item">论坛</div>
				<div class="c-selectarea-item">微博</div>
				<div class="c-selectarea-item">微信</div>
				<div class="c-selectarea-item">我的收藏</div>

			</div>
		</div>

		<!--文章-->
		<div class="c-cont">
			<div class="pg-article">
				<h1 class="col-article-title">第九届“金貔貅奖”暨首届中国金融科技榜单新鲜出炉</h1>
				<div class="col-article-info">
					<span>2018-11-25 19:00:00</span><span>关键词：互联网</span><span>情感分析：正面</span><span>来源：新浪网</span>
				</div>
				<div class="col-article">
					<p>近年来，中国的金融科技行业发展迅速，目前已经成为全球公认的第一大金融科技市场。</p>
					<p>以人工智能、大数据、云计算、区块链等为代表的新兴技术迅速渗透到传统金融领域，提升了金融机构的服务能力，扩展了金融服务的覆盖范围，实现了业务流程优化与监管可穿透，营造了良好的生态环境，科技与金融的融合已经成为行业的大势所趋。Fintech(金融科技)，这种撕裂传统金融服务方式的高新技术，自兴起之时，热度就从未褪去过。</p>
					<p>为促进国内金融科技市场的蓬勃发展，提升竞争力，12月18日，由易趣财经主办，《金融理财》杂志社协办、Fintech发现承办的“2018年度‘金貔貅奖’暨首届中国金融科技创新与发展论坛”在北京·中诚信征信大厦拉开帷幕。此次盛会的主题为“聚·思·变”，并发布了益普索《中国金融科技创新蓝皮书》，翘首以盼的首届金融科技“金貔貅奖”共计40个奖项新鲜出炉。</p>
					<p>本届论坛深刻剖析了金融科技热潮下的场景应用与发展趋势，邀请了业内金融监管、行业协会领导、机构高管和专家学者等共同探讨金融科技如何赋能B端、科技如何助力消费金融场景落地等热点话题。会议邀请到金融监管机构领导、行业协会领导、金融机构高管、业内知名专家等200余人出席。</p>
					<p>本届大会主席原中国保监会副主席魏迎宁为会议致开幕词，主办方易趣传媒总裁、《金融理财》杂志社社长石东致欢迎辞。中国银保监会党校常务副校长陈伟钢、原建行董事会秘书、中南财经政法大学特聘教授陈彩虹、中诚信征信总裁闫文涛、中国银行网络金融部总经理郭为民、中国工商银行城市金融研究所资深专家樊志刚、百舸金融智库创始人陈文以及开鑫金服产品总监胡汉光分别做了精彩的主旨演讲。</p>
					<p>与此同时，《金融理财》杂志社携手全球领先的市场研究集团益普索(Ipsos)联合发布了《中国金融科技创新蓝皮书》。该蓝皮书的调研目标人群为网贷、消费金融公司、支付公司的客户，共计4000个有效样本。此次调研以品牌力、收益力、成长力、服务力、风控力、创新力六个维度为评选标准，涵盖网贷、消费金融、保险科技、第三方支付、第三方理财等多个领域。</p>
					<p>本次活动的重头戏还有第九届“金貔貅奖”暨首份中国金融科技榜单新鲜出炉。“金貔貅奖”是继2010年首届中国金融理财TOP10总评榜的第九次评选。本次评奖通过第三方数据调研、网上投票选举、记者现场采访以及专家评审从综合实力、机构、人员、产品、推广和服务等多个维度进行评价，并最终得出公平公正的评选结果。此次的首份金融科技榜单是在“金貔貅奖”上的一个延伸与深化，专注于表彰金融科技企业在战略管理、产品创新、业务发展、市场推广、客户服务等方面的突出表现，是对行业整体发展的系统总结，并评出40个奖项。</p>
					<p>“2018年度第九届‘金貔貅奖’暨首届中国金融金融科技创新与发展论坛”，旨在促进国内金融科技领域的蓬勃发展、促进监管部门、金融机构和研究单位的交流与合作，搭建一个高端的专注金融科技业务的交流平台。</p>
					<p>作为中国首份专注于金融领域的高端个人理财类杂志，《金融理财》创刊于2007年10月，倡导“专业创造价值，意见成就财富”，悉心为50万高净值人士和群体性崛起的新富阶层提供财富管理意见与商业机会服务。《金融理财》始终以“做可信赖的理财顾问”为办刊宗旨;以“角度、深度、态度”为新闻理念，以“专注、专业、专享”的财经资讯和理财意见;深耕银行、保险、金融科技等金融机构的高净值客户，致力于打造中国最具影响力与投资价值的财富管理媒体。</p>
				</div>
				<ul class="col-slibing-articles">
					<li>
						<a href="javascript:void(0);">上一篇：ofo排队退押金人数突破1000万人 待退押金总额至少约10亿元</a>
					</li>
					<li>
						<a href="javascript:void(0);">下一篇：湖南信托回应被列入经营异常名录：工商登记信息有误</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>