<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item actived">全部渠道</div>
				<div class="c-selectarea-item">网站</div>
				<div class="c-selectarea-item">论坛</div>
				<div class="c-selectarea-item">微博</div>
				<div class="c-selectarea-item">微信</div>
				<div class="c-selectarea-item">我的收藏</div>

			</div>
		</div>

		<!--文章-->
		<div class="c-cont tab">
			<div class="tab-nav">
				<ul class="tab-nav-list">
					<li class="tab-nav-item actived"><span>全部</span></li>
					<li class="tab-nav-item"><span>正面</span></li>
					<li class="tab-nav-item"><span>负面</span></li>
					<li class="tab-nav-item"><span>中性</span></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane actived">

					<!--文章列表-->
					<div class="col-article-list">
						<div class="com-article-panel">
							<a href="javascript:void(0);" ui-sref="app.news_detail">
								<div class="com-article-panel-body">
									<span class="type type2">负面</span>
									<h3 class="com-article-panel-title">ofo排队退押金人数突破1000万人 待退押金总额至少约10亿元</h3>
									<div class="com-article-panel-info"><span>2018-11-25 19:00:00</span><span>关键词：互联网</span></div>
									<p class="com-article-panel-desc">根据国家企业信用信息公示系统（湖南）信息，湖南信托于今年12月13日被列入经营异常名录，原因为“公示企业信息隐瞒真实情况、弄虚作假”，作出决定机关为湖南省市场监督管理局。 因“弄虚作假”被列入经营异常名录？此事很快引发市场关注。</p>
								</div>
							</a>
						</div>
						<div class="com-article-panel">
							<a href="javascript:void(0);" ui-sref="app.news_detail">
								<div class="com-article-panel-body">
									<span class="type type1">正面</span>
									<h3 class="com-article-panel-title">第九届“金貔貅奖”暨首届中国金融科技榜单新鲜出炉</h3>
									<div class="com-article-panel-info"><span>2018-11-25 19:00:00</span><span>关键词：互联网</span></div>
									<p class="com-article-panel-desc">凤凰网WEMONEY讯 近年来，中国的金融科技行业发展迅速，目前已经成为全球公认的第一大金融科技市场。 以人工智能、大数据、云计算、区块链等为代表的新兴技术迅速渗透到传统金融领域，提升了金融机构的服务能力，扩展了金融服务的覆盖范围。</p>
								</div>
							</a>
						</div>
						<div class="com-article-panel">
							<a href="javascript:void(0);" ui-sref="app.news_detail">
								<div class="com-article-panel-body">
									<span class="type type3">中性</span>
									<h3 class="com-article-panel-title">湖南信托回应被列入经营异常名录：工商登记信息有误</h3>
									<div class="com-article-panel-info"><span>2018-11-25 19:00:00</span><span>关键词：互联网</span></div>
									<p class="com-article-panel-desc">根据国家企业信用信息公示系统（湖南）信息，湖南信托于今年12月13日被列入经营异常名录，原因为“公示企业信息隐瞒真实情况、弄虚作假”，作出决定机关为湖南省市场监督管理局。 因“弄虚作假”被列入经营异常名录？此事很快引发市场关注</p>
								</div>
							</a>
						</div>
						<div class="com-article-panel">
							<a href="javascript:void(0);" ui-sref="app.news_detail">
								<div class="com-article-panel-body">
									<span class="type type2">负面</span>
									<h3 class="com-article-panel-title">滴滴公布27项整改措施:逐步减少对不合规人员和车辆派单</h3>
									<div class="com-article-panel-info"><span>2018-11-25 19:00:00</span><span>关键词：互联网</span></div>
									<p class="com-article-panel-desc">（原标题：滴滴公布27项整改措施：逐步减少对不合规人员和车辆派单） 在收到11月28日交通运输新业态协同监管部际联席会议检查组关于安全专项检查工作的有关通报后，CEO程维领导的安全委员会立即召开内部专项会议，认真学习检查结果和整改要求。</p>
								</div>
							</a>
						</div>
						<div class="com-article-panel">
							<a href="javascript:void(0);" ui-sref="app.news_detail">
								<div class="com-article-panel-body">
									<span class="type type1">正面</span>
									<h3 class="com-article-panel-title">加媒:孟晚舟事件后 加拿大汽车行业担心失去中企投资</h3>
									<div class="com-article-panel-info"><span>2018-11-25 19:00:00</span><span>关键词：互联网</span></div>
									<p class="com-article-panel-desc">在收到11月28日交通运输新业态协同监管部际联席会议检查组关于安全专项检查工作的有关通报后，CEO程维领导的安全委员会立即召开内部专项会议，认真学习检查结果和整改要求。两周以来，我们就检查组提出的问题清单，对内部相关人员予以处理。</p>
								</div>
							</a>
						</div>
					</div>

					<!--分页-->
					<div class="pageation">
						<ul class="pageation-list">
							<li class="list-item">
								<a href="javascript:void(0);">上一页</a>
							</li>
							<li class="list-item actived">
								<a href="javascript:void(0);">1</a>
							</li>
							<li class="list-item">
								<a href="javascript:void(0);">2</a>
							</li>
							<li class="list-item">
								<a href="javascript:void(0);">3</a>
							</li>
							<li class="list-item disabled">
								<a href="javascript:void(0);">...</a>
							</li>
							<li class="list-item">
								<a href="javascript:void(0);">10</a>
							</li>
							<li class="list-item">
								<a href="javascript:void(0);">下一页</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>