<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--页面分析-->
		<div class="c-cont data-box">
			<table class="table-text">
				<thead>
					<tr>
						<th width="200">标签名称</th>
						<th>内容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>文章标题</td>
						<td>{{article.title}}</td>
					</tr>
					<tr>
						<td>文章地址</td>
						<td>{{article.source_url}}</td>
					</tr>
					<tr>
						<td>情感分析</td>
						<td>{{article.postive > 0.6? '正面'  : (article.postive > 0.4 ? '中性' : '负面')}}</td>
					</tr>
						<td>关键词</td>
						<td>{{article.keyword}}</td>
					</tr>
					<tr>
						<td>人物</td>
						<td></td>
					</tr>
					<tr>
						<td>摘要</td>
						<td>{{article.content}}</td>
					</tr>
					<tr>
						<td>发布时间</td>
						<td>{{article.publish_time}}</td>
					</tr>
					<tr>
						<td>资讯分类</td>
						<td>资讯</td>
					</tr>
					<tr>
						<td>文章作者</td>
						<td></td>
					</tr>
					<tr>
						<td>转载网站</td>
						<td>{{article.source_name}}</td>
					</tr>
					<tr>
						<td>相关人们关键词</td>
						<td></td>
					</tr>
					<tr>
						<td>评论数</td>
						<td></td>
					</tr>
					<tr>
						<td>话题热度</td>
						<td>7</td>
					</tr>
					<tr>
						<td>统计时间</td>
						<td>{{article.publish_time}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>