<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->

		<!--文章-->
		<div class="c-cont">
			<div class="pg-article">
				<h1 class="col-article-title">{{article.title}}</h1>
				<div class="col-article-info">
					<span>{{article.publish_time}}</span><span>情感分析：{{article.postive > 0.6 ? '正面' : (article.postive < 0.4 ? '负面' : '中性')}}</span><span>来源：{{article.source_name}}</span>
				</div>
				<div class="col-article">{{article.content}}</div>
			</div>
		</div>
	</div>
</div>