<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="event-data">
			<div class="com-event-panel">
				<div class="com-event-panel-body">
					<span class="about">相关文章：{{event.count}}</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">{{event.title}}</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：{{event.created | date: 'yyyy-MM-dd'}}</span>
						<!--<span>今日文章：9</span>-->
						<span>相关行业：{{event.industry}}</span>
						<span>相关地区：{{event.location}}</span>
						<!--<span>热度走势：↑</span>-->
					</div>
				</div>
			</div>

		</div>

		<div class="c-cont">

			<div class="col-article-list">
				<div class="com-article-panel" ng-repeat="row in list">
					<div class="com-article-panel-body">
						<h3 class="com-article-panel-title"><a ui-sref="app.news_detail({id: row.articleId})">{{row.title}}</a></h3>
						<div class="com-article-panel-info"><span>{{row.publish_time}}</span><span>来源：{{row.source_name}}</span></div>
						<p class="com-article-panel-desc">
							<a>{{row.content}}</a>
						</p>
					</div>
				</div>
				<div class="pageation" style="text-align:center">
					<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>

	</div>
</div>