<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>
<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box" style="min-height: auto;margin-bottom: 0px;">
			<div class="table-tool">
				<div class="tool-row clearfix">
					<img src="assets/img/icon-warn.png" style="float: left;width: 44px;height: 44px;" />
					<div class="tool-item" style="margin-top: 5px;">
						<label>舆情</label>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>级别</th>
						<th>类别</th>
						<th>时间</th>
						<th>来源</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>敏感/高度敏感</td>
						<td>大虾太贵了，坑人</td>
						<td>2019-03-27 15:52</td>
						<td>马蜂窝旅游</td>
						<td class="opt">
							<a href="javascript:void(0);">已读</a>
							<a href="javascript:void(0);">未读</a>
						</td>
					</tr>
					<tr>
						<td>敏感/高度敏感</td>
						<td>大虾太贵了，坑人</td>
						<td>2019-03-27 15:52</td>
						<td>马蜂窝旅游</td>
						<td class="opt">
							<a href="javascript:void(0);">已读</a>
							<a href="javascript:void(0);">未读</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<div class="chart-list c-grid">
	<div class="c-grid-layout" style="padding: 0;">
		<div class="c-g-24">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">情感走势</h2>
					<div class="panel-extra">
						<ul class="sign">
							<li><img src="assets/img/icon-yq1.png" />正面</li>
							<li><img src="assets/img/icon-yq2.png" />负面</li>
							<li><img src="assets/img/icon-yq3.png" />中性</li>
						</ul>
					</div>
				</div>
				<div class="panel-bd">
					<div id="emotion" style="height:280px"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area" style="margin-bottom: 1px;">
			<div class="c-area-con">
				<div class="c-selectarea-item {{channel == 'all' ? 'actived' : ''}}" ng-click="setChannel('all')">全部渠道</div>
				<div class="c-selectarea-item {{channel == 'website' ? 'actived' : ''}}" ng-click="setChannel('website')">网站</div>
				<div class="c-selectarea-item {{channel == 'weibo' ? 'actived' : ''}} " ng-click="setChannel('weibo')">微博</div>
				<div class="c-selectarea-item {{channel == 'wechat' ? 'actived' : ''}}" ng-click="setChannel('wechat')">微信</div>

			</div>
		</div>

		<!--文章-->
		<div class="c-cont tab">
			<div class="tab-nav">
				<ul class="tab-nav-list">
					<li class="tab-nav-item {{type == 'all' ? 'actived' : ''}}" ng-click="setType('all')"><span>全部</span></li>
					<li class="tab-nav-item {{type == 'active' ? 'actived' : ''}}" ng-click="setType('active')"><span>正面</span></li>
					<li class="tab-nav-item {{type == 'negtive' ? 'actived' : ''}}" ng-click="setType('negtive')"><span>负面</span></li>
					<li class="tab-nav-item {{type == 'middle' ? 'actived' : ''}}" ng-click="setType('middle')"><span>中性</span></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane actived">

					<!--文章列表-->
					<div class="col-article-list">
						<div class="com-article-panel" ng-repeat="item in data" ui-sref="app.news_detail({id: item.result.article_id})">
							<div class="com-article-panel-body">
								<span class="type {{(!item.result.postive || item.result.postive > 0.6 ) ? 'type1' : (item.result.postive < 0.4 ? 'type2' : 'type3')}}">{{(!item.result.postive || item.result.postive > 0.6) ? '正面' : (item.result.postive < 0.4 ? '负面' : '中性')}}</span>
								<h3 class="com-article-panel-title"><a ui-sref="app.news_detail">{{item.result.title ? item.result.title : (item.result.content.length > 20 ? item.result.content.substr(0, 19) : item.result.content)}}</a></h3>
								<div class="com-article-panel-info"><span>{{item.result.publish_time}}</span><span>来源：{{item.result.source_name}}</span><a class="news-analyse" href="javascript:void(0);" ui-sref="app.news_analyse">页面分析</a></div>
								<p class="com-article-panel-desc">
									<a href="javascript:void(0);" ui-sref="app.news_detail">{{item.result.desc}}</a>
								</p>
							</div>
						</div>
					</div>

					<!--分页-->
					<div class="pageation" style="text-align:center">
						<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>