<div class="main">
	
	<div class="banner-box" style="background-image: url(assets/img/img-yqd-banner.png);"></div>
	
	<div class="c-section c-p-y-tall bg-color entry-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="doc-entry-mod header c-grid">
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqd1.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">舆情监测</h4>
								<p class="c-media-info">用户自定义关键词<br />实现舆情信息监测</p>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqd2.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">舆情预警</h4>
								<p class="c-media-info">支持邮件，微信，<br />app等多重提醒方式</p>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqd3.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">舆情分析</h4>
								<p class="c-media-info">微信，微博，论坛<br />等多种分析模型</p>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqd4.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">舆情报告</h4>
								<p class="c-media-info">支持定制专业的舆<br />情报告</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="c-section c-p-y-tall dp-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="dp-item c-g-12">
						<h2 class="tit">数据采集</h2>
						<div class="dp-list clearfix">
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">微博</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
						</div>
					</div>
					<div class="dp-item c-g-12">
						<h2 class="tit">数据采集</h2>
						<div class="dp-list clearfix">
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">微博</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
							<a href="javascript:void(0);" class="c-btn">网站</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section c-p-y-tall bg-color sphere-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd1.png" />
							<a href="javascript:void(0);" class="text">政府机关</a>
						</div>
					</div>

					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd2.png" />
							<a href="javascript:void(0);" class="text">企业机构</a>
						</div>
					</div>
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd3.png" />
							<a href="javascript:void(0);" class="text">学校科研</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section sol-contact">
		<div class="c-section-inner">
			<div class="c-section-bd clearfix">
				<div class="sol-contact-inner">
					<div class="sol-contact-box">
						<div class="sol-contact-hd">
							<h2 class="sol-contact-tit">马上开始使用，体验精彩服务</h2></div>
						<div class="sol-contact-ft">
							<div class="sol-contact-btn">
								<a href="javascript:void(0);" class="c-btn">开始使用</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>