<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item actived">报警条件设置</div>
				<div class="c-selectarea-item">推送渠道设置</div>
			</div>
		</div>

		<!--报警条件设置-->
		<div class="c-cont data-box">
			<form class="form-horizontal">
				<div class="form-group">
					<label>指定来源：</label>
					<div class="cont text-list">
						<div class="text">www.sina.com</div>
						<div class="text">www.taobao.com</div>
					</div>
				</div>
				<div class="form-group">
					<label>阅读量阙值：</label>
					<div class="cont">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label>评论数阙值：</label>
					<div class="cont">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label>转发数阙值：</label>
					<div class="cont">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label>负面情绪阙值：</label>
					<div class="cont">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="cont send-btn-box">
						<button type="button" class="c-btn">保&nbsp;存</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>