<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">

		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的内容" class="tool-control" ng-model="filter">
						<button type="button" class="c-btn" ng-click="doFilter()">搜索</button>
					</div>
				</div>
			</div>

			<!--事件列表-->
			<div class="col-event-list">
				<div class="com-event-panel" ng-repeat="row in list">
					<div class="com-event-panel-body">
						<span class="about">相关文章：{{row.count}}</span>
						<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail({eventId: row.id})">{{row.title}}</a></h3>
						<div class="com-event-panel-info">
							<span>发布时间：{{row.created | date: 'yyyy-MM-dd'}}</span>
							<!--<span>今日文章：9</span>-->
							<span>相关行业：{{row.industry}}</span>
							<span>相关地区：{{row.location}}</span>
							<!--<span>热度走势：↑</span>-->
						</div>
					</div>
				</div>
				<div class="pageation" style="text-align:center">
					<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
				</div>

				<!--分页-->
			</div>
		</div>

	</div>
</div>