<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>
<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box" style="min-height: auto;margin-bottom: 0px;">
			<div class="table-tool">
				<div class="tool-row clearfix">
					<img src="assets/img/icon-warn.png" style="float: left;width: 44px;height: 44px;" />
					<div class="tool-item" style="margin-top: 5px;">
						<label>舆情</label>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>级别</th>
						<th>内容</th>
						<th>时间</th>
						<th>来源</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in notifications" >
						<td>{{item.postive <0.2 ? '高度敏感': (item.postive <0.4 ? ' 敏感' : '正常')}}</td>
						<td>{{item.title}}</td>
						<td>{{item.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{item.source_name}}</td>
						<td class="opt">
							<a ng-click="goDetail(item)">{{item.status == 1 ? '未读': '已读'}}</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<div class="chart-list c-grid">
	<div class="c-grid-layout" style="padding: 0;">
		<div class="c-g-24">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">情感走势</h2>
					<div class="panel-extra">
						<ul class="sign">
							<li><img src="assets/img/icon-yq1.png" />正面</li>
							<li><img src="assets/img/icon-yq2.png" />负面</li>
						</ul>
					</div>
				</div>
				<div class="panel-bd">
					<div id="emotion" style="height:400px"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="c-section c-main">-->
	<!--<div class="c-section-inner">-->
		<!--&lt;!&ndash;筛选&ndash;&gt;-->
		<!--<div class="c-area" style="margin-bottom: 1px;">-->
			<!--<div class="c-area-con">-->
				<!--<div class="c-selectarea-item {{channel == 'all' ? 'actived' : ''}}" ng-click="setChannel('all')">全部渠道</div>-->
				<!--<div class="c-selectarea-item {{channel == 'website' ? 'actived' : ''}}" ng-click="setChannel('website')">网站</div>-->
				<!--<div class="c-selectarea-item {{channel == 'weibo' ? 'actived' : ''}} " ng-click="setChannel('weibo')">微博</div>-->
				<!--<div class="c-selectarea-item {{channel == 'wechat' ? 'actived' : ''}}" ng-click="setChannel('wechat')">微信</div>-->

			<!--</div>-->
		<!--</div>-->

		<!--&lt;!&ndash;文章&ndash;&gt;-->
		<!--<div class="c-cont tab">-->
			<!--&lt;!&ndash;<div class="tab-nav">&ndash;&gt;-->
				<!--&lt;!&ndash;<ul class="tab-nav-list">&ndash;&gt;-->
					<!--&lt;!&ndash;<li class="tab-nav-item {{type == 'all' ? 'actived' : ''}}" ng-click="setType('all')"><span>全部</span></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li class="tab-nav-item {{type == 'active' ? 'actived' : ''}}" ng-click="setType('active')"><span>正面</span></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li class="tab-nav-item {{type == 'negtive' ? 'actived' : ''}}" ng-click="setType('negtive')"><span>负面</span></li>&ndash;&gt;-->
					<!--&lt;!&ndash;<li class="tab-nav-item {{type == 'middle' ? 'actived' : ''}}" ng-click="setType('middle')"><span>中性</span></li>&ndash;&gt;-->
				<!--&lt;!&ndash;</ul>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--<div class="tab-content">-->
				<!--<div class="tab-pane actived">-->

					<!--&lt;!&ndash;文章列表&ndash;&gt;-->
					<!--<div class="col-article-list">-->
						<!--<div class="com-article-panel" ng-repeat="item in data">-->
							<!--<div class="com-article-panel-body">-->
								<!--&lt;!&ndash;<span class="type {{(!item.result.postive || item.result.postive > 0.6 ) ? 'type1' : (item.result.postive < 0.4 ? 'type2' : 'type3')}}">{{(!item.result.postive || item.result.postive > 0.6) ? '正面' : (item.result.postive < 0.4 ? '负面' : '中性')}}</span>&ndash;&gt;-->
								<!--<h3 class="com-article-panel-title"><a ui-sref="app.news_detail({id: item.result.article_id})">{{item.result.title ? item.result.title : (item.result.content.length > 20 ? item.result.content.substr(0, 19) : item.result.content)}}</a></h3>-->
								<!--<div class="com-article-panel-info"><span>{{item.result.publish_time}}</span><span>来源：{{item.result.source_name}}</span><a class="news-analyse" href="javascript:void(0);" ui-sref="app.news_analyse({id: item.result.article_id})">页面分析</a><a ng-show="item.result.postive < 0.2" class="news-analyse" href="javascript:void(0);" ui-sref="app.follow({id: item.result.article_id})">走势分析</a></div>-->
								<!--<p class="com-article-panel-desc">-->
									<!--<a href="javascript:void(0);" ui-sref="app.news_detail">{{item.result.desc}}</a>-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--&lt;!&ndash;分页&ndash;&gt;-->
					<!--<div class="pageation" style="text-align:center">-->
						<!--<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>-->

					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->
<!--</div>-->