<style type="text/css">
	.channel-set .icheckbox_square-blue,
	.channel-set .iradio_square-blue {
		margin-top: 0;
	}
	
	.data-box .channel-set {
		width: 810px;
	}
	
	.f-set-item {
		padding: 10px 0;
	}
	
	.f-set-item .i-checks {
		float: left;
		width: 80px;
		padding: 12px 0;
		line-height: 20px;
	}
	
	.f-set-item .f-set-con {
		float: right;
		width: 720px;
	}
	
	.f-set-item .f-set-con .c-control {
		float: left;
		width: 220px;
		margin-left: 20px;
	}
	
	.f-set-item .f-set-con .img {
		width: 134px;
		height: 134px;
		margin: 10px 0 10px 20px;
	}
	
	.data-box .send-btn-box {
		padding: 40px 0 20px 0;
		border-top: 1px solid #e8e8e8;
	}
	
	.data-box .send-btn-box .c-btn {
		width: auto;
		border-radius: 2px;
		margin-left: 165px;
	}
</style>
<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-area">
			<div id="selectTab" class="c-area-con">
				<div class="c-selectarea-item actived">报警条件设置</div>
				<div class="c-selectarea-item ">推送渠道设置</div>
			</div>
		</div>

		<div class="c-cont">

			<!--报警条件设置-->
			<div class="tab-pane tab-pane1 actived">
				<!--筛选-->
				<div class="custom-data clearfix">
					<div class="tit">默认</div>
					<div class="text">（打开开关对所有数据源启用默认设置，关闭启用自定义设置）</div>
					<div class="switch">
						<input type="checkbox" ng-model="!specify" ng-change="updateSpecify()" />
						<label></label>
					</div>
				</div>

				<div class="tab">
					<div class="tab-nav">
						<ul class="tab-nav-list">
							<li class="tab-nav-item actived"><span>默认</span></li>
							<li class="tab-nav-item"><span>自定义</span></li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane tab-pane2 actived">
							<div class="data-box">
								<table class="table-data">
									<thead>
										<tr>
											<th class="tl" width="120px">指定来源</th>
											<th class="tl">全部数据源</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="tl">阅读量阙值</td>
											<td class="tl"><input type="text" class="form-control"  ng-model="default.readNum" placeholder="文章被转发超过该值会触发报警提醒，主要针对微博类数据使用，建议值100,设置为0不触发预警" /></td>
										</tr>
										<tr>
											<td class="tl">评论数阙值</td>
											<td class="tl"><input type="text" class="form-control" ng-model="default.discussNum" placeholder="文章被评论超过该值会触发报警提醒，主要针对微博类数据使用，建议值100,设置为0不触发预警" /></td>
										</tr>
										<tr>
											<td class="tl">转发数阙值</td>
											<td class="tl"><input type="text" class="form-control" ng-model="default.shareNum" placeholder="文章被转发超过该值会触 报警提醒，主要针对微博类数据使用，建议值100,设置为0不触发预警" /></td>
										</tr>
										<tr>
											<td class="tl">负面情绪阙值</td>
											<td class="tl"><input type="text" class="form-control" ng-model="default.negValue" placeholder="文章情感值小于该值会触发报警，针对所有数据类型，建议值0.2,设置为0不触发预警" /></td>
										</tr>
									</tbody>
								</table>
								<div class="send-btn-box">
									<button type="button" class="c-btn pull-right" ng-click="updateDefault()">保&nbsp;存</button>
								</div>
							</div>
						</div>

						<div class="tab-pane tab-pane2">
							<div class="data-box subtab">
								<div class="table-tool">
									<div class="tool-row clearfix">
										<div class="tool-l">
											<div class="tool-item">
												<ul class="tab-list">
													<li class="tab-item actived">
														<a ng-click="setTab(1)">指定数据源</a>
													</li>
													<li class="tab-item">
														<a ng-click="setTab(2)">自定义阈值</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="tool-r">
											<div class="tool-item search-input clearfix">
												<input type="text" placeholder="请输入您要查找的url" class="tool-control" ng-model="filter">
												<button type="button" class="c-btn" ng-click="doFilter1()">搜索</button>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane tab-pane3 actived">
									<table class="table-data">
										<thead>
											<tr>
												<th>名称</th>
												<th>地址</th>
												<th><a ng-click="showModal('all')">批量设置阈值</a></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in sources">
												<td>{{item.sourceName}}</td>
												<td>{{item.sourceUrl}}</td>
												<td>
													<div class="i-checks">
														<label><input type="checkbox" class="icheckbox_square-blue" ng-model="item.checked" ng-click="sourceClicked(item)"></label>
														<a ng-show="item.checked" ng-click="showModal(item)">设置阈值</a>
													</div>
												</td>
											</tr>
											<tr class="white b-white"  >
												<td colspan="10" class="white b-white text-center">
													<ul class="pagination" uib-pagination total-items="bigTotalItems1" ng-model="bigCurrentPage1" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged1()"></ul>

												</td>
											</tr>
										</tbody>
									</table>
									<!--分页-->
								</div>
								<div class="tab-pane tab-pane3">
									<table class="table-data">
										<thead>
											<tr>
												<th>来源名称</th>
												<th>来源url</th>
												<th>阅读量阈值</th>
												<th>评论数阈值</th>
												<th>转发数阈值</th>
												<th>负面情绪阈值</th>
												<th>阈值操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>全部</td>
												<td>全部</td>
												<td><input type="text" class="form-control" ng-model="readNum1" /></td>
												<td><input type="text" class="form-control" ng-model="discussNum1" /></td>
												<td><input type="text" class="form-control" ng-model="shareNum1" /></td>
												<td><input type="text" class="form-control" ng-model="negValue1" /></td>
												<td class="opt">
													<a class="edit-btn" ng-click="saveAll()">保存</a>
												</td>
											</tr>
											<tr ng-repeat="item in settings">
												<td>{{item.sourceName}}</td>
												<td>{{item.sourceUrl}}</td>
												<td><input type="text" ng-model="item.readNum" class="form-control" /></td>
												<td><input type="text" ng-model="item.discussNum" class="form-control" /></td>
												<td><input type="text" ng-model="item.shareNum" class="form-control" /></td>
												<td><input type="text" ng-model="item.negValue" class="form-control" /></td>
												<td class="opt">
													<a class="edit-btn" ng-click="updteSpecify(item)">保存</a>
													<a class="edit-btn" ng-click="deleteWarningSet(item)">删除</a>
												</td>
											</tr>
											<tr class="white b-white"  >
												<td colspan="10" class="white b-white text-center">
													<ul class="pagination" uib-pagination total-items="bigTotalItems2" ng-model="bigCurrentPage2" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged2()"></ul>

												</td>
											</tr>
										</tbody>
									</table>
									<!--分页-->
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!--推送渠道设置-->
			<div class="tab-pane tab-pane1">
				<form class="data-box">
					<div class="c-f-list channel-set">
						<div class="f-set-item clearfix">
							<div class="i-checks">
								<label><input type="checkbox" ng-model="message_warn" ng-change="updateUserWarn()" class="icheckbox_square-blue" id="c1">短信</label>
							</div>
							<div class="f-set-con">
								<input type="text" class="c-control" ng-model="phone1" />
								<input type="text" class="c-control" ng-model="phone2" />
								<input type="text" class="c-control" ng-model="phone3" />
							</div>
						</div>
						<div class="f-set-item clearfix">
							<div class="i-checks">
								<label><input type="checkbox" ng-model="wechat_warn" ng-change="updateUserWarn()" class="icheckbox_square-blue"  id="c2" >微信</label>
							</div>
							<div class="f-set-con"><img class="img" src="assets/img/img-qr-code.png" alt="" /></div>
						</div>
						<div class="f-set-item clearfix">
							<div class="i-checks">
								<label><input type="checkbox" ng-model="app_warn" ng-change="updateUserWarn()" class="icheckbox_square-blue">APP</label>
							</div>
							<div class="f-set-con"><img class="img" src="assets/img/img-qr-code.png" alt="" /></div>
						</div>
						<div class="f-set-item clearfix">
							<div class="i-checks">
								<label><input type="checkbox" ng-model="email_warn" ng-change="updateUserWarn()" class="icheckbox_square-blue"  id="c3" >邮件</label>
							</div>
							<div class="f-set-con">
								<input type="text" class="c-control" ng-model="email1" />
								<input type="text" class="c-control" ng-model="email2"  />
								<input type="text" class="c-control" ng-model="email3"  />
							</div>
						</div>
					</div>
					<div class="send-btn-box">
						<button type="button" class="c-btn pull-right" ng-click="updateWarnInfo()">保&nbsp;存</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<label class="c-f-list-tit"><span>确定删除报警设置？</span></label>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-send" ng-click="deleteWarningSet()">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">报警条件设置</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>指定来源</span></label>
						<div class="c-f-list-con">
							<input type="text" disabled ng-model="set.sourceName" class="c-control" disabled>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>阅读量阙值</span></label>
						<div class="c-f-list-con">
							<input type="number" id="tt" ng-model="set.readNum" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>评论数阙值</span></label>
						<div class="c-f-list-con">
							<input type="number" ng-model="set.discussNum"   class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>转发数阙值</span></label>
						<div class="c-f-list-con">
							<input type="number"  ng-model="set.shareNum"  class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>负面情绪阙值</span></label>
						<div class="c-f-list-con">
							<input type="number" ng-model="set.negValue" class="c-control">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="updateSet()">确定</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#selectTab .c-selectarea-item').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
		$('.tab-pane1').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	});

	$('.tab-nav .tab-nav-item').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
		$('.tab-pane2').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	});

	$('.tab-list li').click(function() {
		var panel = $(this).closest(".subtab");
		$(this).addClass('actived').siblings().removeClass('actived');
		$('.tab-pane3').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	})
</script>