<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="custom-data clearfix">
			<div class="tit">自定义数据源{{choose}}</div>
			<div class="switch">
				<input type="checkbox" ng-model="custom"  ng-change="sourceChanged()" />
				<label></label>
			</div>
		</div>
		<div class="c-cont data-box">
			<div ng-show="custom">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<button type="button" class="tool-item c-btn" data-toggle="modal" data-target="#myModal">添加</button>
					</div>
				</div>

				<table class="table-data">
					<thead>
						<tr>
							<th>名称</th>
							<th>地址</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in sources">
							<td>{{item.sourceName}}</td>
							<td>{{item.sourceUrl}}</td>
							<td class="opt">
								<a ng-click="showDeleteModal(item)">删除</a>
							</td>
						</tr>
						<tr class="white b-white"  ng-show="sources.length > 10">
							<td colspan="10" class="white b-white text-center">
								<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">添加数据源</h4>
			</div>
			<div class="modal-body">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<div class="tool-item search-input clearfix">
							<input type="text" placeholder="请输入您要查找的url"  ng-model="filter" class="tool-control" ng-change="fetchSource()">
							<button type="button" class="c-btn">搜索</button>
						</div>
					</div>
				</div>
				<table class="table-data">
					<thead>
						<tr>
							<th>地址</th>
							<th width="65">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in urls">
							<td>{{item.result.website_url}}</td>
							<td class="opt">
								<a ng-click="addSource(item)">添加</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<label class="c-f-list-tit"><span>确定删除数据源？</span></label>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="deleteDataSource()">确定</button>
			</div>
		</div>
	</div>
</div>