<style type="text/css">
	.analysis-mod.header {
		margin-left: -10px;
		margin-right: -10px;
	}
	
	.analysis-mod .c-media {
		box-shadow: #ccc 0 0 3px;
		transition: all .4s;
		padding: 40px 10px 40px 10px;
	}
	
	.analysis-mod .c-media:hover {
		transition: all .4s;
		transform: translate3d(0, -4px, 0)
	}
	
	.analysis-mod .c-media-heading {
		color: #000
	}
	
	.analysis-mod.header .c-media:hover .c-media-heading {
		color: #00a4ff
	}
	
	.analysis-mod .c-media-body {
		margin-top: 13px
	}
	
	.analysis-mod .c-media-info {
		text-align: center;
		height: 44px;
		line-height: 22px;
		margin-top: 1px
	}
	
	.analysis-mod .c-media-img {
		width: 48px;
		height: 48px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
	}
	
	.analysis-mod .c-media-img img {
		width: 100%;
		position: relative;
	}
	
	.analysis-mod.header {
		margin-left: -10px;
		margin-right: -10px
	}
	
	.analysis-mod .form-inline {
		text-align: center;
		padding-top: 15px;
	}
	
	.analysis-mod .form-inline .form-control {
		width: 150px;
	}
	
	.analysis-mod .form-inline label {
		font-weight: normal;
	}
	
	.analysis-box {
		margin-bottom: 40px;
	}
	
	.analysis-box .c-control {
		height: 188px;
		line-height: 22px;
	}
	
	.analysis-box .c-control textarea {
		width: 100%;
		height: 176px;
		line-height: 22px;
		resize: none;
		outline: 0;
		border: 0;
	}
	
	.analysis-box .c-btn {
		width: 100%;
		border-radius: 2px;
		margin-top: 76px;
	}
	
	.analysis-box .img {
		display: block;
		width: 90px;
		height: 90px;
		margin: 43px auto 0 auto;
	}
</style>

<div class="main">
	<div class="c-section c-p-y-tall entry-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="analysis-mod header c-grid">
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan1.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">数据源</h4>
								<p class="c-media-info ellipsis-2">咨询、社交、政务、电声、微信、微博、APP</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>页</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan2.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">领域词典</h4>
								<p class="c-media-info ellipsis-2">分词、行业词、正面词、负面词、中心词、热词</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>个</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan3.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">语义分析</h4>
								<p class="c-media-info ellipsis-2">阅读、国际、国家级、省级、市县级、政务、企业、个人</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>次</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan4.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">报警机制</h4>
								<p class="c-media-info ellipsis-2">短信、微博、APP、email</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>次</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan5.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">分析报告</h4>
								<p class="c-media-info ellipsis-2">日报、周报、月报、季报、年报</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>份</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section c-p-y-tall bg-color">
		<div class="c-section-inner analysis-box">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">分词</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-11">
						<div class="c-control">
							<textarea name="" rows="8" placeholder="请输入一段文字"></textarea>
						</div>
					</div>
					<div class="c-g-2">
						<button type="button" class="c-btn">解析</button>
					</div>
					<div class="c-g-11">
						<div class="c-control"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-section-inner analysis-box">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">测词</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-11">
						<div class="c-control">
							<textarea name="" rows="8" placeholder="请输入一段文字"></textarea>
						</div>
					</div>
					<div class="c-g-2">
						<button type="button" class="c-btn">解析</button>
					</div>
					<div class="c-g-11">
						<div class="c-control">
							<img class="img" src="assets/img/icon-an1.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>