<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="custom-data clearfix">
			<div class="tit">默认</div>
			<div class="text">（打开开关对启用所有数据源启，关闭启用自定义数据源）</div>
			<div class="switch">
				<input type="checkbox" ng-model="!custom" ng-change="sourceChanged()" />
				<label></label>
			</div>
		</div>
		<div class="custom-data clearfix">
			<div class="tit">自定义数据源</div><span class="pull-right">(报警设置->自定义->指定数据源，查看已选择的数据源列表)</span>
		</div>
		
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<div class="tool-item">
						<label>种类：</label>
						<select class="tool-control" ng-model="type2">
							<option value="all">全部</option>
							<option value="1">咨询</option>
							<option value="3">政府</option>
							<option value="2">教育</option>
						</select>
					</div>
					<div class="tool-item">
						<label>渠道：</label>
						<select class="tool-control" ng-model="channel2">
							<option value="all">全部</option>
							<option value="1">网站</option>
							<option value="3">微信</option>
							<option value="2">微博</option>
						</select>
						</select>
					</div>
				</div>
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的url" ng-model="filter2" class="tool-control">
						<button type="button" class="c-btn"  ng-click="fetchSource()">搜索</button>
					</div>
				</div>
			</div>
			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>地址</th>
						<th>种类</th>
						<th>渠道</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in urls">
						<td>{{item.result.website}}</td>
						<td>{{item.result.website_url}}</td>
						<td>{{types[item.result.website_type]}}</td>
						<td>{{channels[item.result.sourcetype]}}</td>
						<td class="opt">
							<div class="i-checks">
								<label><input type="checkbox" class="icheckbox_square-blue" ng-model="item.result.checked" ng-click="dateSourceClicked(item.result)"></label>
							</div>
						</td>
					</tr>
					<tr class="white b-white"  >
						<td colspan="10" class="white b-white text-center">
							<ul class="pagination" uib-pagination total-items="bigTotalItems2" ng-model="bigCurrentPage2" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged2()"></ul>

						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->

		</div>
		<div class="c-cont data-box" style="margin-top: 10px;">
			<span style="color: red">找不到？添加吧</span>
			<div class="table-tool clearfix">
				<div class="tool-l">
					<div class="tool-item">
						<label>种类：</label>
						<select class="tool-control" ng-model="type1">
							<option value="all">全部</option>
							<option value="1">咨询</option>
							<option value="3">政府</option>
							<option value="2">教育</option>
						</select>
					</div>
					<div class="tool-item">
						<label>渠道：</label>
						<select class="tool-control" ng-model="channel1">
							<option value="all">全部</option>
							<option value="1">网站</option>
							<option value="3">微信</option>
							<option value="2">微博</option>
						</select>
					</div>
				</div>
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的内容" ng-model="filter1" class="tool-control">
						<button type="button" class="c-btn"  ng-click="doFilter1()">搜索</button>
					</div>
					<button type="button" class="tool-item c-btn" ng-click="showMyModel()">添加</button>
				</div>
			</div>
			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>地址</th>
						<th>状态</th>
						<th>种类</th>
						<th>渠道</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in dataSourceRequest">
						<td>{{item.sourceName}}</td>
						<td>{{item.sourceUrl}}</td>
						<td><span  class="{{item.status == 'waiting' ? 'red' : 'green'}}">{{item.status == 'waiting' ? '待审核' : '已添加'}}</span></td>
						<td>{{types[item.type]}}</td>
						<td>{{channels[item.channel]}}</td>
					</tr>
					<tr class="white b-white"  >
						<td colspan="10" class="white b-white text-center">
							<ul class="pagination" uib-pagination total-items="bigTotalItems1" ng-model="bigCurrentPage1" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged1()"></ul>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">添加数据源</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>名称</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control" ng-model="request.sourceName">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>地址</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control" ng-model="request.sourceUrl">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>种类</span></label>
						<div class="c-f-list-con">
							<select class="c-control" ng-model="request.type">
								<option value="1">咨询</option>
								<option value="3">政府</option>
								<option value="2">教育</option>
							</select>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>渠道</span></label>
						<div class="c-f-list-con">
							<select class="c-control"  ng-model="request.channel">
								<option value="1">网站</option>
								<option value="3">微信</option>
								<option value="2">微博</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="addSourceRequest()">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<label class="c-f-list-tit"><span>确定删除数据源？</span></label>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="deleteDataSource()">确定</button>
			</div>
		</div>
	</div>
</div>