<div class="chart-list c-grid">
	<div class="c-grid-layout">
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">今日采集</h2>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-yq-e1.png" width="100%" />
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">历史采集</h2>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-yq-e2.png" width="100%" />
				</div>
			</div>
		</div>
		<div class="c-g-24">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">情感走势</h2>
					<div class="panel-extra">
						<ul class="sign">
							<li><img src="assets/img/icon-yq1.png" />正面</li>
							<li><img src="assets/img/icon-yq2.png" />负面</li>
							<li><img src="assets/img/icon-yq3.png" />中性</li>
						</ul>
					</div>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-yq-e3.png" width="100%" />
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">热门事件</h2>
					<div class="panel-extra">
						<a href="javascript:void(0);" target="_blank" class="panel-extra-link">更多&gt;&gt;</a>
					</div>
				</div>
				<div class="panel-bd">
					<ul class="com-disorder-list large">
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">台旅游协会：免费落地签有望再延3个月</div><span class="num num1">100</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">印尼预计2019年吸引350万中国游客</div><span class="num num1">99</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">2018年全国新建改扩建旅游厕所近2.4万座</div><span class="num num2">80</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">故宫年接待观众量首破1700万人次</div><span class="num num3">77</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">促进旅游品牌升级 2018发展论坛在京召开</div><span class="num num3">52</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">舆情警告</h2>
					<div class="panel-extra">
						<a href="javascript:void(0);" target="_blank" class="panel-extra-link">更多&gt;&gt;</a>
					</div>
				</div>
				<div class="panel-bd">
					<ul class="com-disorder-list large">
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">台旅游协会：免费落地签有望再延3个月</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">印尼预计2019年吸引350万中国游客</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">2018年全国新建改扩建旅游厕所近2.4万座</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">故宫年接待观众量首破1700万人次</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">促进旅游品牌升级 2018发展论坛在京召开</div><span class="time">2018-12-15</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">微博热点</h2>
					<div class="panel-extra">
						<a href="javascript:void(0);" target="_blank" class="panel-extra-link">更多&gt;&gt;</a>
					</div>
				</div>
				<div class="panel-bd">
					<ul class="com-disorder-list large">
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">台旅游协会：免费落地签有望再延3个月</div><span class="num num1">100</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">印尼预计2019年吸引350万中国游客</div><span class="num num1">99</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">2018年全国新建改扩建旅游厕所近2.4万座</div><span class="num num2">80</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">故宫年接待观众量首破1700万人次</div><span class="num num3">77</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">促进旅游品牌升级 2018发展论坛在京召开</div><span class="num num3">52</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">热门微博</h2>
					<div class="panel-extra">
						<a href="javascript:void(0);" target="_blank" class="panel-extra-link">更多&gt;&gt;</a>
					</div>
				</div>
				<div class="panel-bd">
					<ul class="com-disorder-list large">
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">台旅游协会：免费落地签有望再延3个月</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">印尼预计2019年吸引350万中国游客</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">2018年全国新建改扩建旅游厕所近2.4万座</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">故宫年接待观众量首破1700万人次</div><span class="time">2018-12-15</span></a>
						</li>
						<li>
							<a href="javascript:void(0);" target="_blank" class="clearfix"><div class="tit">促进旅游品牌升级 2018发展论坛在京召开</div><span class="time">2018-12-15</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>