<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">

		<div class="c-cont data-box">
			<form class="c-f-list">
				<div class="f-list-item">
					<label class="c-f-list-tit"><span>标题</span></label>
					<div class="c-f-list-con">
						<input type="text" class="c-control" ng-model="title">
					</div>
				</div>
				<div class="f-list-item">
					<label class="c-f-list-tit"><span>描述</span></label>
					<div class="c-f-list-con">
						<textarea name="content" rows="6" class="c-control" ng-model="content"></textarea>
					</div>
				</div>
				<div class="f-list-item">
					<div class="c-f-list-con send-btn-box">
						<button type="button" class="c-btn" ng-click="add()">提&nbsp;交</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>