<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<style type="text/css">
	html,
	body,
	.app {
		min-height: 965px;
		height: 100%;
	}
	
	.app-body {
		min-height: 678px;
		height: calc(100% - 40px - 247px);
	}
	
	.c-main {
		min-height: 623px;
		height: calc(100% - 55px);
	}
	
	.c-section-inner,
	.c-section-inner .c-grid,
	.c-section-inner .c-grid-layout,
	.c-section-inner .c-g-16,
	.c-section-inner .c-g-8 {
		height: 100%;
	}
	
	.c-section-inner .c-cont {
		height: calc(100% - 82px);
		min-height: auto;
	}
	
	.c-section-inner .c-cont .tab-pane {
		height: calc(100% - 34px);
		overflow: hidden;
	}
	
	.c-cont .table-tool {
		margin-bottom: 0;
	}
	
	.kwd-list {
		min-height: 372px;
		height: calc(100% - 45px);
		padding: 5px;
		border: 1px solid #e5e5e5;
		overflow: auto;
		margin-top: 20px;
	}
	
	.tab-nav~.kwd-list {
		min-height: 320px;
		height: calc(100% - 45px - 52px);
	}
	
	.kwd-list li {
		width: 25%;
		float: left;
		color: #444;
		line-height: 24px;
		padding: 5px 8px;
	}
	
	.ellipsis {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.c-grid {
		margin: 0 -10px;
	}
	
	.kwd-foot {
		color: #999;
		text-align: right;
		padding-top: 5px;
	}
	
	.kwd-foot .sum {
		margin: 0 5px;
	}
	
	.c-cont-l {
		padding: 12px 20px 20px 20px;
		background-color: #fff;
		overflow: hidden;
		margin-top: 10px;
	}
	
	.c-cont-l:first-child {
		margin-top: 0;
	}
	
	.c-cont-l .section-title {
		color: #333;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		margin-bottom: 15px;
	}
	
	.c-cont-l .section-title .num {
		color: #00a4ff;
		margin: 0 5px;
	}
	
	.add-kwd-box {
		min-height: 360px;
		height: calc(100% - 213px);
	}
	
	.add-kwd-list {
		min-height: 264px;
		height: calc(100% - 29px - 35px);
		margin: 0 -10px -10px 0;
		overflow: auto;
	}
	
	.add-kwd-list li {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
	}
	
	.add-kwd-list a {
		padding: 0 10px;
		height: 26px;
		max-width: none;
		display: block;
		vertical-align: middle;
		margin-right: 10px;
		margin-bottom: 10px;
		border-radius: 2px;
		color: #666;
		border: 1px solid #E8ECF3;
		background-color: #fff;
		position: relative;
	}
	
	.add-kwd-list a .text {
		font-size: 12px;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.add-kwd-list a .del {
		position: absolute;
		top: 0;
		right: 0;
		width: 14px;
		color: #FE7902;
		line-height: 22px;
		text-align: center;
		padding-right: 2px;
		border-radius: 50%;
		opacity: 0;
	}
	
	.add-kwd-list a:hover {
		padding: 0 14px 0 6px;
		border-color: #FE7902;
		background-color: #FAECE0;
		color: #FE7902;
	}
	
	.add-kwd-list a:hover .del {
		opacity: 1;
	}
	
	.add-kwd-foot {
		padding: 15px 0 0 0;
	}
	
	.add-kwd-foot .page-num,
	.add-kwd-foot .page-btn {
		float: left;
		color: #999;
		font-size: 14px;
		margin-right: 15px;
	}
	
	.add-kwd-foot .page-btn:hover {
		text-decoration: underline;
		color: #00a4ff;
	}
	
	.c-cont-l .table-tool {
		margin-bottom: 0;
	}
	
	.c-cont-l .table-tool .tool-item {
		float: none;
		margin-left: 0;
		margin-top: 15px;
	}
	
	.c-cont-l .table-tool .tool-item:first-child {
		margin-top: 0;
	}
	
	.c-cont-l .tool-item label {
		width: 68px;
		color: #666;
		text-align: right;
		padding-right: 8px;
	}
	
	.c-cont-l .tool-item .tool-control {
		width: 270px;
		margin-right: 0px;
	}
	
	.c-cont-l .table-tool .c-btn {
		width: 100%;
	}
</style>

<div class="c-section c-main">
	<div class="c-section-inner">

		<div class="c-grid">
			<div class="c-grid-layout">
				<div class="c-g-16">

					<div class="c-area clearfix">
						<div id="selectTab" class="c-area-con">
							<div class="c-selectarea-item actived">分词词库</div>
							<div class="c-selectarea-item">行业基础词库</div>
							<div class="c-selectarea-item">正面词</div>
							<div class="c-selectarea-item">负面词</div>
							<div class="c-selectarea-item">热词</div>
						</div>
					</div>

					<div class="c-cont data-box">
						<div class="table-tool clearfix">
							<div class="tool-r">
								<div class="tool-item search-input clearfix">
									<input type="text" placeholder="请输入您要查找的内容" ng-model="filter" class="tool-control">
									<button type="button" class="c-btn" ng-click="doFilter()">搜索</button>
								</div>
							</div>
						</div>
						<div class="tab-pane actived">
							<ul class="kwd-list clearfix">
								<li class="ellipsis">汉服文件节</li>
								<li class="ellipsis">贝里卢度假区</li>
								<li class="ellipsis">服务态度好</li>
								<li class="ellipsis">风景优美</li>
								<li class="ellipsis">价格低廉</li>
								<li class="ellipsis">樱花节</li>
								<li class="ellipsis">游客很多</li>
								<li class="ellipsis">门票免费</li>
								<li class="ellipsis">各种各样的美食</li>
								<li class="ellipsis">武汉大学樱花</li>
								<li class="ellipsis">情人园郁金香花园</li>
								<li class="ellipsis">牡丹国花园</li>
								<li class="ellipsis">无量山樱花谷</li>
								<li class="ellipsis">交通便捷，环境优美</li>
								<li class="ellipsis">清远薰衣草世界</li>
								<li class="ellipsis">东方普罗旺斯薰衣草庄园</li>
								<li class="ellipsis">萤火虫主题公园</li>
								<li class="ellipsis">游乐设施齐全</li>
								<li class="ellipsis">空中玻璃走廊</li>
								<li class="ellipsis">服务态度差</li>
								<li class="ellipsis">风景一般</li>
								<li class="ellipsis">2019广西十大旅游景点</li>
								<li class="ellipsis">通石岭国际旅游度假区</li>
								<li class="ellipsis">度假度假度假区和梦山县</li>
								<li class="ellipsis">梁育生公园公园山区城市公园</li>
								<li class="ellipsis">北城市和北流市</li>
								<li class="ellipsis">贝里卢国际旅游度假区</li>
								<li class="ellipsis">大新德天瀑布旅游区</li>
								<li class="ellipsis">百色乐业大石围天坑群旅游景区</li>
								<li class="ellipsis">清远薰衣草世界</li>
								<li class="ellipsis">东方普罗旺斯薰衣草庄园</li>
								<li class="ellipsis">萤火虫主题公园</li>
								<li class="ellipsis">游乐设施齐全</li>
								<li class="ellipsis">空中玻璃走廊</li>
								<li class="ellipsis">桂林两江四湖景区</li>
								<li class="ellipsis">桂林乐满地度假世界</li>
								<li class="ellipsis">桂林漓江景区</li>
								<li class="ellipsis">钦州三娘湾旅游景区</li>
								<li class="ellipsis">北海银滩国家旅游度假区</li>
								<li class="ellipsis">广西龙头旅游景区</li>
								<li class="ellipsis">宜州下枧河</li>
							</ul>
							<div class="kwd-foot">共<span class="sum">41</span>个</div>
						</div>
						<div class="tab-pane">
							<div class="tab-nav">
								<ul class="tab-nav-list">
									<li class="tab-nav-item actived"><span>行政区域</span></li>
									<li class="tab-nav-item"><span>机构名称</span></li>
									<li class="tab-nav-item"><span>产品名称</span></li>
									<li class="tab-nav-item"><span>企业名称</span></li>
									<li class="tab-nav-item"><span>领导姓名</span></li>
									<li class="tab-nav-item"><span>会议会奖</span></li>
									<li class="tab-nav-item"><span>其他</span></li>
								</ul>
							</div>
							<ul class="kwd-list clearfix">
								<li class="ellipsis">服务态度好</li>
								<li class="ellipsis">风景优美</li>
								<li class="ellipsis">价格低廉</li>
								<li class="ellipsis">樱花节</li>
								<li class="ellipsis">游客很多</li>
								<li class="ellipsis">门票免费</li>
								<li class="ellipsis">各种各样的美食</li>
								<li class="ellipsis">武汉大学樱花</li>
								<li class="ellipsis">情人园郁金香花园</li>
								<li class="ellipsis">牡丹国花园</li>
								<li class="ellipsis">无量山樱花谷</li>
								<li class="ellipsis">交通便捷，环境优美</li>
								<li class="ellipsis">清远薰衣草世界</li>
								<li class="ellipsis">东方普罗旺斯薰衣草庄园</li>
								<li class="ellipsis">萤火虫主题公园</li>
								<li class="ellipsis">游乐设施齐全</li>
								<li class="ellipsis">空中玻璃走廊</li>
								<li class="ellipsis">服务态度差</li>
								<li class="ellipsis">风景一般</li>
								<li class="ellipsis">桂林两江四湖景区</li>
								<li class="ellipsis">桂林乐满地度假世界</li>
								<li class="ellipsis">桂林漓江景区</li>
								<li class="ellipsis">钦州三娘湾旅游景区</li>
								<li class="ellipsis">桂林漓江景区</li>
								<li class="ellipsis">北海银滩国家旅游度假区</li>
								<li class="ellipsis">2019广西十大旅游景点</li>
								<li class="ellipsis">通石岭国际旅游度假区</li>
								<li class="ellipsis">大新德天瀑布旅游区</li>
								<li class="ellipsis">百色乐业大石围天坑群旅游景区</li>
								<li class="ellipsis">广西龙头旅游景区</li>
								<li class="ellipsis">宜州下枧河</li>
							</ul>
							<div class="kwd-foot">共<span class="sum">31</span>个</div>
						</div>
						<div class="tab-pane">
							<ul class="kwd-list clearfix">
								<li class="ellipsis">服务态度好</li>
								<li class="ellipsis">风景优美</li>
								<li class="ellipsis">价格低廉</li>
								<li class="ellipsis">樱花节</li>
								<li class="ellipsis">游客很多</li>
								<li class="ellipsis">门票免费</li>
								<li class="ellipsis">各种各样的美食</li>
								<li class="ellipsis">武汉大学樱花</li>
								<li class="ellipsis">情人园郁金香花园</li>
								<li class="ellipsis">牡丹国花园</li>
								<li class="ellipsis">无量山樱花谷</li>
								<li class="ellipsis">交通便捷，环境优美</li>
								<li class="ellipsis">清远薰衣草世界</li>
								<li class="ellipsis">东方普罗旺斯薰衣草庄园</li>
								<li class="ellipsis">萤火虫主题公园</li>
								<li class="ellipsis">游乐设施齐全</li>
								<li class="ellipsis">空中玻璃走廊</li>
								<li class="ellipsis">2019广西十大旅游景点</li>
								<li class="ellipsis">通石岭国际旅游度假区</li>
								<li class="ellipsis">桂林两江四湖景区</li>
								<li class="ellipsis">桂林乐满地度假世界</li>
								<li class="ellipsis">桂林漓江景区</li>
								<li class="ellipsis">钦州三娘湾旅游景区</li>
								<li class="ellipsis">桂林漓江景区</li>
								<li class="ellipsis">北海银滩国家旅游度假区</li>
							</ul>
							<div class="kwd-foot">共<span class="sum">25</span>个</div>
						</div>
						<div class="tab-pane">
							<div class="tab-nav">
								<ul class="tab-nav-list">
									<li class="tab-nav-item actived"><span>高度敏感</span></li>
									<li class="tab-nav-item"><span>敏感</span></li>
								</ul>
							</div>
							<ul class="kwd-list clearfix">
								<li class="ellipsis">服务态度差</li>
								<li class="ellipsis">风景一般</li>
								<li class="ellipsis">湖水不干净很脏</li>
								<li class="ellipsis">景区地面垃圾多</li>
								<li class="ellipsis">门票收费太高</li>
							</ul>
							<div class="kwd-foot">共<span class="sum">5</span>个</div>
						</div>
						<div class="tab-pane">
							<ul class="kwd-list clearfix">
								<li class="ellipsis">2019广西十大旅游景点</li>
								<li class="ellipsis">通石岭国际旅游度假区</li>
								<li class="ellipsis">服务态度好</li>
								<li class="ellipsis">风景优美</li>
								<li class="ellipsis">价格低廉</li>
								<li class="ellipsis">樱花节</li>
								<li class="ellipsis">游客很多</li>
								<li class="ellipsis">门票免费</li>
								<li class="ellipsis">各种各样的美食</li>
								<li class="ellipsis">武汉大学樱花</li>
								<li class="ellipsis">情人园郁金香花园</li>
								<li class="ellipsis">牡丹国花园</li>
								<li class="ellipsis">无量山樱花谷</li>
								<li class="ellipsis">交通便捷，环境优美</li>
								<li class="ellipsis">清远薰衣草世界</li>
								<li class="ellipsis">东方普罗旺斯薰衣草庄园</li>
								<li class="ellipsis">萤火虫主题公园</li>
								<li class="ellipsis">游乐设施齐全</li>
								<li class="ellipsis">空中玻璃走廊</li>
								<li class="ellipsis">服务态度差</li>
								<li class="ellipsis">风景一般</li>
							</ul>
							<div class="kwd-foot">共<span class="sum">21</span>个</div>
						</div>
					</div>
				</div>
				<div class="c-g-8">
					<div class="c-cont-l">
						<div class="section-title">添加关键词</div>
						<div class="table-tool">
							<div class="tool-item clearfix">
								<label>领域词典</label>
								<select class="tool-control">
									<option>分词词库</option>
									<option>行业基础词库</option>
									<option>正面词</option>
									<option>负面词</option>
									<option>热词</option>
								</select>
							</div>
							<div class="tool-item clearfix">
								<label>关键词</label>
								<input type="text" ng-model="word" class="tool-control">
							</div>
							<button type="button" class="tool-item c-btn" ng-click="addKeyWord()">提&nbsp;交</button>
						</div>
					</div>
					<div class="c-cont-l add-kwd-box">
						<div class="section-title">已添加<span class="num">200</span>个关键词</div>
						<ul class="add-kwd-list clearfix">
							<li>
								<a href="javascript:void(0);">
									<div class="text">风景秀丽</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">口碑好</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">性价比高</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">便宜实惠</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">桂林景点</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">文化底蕴深</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">口碑好评价高</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">杜鹃谷</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">桃花山</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">桂林</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">汉服旅游文化节</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">郁金香展</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">拍照圣地</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">庙会 美食 活动</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">特产</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">景色宜人</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">十里画廊</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">杜鹃谷</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">旅游团</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">桂林 旅游</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">北海涠洲岛攻略</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">新手游桂林</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">庙会 美食 活动</div>
									<span class="del">×</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									<div class="text">广西自驾游攻略</div>
									<span class="del">×</span>
								</a>
							</li>
						</ul>
						<div class="add-kwd-foot clearfix">
							<a class="page-btn" href="javascript:void(0);">上一页</a>
							<span class="page-num">第1/2页</span>
							<a class="page-btn" href="javascript:void(0);">下一页</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$('#selectTab .c-selectarea-item').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
		$('.tab-pane').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	});

	$('.tab-nav .tab-nav-item').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
	});
</script>