<table class="statistics-table">
	<tbody>
		<tr>
			<td rowspan="2" style="width: 25%;">
				<div class="title">敏感信息</div>
				<div class="sensitive-list">
					<div class="sensitive-item">
						<div class="tit"><span class="num">1</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
					<div class="sensitive-item">
						<div class="tit"><span class="num">2</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
					<div class="sensitive-item">
						<div class="tit"><span class="num">3</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
					<div class="sensitive-item">
						<div class="tit"><span class="num">4</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
					<div class="sensitive-item">
						<div class="tit"><span class="num">5</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
					<div class="sensitive-item">
						<div class="tit"><span class="num">6</span>足协已与里皮进行过1次续约谈判，若成功将冲击2022</div>
						<div class="info">
							<div class="time">04月20 10：04</div>
							<div class="by">突袭网</div>
						</div>
					</div>
				</div>
			</td>
			<td colspan="2">
				<div class="main-statistics clearfix">
					<div class="main-info">
						<div class="title"><span class="time">2018年04月20日 10：40：20</span>
							<div class="title2">舆情追踪</div>
						</div>
						<div class="ps-cont cont">
							<table class="table main-table">
								<tbody>
									<tr>
										<td colspan="4" class="topic">
											<span class="topic-text">强制一小时购物<i class="num">20000</i>元</span>
										</td>
									</tr>
									<tr>
										<td class="tit" style="width: 35%;">评论</td>
										<td class="num num1" style="width: 15%;">4380</td>
										<td class="tit" style="width: 80px;">转发</td>
										<td class="num num2">278</td>
									</tr>
									<tr>
										<td class="tit">阅读</td>
										<td class="num num1">4380</td>
										<td class="tit">媒介</td>
										<td class="num num2">278</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="chart-r">
						<div class="title">实时走势</div>
						<div class="ps-cont">
							<div id="chart" style="width:100%;height:100%;min-height: 150px;"></div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td style="width: 50%;">
				<div class="title">舆情指数</div>
				<div class="ps-cont">
					<div id="chart2" style="width:100%;height:100%;min-height: 150px;"></div>
				</div>
			</td>
			<td>
				<div class="title">产品检测</div>
				<div class="ps-cont">
					<table class="table progress-table">
						<tbody>
							<tr>
								<td class="tit">携程</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 60%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">马蜂窝</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 40%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">同程</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 18%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">途牛</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 14%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">欣欣</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 14%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">驴妈妈</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 10%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">去哪儿</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 5%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">爱彼迎</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 5%"></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="title">来源统计</div>
				<div class="ps-cont">
					<table class="table progress-table source-table">
						<tbody>
							<tr>
								<td class="tit">微博</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 60%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">网站</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 40%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">客户端</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 30%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">微信</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 18%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">新闻</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 18%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">论坛</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 12%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">报刊</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 5%"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="tit">视频</td>
								<td class="num">
									<div class="progress">
										<div class="progress-bar" style="width: 5%"></div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
			<td>
				<div class="title">舆情指数</div>
				<div class="ps-cont">
					<div id="chart3" style="width:100%;height:100%;min-height: 150px;"></div>
				</div>
			</td>
			<td>
				<div class="title">参数统计</div>
				<div class="ps-cont">
					<table class="table parameter-table">
						<tbody>
							<tr>
								<td class="tit">报表报告</td>
								<td class="num">4380</td>
							</tr>
							<tr>
								<td class="tit">舆情预警</td>
								<td class="num">4380</td>
							</tr>
							<tr>
								<td class="tit">领域词典</td>
								<td class="num">438080</td>
							</tr>
							<tr>
								<td class="tit">语义分析</td>
								<td class="num">438080</td>
							</tr>
							<tr>
								<td class="tit">数据源</td>
								<td class="num">438080</td>
							</tr>
						</tbody>
					</table>
				</div>

			</td>
		</tr>
	</tbody>
</table>