<div ng-include="apiInclude + 'head_nav.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--设置-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<div class="tool-item">
						<label>数据源设置：</label>
						<select class="tool-control">
							<option>所有数据源</option>
							<option>自定义数据源</option>
						</select>
					</div>
					<div class="tool-item">
						<label>状态：</label>
						<select class="tool-control">
							<option>已添加</option>
							<option>未添加</option>
						</select>
					</div>
				</div>
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的关键词" class="tool-control">
						<button type="button" class="c-btn">搜索</button>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>地址</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>知乎旅行</td>
						<td>https://www.zhihu.com/topic/19551556/top-answers</td>
						<td class="opt">
							<a href="javascript:void(0);">添加</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>