<div class="main">
	<div class="c-section c-p-y-tall entry-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="analysis-mod header c-grid">
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan1.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">数据源</h4>
								<p class="c-media-info ellipsis-2">咨询、社交、政务、电声、微信、微博、APP</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>页</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan2.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">领域词典</h4>
								<p class="c-media-info ellipsis-2">分词、行业词、正面词、负面词、中心词、热词</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>个</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan3.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">语义分析</h4>
								<p class="c-media-info ellipsis-2">阅读、国际、国家级、省级、市县级、政务、企业、个人</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>次</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan4.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">报警机制</h4>
								<p class="c-media-info ellipsis-2">短信、微博、APP、email</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>次</label>
							</div>
						</div>
					</div>
					<div class="c-g-5">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-yqan5.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">分析报告</h4>
								<p class="c-media-info ellipsis-2">日报、周报、月报、季报、年报</p>
							</div>
						</a>
						<div class="form-inline">
							<div class="form-group">
								<input type="text" class="form-control" value="8888888888">
								<label>份</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section c-p-y-tall bg-color">
		<div class="c-section-inner analysis-box">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">分词</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-11">
						<div class="c-control">
							<textarea name="" rows="8" placeholder="请输入一段文字"></textarea>
						</div>
					</div>
					<div class="c-g-2">
						<button type="button" class="c-btn">解析</button>
					</div>
					<div class="c-g-11">
						<div class="c-control"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-section-inner analysis-box">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">测词</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-11">
						<div class="c-control">
							<textarea name="" rows="8" placeholder="请输入一段文字"></textarea>
						</div>
					</div>
					<div class="c-g-2">
						<button type="button" class="c-btn">解析</button>
					</div>
					<div class="c-g-11">
						<div class="c-control">
							<img class="img" src="assets/img/icon-an1.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>