<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box">
			<div class="table-tool">
				<div class="tool-row clearfix">
					<div class="tool-item">
						<label>生成报表：</label>
						<ul class="tab-list">
							<li class="tab-item {{state == 'all' ? 'actived' : ''}}">
									<a ng-click="setState('all')">全部</a>
							</li>
							<li class="tab-item {{state == 'daily' ? 'actived' : ''}}">
								<a ng-click="setState('daily')">日报</a>
							</li>
							<li class="tab-item {{state == 'weekly' ? 'actived' : ''}}">
								<a ng-click="setState('weekly')">周报</a>
							</li>
							<li class="tab-item {{state == 'monthly' ? 'actived' : ''}}">
								<a ng-click="setState('monthly')">月报</a>
							</li>
							<li class="tab-item {{state == 'seasonly' ? 'actived' : ''}}">
								<a ng-click="setState('seasonly')">季报</a>
							</li>
							<li class="tab-item {{state == 'yearly' ? 'actived' : ''}}">
								<a ng-click="setState('yearly')">年报</a>
							</li>
						</ul>
					</div>
					<div class="tool-item">
						<label>选择时间：</label>
						<input type="text" class="datepicker tool-control" name="start" ng-model="start" placeholder="开始时间" style="margin-right: 5px;" >
						<label>-</label>
						<input type="text" class="datepicker tool-control" name="end" ng-model="end" placeholder="结束时间" >
					</div>
					<button type="button" class="tool-item c-btn" style="float: right;" ng-click="doFilter()">查询</button>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>采集时间</th>
						<th>类别</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in reports">
						<td>{{item.start | date: 'yyyy-MM-dd'}} - {{item.end| date: 'yyyy-MM-dd'}}</td>
						<td>{{types[item.type]}}</td>
						<td class="opt">
							<a href="{{item.url}}">明细下载</a>
						</td>
					</tr>
					<tr class="white b-white"  >
						<td colspan="10" class="white b-white text-center">
							<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="chart-list c-grid">
				<div class="c-grid-layout" style="padding: 0;">
					<div class="c-g-24">
						<div class="com-sidebar-panel">
							<div class="panel-hd">
								<h2 class="panel-title">情感走势</h2>
								<div class="panel-extra">
									<ul class="sign">
										<li><img src="assets/img/icon-yq1.png" />正面</li>
										<li><img src="assets/img/icon-yq2.png" />负面</li>
										<li><img src="assets/img/icon-yq3.png" />中性</li>
									</ul>
								</div>
							</div>
							<div class="panel-bd">
								<div id="emotion" style="height:280px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$('.tab-list li').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
	})

	$(".datepicker").datepicker();
</script>