<div class="c-section c-main">
	<div class="c-section-inner">
		<!--设置-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的内容" class="form-control">
						<button type="button" class="c-btn">搜索</button>
					</div>
					<button type="button" class="tool-item c-btn">添加</button>
				</div>
			</div>
			
			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>旅游</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>教育</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>大学</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>应届生</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>科研</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>中科院</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>广西</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>桂林</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游</td>
						<td><button type="button" class="t-open-btn">启用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>酒店</td>
						<td><button type="button" class="t-close-btn">禁用</button></td>
						<td class="opt">
							<a href="javascript:void(0);">查看</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>