<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div id="selectTab" class="c-area-con">
				<div class="c-selectarea-item actived">报警条件设置</div>
				<div class="c-selectarea-item">推送渠道设置</div>
			</div>
		</div>

		<div class="c-cont data-box">
			<!--报警条件设置-->
			<div class="tab-pane actived">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<button type="button" class="tool-item c-btn" data-toggle="modal" data-target="#myModal">添加</button>
					</div>
				</div>
				<table class="table-data">
					<thead>
						<tr>
							<th>指定来源</th>
							<th>阅读量阙值</th>
							<th>评论数阙值</th>
							<th>转发数阙值</th>
							<th>负面情绪阙值</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>www.sina.com</td>
							<td>10000</td>
							<td>1804</td>
							<td>600</td>
							<td>18</td>
							<td class="opt">
								<a href="javascript:void(0);" class="edit-btn">编辑</a>
							</td>
						</tr>
						<tr>
							<td>www.taobao.com</td>
							<td>10000</td>
							<td>1804</td>
							<td>600</td>
							<td>18</td>
							<td class="opt">
								<a href="javascript:void(0);" class="edit-btn">编辑</a>
							</td>
						</tr>
						<tr>
							<td>www.sina.com</td>
							<td>10000</td>
							<td>1804</td>
							<td>600</td>
							<td>18</td>
							<td class="opt">
								<a href="javascript:void(0);" class="edit-btn">编辑</a>
							</td>
						</tr>
						<tr>
							<td>www.sina.com</td>
							<td>10000</td>
							<td>1804</td>
							<td>600</td>
							<td>18</td>
							<td class="opt">
								<a href="javascript:void(0);" class="edit-btn">编辑</a>
							</td>
						</tr>
						<tr>
							<td>www.sina.com</td>
							<td>10000</td>
							<td>1804</td>
							<td>600</td>
							<td>18</td>
							<td class="opt">
								<a href="javascript:void(0);" class="edit-btn">编辑</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--分页-->
				<div class="pageation">
					<ul class="pageation-list">
						<li class="list-item">
							<a href="javascript:void(0);">上一页</a>
						</li>
						<li class="list-item actived">
							<a href="javascript:void(0);">1</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">2</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">3</a>
						</li>
						<li class="list-item disabled">
							<a href="javascript:void(0);">...</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">10</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">下一页</a>
						</li>
					</ul>
				</div>
			</div>
			<!--推送渠道设置-->
			<div class="tab-pane">
				<form class="c-f-list channel-set">
					<div class="i-checks">
						<label><input type="checkbox" value="">短信</label>
					</div>
					<div class="i-checks">
						<label><input type="checkbox" value="">微信</label>
					</div>
					<div class="i-checks">
						<label><input type="checkbox" value="">邮件</label>
					</div>
					<div class="card-txt">相关渠道信息请到用户云平台->
						<a href="javascript:void(0);" ui-sref="app.my">账户管理</a>中进行绑定</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">报警条件设置</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>指定来源</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>阅读量阙值</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>评论数阙值</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>转发数阙值</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>负面情绪阙值</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send">确定</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#selectTab .c-selectarea-item').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
		$('.tab-pane').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	});

	$('.i-checks').iCheck({
		checkboxClass: 'icheckbox_square-blue'
	});

	$(".table-data .edit-btn").on("click", function() {
		$('#myModal').modal('show');
	})
</script>