<div ng-include="apiInclude + 'head_nav_pfs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="custom-data clearfix">
			<div class="tit">自定义数据源{{choose}}</div>
			<div class="switch">
				<input type="checkbox" ng-model="custom" ng-true-value="'yes'" ng-false-value="'no'" />
				<label></label>
			</div>
		</div>
		<div class="c-cont data-box">
			<div ng-show="custom=='yes'">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<button type="button" class="tool-item c-btn" data-toggle="modal" data-target="#myModal">添加</button>
					</div>
				</div>

				<table class="table-data">
					<thead>
						<tr>
							<th>名称</th>
							<th>地址</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">删除</a>
							</td>
						</tr>
					</tbody>
				</table>
				<!--分页-->
				<div class="pageation">
					<ul class="pageation-list">
						<li class="list-item">
							<a href="javascript:void(0);">上一页</a>
						</li>
						<li class="list-item actived">
							<a href="javascript:void(0);">1</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">2</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">3</a>
						</li>
						<li class="list-item disabled">
							<a href="javascript:void(0);">...</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">10</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);">下一页</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">添加数据源</h4>
			</div>
			<div class="modal-body">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<div class="tool-item search-input clearfix">
							<input type="text" placeholder="请输入您要查找的关键词" class="tool-control">
							<button type="button" class="c-btn">搜索</button>
						</div>
					</div>
				</div>
				<table class="table-data">
					<thead>
						<tr>
							<th>名称</th>
							<th>地址</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
						<tr>
							<td>知乎旅行</td>
							<td>https://www.zhihu.com/topic/19551556/top-answers</td>
							<td class="opt">
								<a href="javascript:void(0);">添加</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>