<div ng-include="apiInclude + 'banner.html'"></div>

<div class="main">

	<div class="c-section sphere-mod">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-extra">
					<a class="sphere-more" href="javascript:void(0);">更多产品&gt;&gt;</a>
				</div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-12">
						<div class="sphere-item"><img src="assets/img/img-pd1.png" />
							<a href="javascript:void(0);" class="text">数据采集平台</a>
						</div>
					</div>

					<div class="c-g-12">
						<div class="sphere-item"><img src="assets/img/img-pd2.png" />
							<a href="javascript:void(0);" class="text">智能舆情分析平台</a>
						</div>
					</div>
					<div class="c-g-12">
						<div class="sphere-item"><img src="assets/img/img-pd3.png" />
							<a href="javascript:void(0);" class="text">政府采招平台</a>
						</div>
					</div>
					<div class="c-g-12">
						<div class="sphere-item"><img src="assets/img/img-pd4.png" />
							<a href="javascript:void(0);" class="text">广西在线旅游产品分析</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section c-p-y-tall bg-color">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="header c-grid">
					<div class="c-g-10">
						<div class="pd-box">
							<h3 class="text">通过历年的客户分析，我们整理出具体的应用场景，供您参考，并能快速无忧的获取微博数据。</h3>
							<a class="coll-section-more" href="javascript:void(0);">获得免费咨询</a>
						</div>
					</div>
					<div class="c-g-7">
						<div class="pd-action">
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds1.png" alt="">
								<a href="javascript:void(0);">B2C 电子商务网站价格监测。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds2.png" alt="">
								<a href="javascript:void(0);">B2B 同业分销系统价格监测。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds3.png" alt="">
								<a href="javascript:void(0);">电子商务合规、网络执法。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds4.png" alt="">
								<a href="javascript:void(0);">项目可行性网络情报分析研究。</a>
							</div>
						</div>
					</div>
					<div class="c-g-7">
						<div class="pd-action">
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds5.png" alt="">
								<a href="javascript:void(0);">社交网络情报评论舆论监控。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds6.png" alt="">
								<a href="javascript:void(0);">媒体报道网络情报监控。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds7.png" alt="">
								<a href="javascript:void(0);">教育培训与就业市场分析研究。</a>
							</div>
							<div class="pd-action-item">
								<img class="pd-icon" src="../../assets/img/icon-pds8.png" alt="">
								<a href="javascript:void(0);">政府采购招标投标项目资源配对。</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="c-section c-p-y-tall pdbox-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="pd-mod header c-grid">
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-pd1.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">成为合作伙伴</h4>
								<p class="c-media-info">专注您的需求，达成您的目标，<br />最用心的工程师专门负责</p>
							</div>
							<div class="info">
								<div class="info-back">
									<p>专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，</p>
								</div>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-pd2.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">采集</h4>
								<p class="c-media-info">不论项目大小，为您采集任何<br />网站，并可扩大至东盟国家</p>
							</div>
							<div class="info">
								<div class="info-back">
									<p>专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，</p>
								</div>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-pd3.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">数据报告</h4>
								<p class="c-media-info">为您的业务采集少量的数据，<br />编制专业分析报告</p>
							</div>
							<div class="info">
								<div class="info-back">
									<p>专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，</p>
								</div>
							</div>
						</a>
					</div>
					<div class="c-g-6">
						<a href="javascript:void(0);" class="c-media">
							<div class="c-media-img">
								<img src="assets/img/icon-pd4.png">
							</div>
							<div class="c-media-body">
								<h4 class="c-media-heading">培训</h4>
								<p class="c-media-info">为您培训数据管理、分析、报告<br />的专职人员</p>
							</div>
							<div class="info">
								<div class="info-back">
									<p>专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，<br />专注您的需求，达成您的目标，</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<a class="coll-section-more" href="javascript:void(0);">专业咨询</a>
			</div>
		</div>
	</div>

</div>