<div ng-include="apiInclude + 'banner.html'"></div>

<div class="wrap">
	<div class="filter-menu-container">
		<div class="filter-list">
			<div class="filter-list-item">
				<div class="fli-title">产品类型：</div>
				<div class="fli-list-container">
					<ul class="fli-list">
						<li class="list-item actived">
							<a href="javascript:void(0);" class="item-link">全部</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);" class="item-link">旅游</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);" class="item-link">教育</a>
						</li>
						<li class="list-item">
							<a href="javascript:void(0);" class="item-link">政务</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="sticky-navbar">
		<span class="sticky-navbar-item actived">共<i class="num">6</i>款旅游类产品</span>
	</div>

	<div class="prouduct-list">
		<ul class="c-grid">
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn open">开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn open">开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn open">开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn opening">已开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn opening">已开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
			<li class="c-g-8">
				<div class="prouduct-item">
					<h3 class="title">广西在线旅游产品分析平台</h3>
					<div class="price">￥8000/年</div>
					<button type="button" class="btn opening">已开通</button>
					<a class="more" href="javascript:void(0);">了解详情</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$('.fli-list li').click(function() {
		$(this).addClass('actived').siblings().removeClass('actived');
	})
</script>
