<div ng-include="apiInclude + 'head_nav_bps.html'"></div>
<style type="text/css">
    .tool-control {
        width: 270px;
        margin-right: 0px;
    }
</style>
<div class="c-section c-main">
    <div class="c-section-inner">

        <div class="c-cont data-box">
                <form class="c-f-list">
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>产品名称：</span></label>
                        <div class="c-f-list-con">
                            <input type="text" ng-model="bidInfo.productName" class="c-control">
                        </div>
                    </div>
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>适应行业：</span></label>
                        <div class="c-f-list-con">
                            <select ng-model="bidInfo.industry" class="tool-control form-control">
                                <option value="旅游">旅游</option>
                                <option value="教育">教育</option>
                                <option value="政务">科技</option>
                                <option value="人力">人力</option>
                            </select>
                        </div>
                    </div>
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>行业关键词：</span></label>
                        <div class="c-f-list-con">
                            <input type="text" ng-model="bidInfo.keyWords" class="c-control">
                        </div>
                    </div>
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>产品优势：</span></label>
                        <div class="c-f-list-con">
                            <textarea name="content" rows="4" ng-model="bidInfo.productAdvantage" class="c-control"></textarea>
                        </div>
                    </div>
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>实施优势：</span></label>
                        <div class="c-f-list-con">
                            <textarea name="content" rows="4" ng-model="bidInfo.processAdvantage" class="c-control"></textarea>
                        </div>
                    </div>
                    <div class="f-list-item">
                        <label class="c-f-list-tit"><span>相关链接：</span></label>
                        <div class="c-f-list-con">
                            <input type="text" ng-model="bidInfo.url" class="c-control">
                        </div>
                    </div>
                    <div class="f-list-item">
                        <div class="c-f-list-con send-btn-box">
                            <button type="button" class="c-btn" ng-click="saveBidInfo()">保存</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>