<div class="main">

	<div class="c-section c-p-y-tall sphere-mod">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">采购商</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd1.png" />
							<a href="javascript:void(0);" class="text">供应商优选</a>
						</div>
					</div>

					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd2.png" />
							<a href="javascript:void(0);" class="text">流程优化</a>
						</div>
					</div>
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd3.png" />
							<a href="javascript:void(0);" class="text">拓展关系脉络</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="c-section c-p-y-tall bg-color sphere-mod">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">供应商</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd1.png" />
							<a href="javascript:void(0);" class="text">智能招采咨询</a>
						</div>
					</div>

					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd2.png" />
							<a href="javascript:void(0);" class="text">市场推广营销</a>
						</div>
					</div>
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd3.png" />
							<a href="javascript:void(0);" class="text">招投标服务</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="c-section c-p-y-tall sphere-mod">
		<div class="c-section-inner">
			<div class="coll-section-hd">
				<div class="coll-section-hd-main">
					<h2 class="coll-section-hd-tit">分销商</h2></div>
			</div>
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd1.png" />
							<a href="javascript:void(0);" class="text">商机发掘</a>
						</div>
					</div>

					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd2.png" />
							<a href="javascript:void(0);" class="text">合作伙伴拓展</a>
						</div>
					</div>
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd3.png" />
							<a href="javascript:void(0);" class="text">招投标服务</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>