<div ng-include="apiInclude + 'head_nav_bps.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<button type="button" class="tool-item c-btn" data-toggle="modal" data-target="#myModal">新建</button>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>采招名称</th>
						<th>类型</th>
						<th>金额</th>
						<th>截止日期</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>推荐邀标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>已结束</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>旅游资源采购</td>
						<td>旅游</td>
						<td>10000</td>
						<td>2019-11-02</td>
						<td>公开招标</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">供应商优选</a>
							<a href="javascript:void(0);" class="state-change">状态变更</a>
							<a href="javascript:void(0);">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>

<!-- 新建 Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">新建采招</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>名称</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>描述</span></label>
						<div class="c-f-list-con">
							<textarea name="content" rows="3" class="c-control"></textarea>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>类型</span></label>
						<div class="c-f-list-con">
							<select class="c-control">
								<option value="旅游">旅游</option>
								<option value="教育">教育</option>
								<option value="科技">科技</option>
								<option value="人力">人力</option>
							</select>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>优选数量</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>截止日期</span></label>
						<div class="c-f-list-con">
							<input type="text" class="c-control datepicker">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 状态变更 Modal -->
<div class="modal fade" id="stateChangeModal" tabindex="-1" role="dialog" aria-labelledby="stateChangeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="stateChangeModalLabel">状态变更</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>状态</span></label>
						<div class="c-f-list-con">
							<select class="c-control">
								<option value="优选邀标">优选邀标</option>
								<option value="公开招标">公开招标</option>
								<option value="未开始">未开始</option>
								<option value="已结束">已结束</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send">确定</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".datepicker").datepicker();
	
	$(".table-data .state-change").on("click", function() {
		$('#stateChangeModal').modal('show');
	})
</script>