<div ng-include="apiInclude + 'head_nav_bps.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<button type="button" class="tool-item c-btn" ng-click="showModal()">新建</button>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>采招名称</th>
						<th>类型</th>
						<th>金额</th>
						<th>截止日期</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in purchases">
						<td>{{item.name}}</td>
						<td>{{item.industry}}</td>
						<td>{{item.price}}</td>
						<td>{{item.start | date: "yyyy-MM-dd"}}</td>
						<td>{{item.status}}</td>
						<td class="opt">
							<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization({purchaseId: item.id})">供应商优选</a>
							<a ng-click="showStateModal(item)" class="state-change">状态变更</a>
							<a ng-click="showModal(item)">修改</a>
						</td>
					</tr>
					<tr class="white b-white"  >

						<td colspan="10" class="white b-white text-center">
							<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>

						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>

<!-- 新建 Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">新建</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>名称</span></label>
						<div class="c-f-list-con">
							<input type="text" ng-model="purchase.name" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>描述</span></label>
						<div class="c-f-list-con">
							<textarea name="content" ng-model="purchase.detail" rows="3" class="c-control"></textarea>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>行业</span></label>
						<div class="c-f-list-con">
							<select class="c-control" ng-model="purchase.industry">
								<option value="旅游">旅游</option>
								<option value="教育">教育</option>
								<option value="科技">科技</option>
								<option value="人力">人力</option>
							</select>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>金额</span></label>
						<div class="c-f-list-con">
							<input type="text" ng-model="purchase.price" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>地域</span></label>
						<div class="c-f-list-con">
							<input type="text" ng-model="purchase.location" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>开始日期</span></label>
						<div class="c-f-list-con">
							<input type="text" ng-model="purchase.start" class="c-control datepicker">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>结束日期</span></label>
						<div class="c-f-list-con">
							<input type="text"  ng-model="purchase.end" class="c-control datepicker">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="save()">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- 状态变更 Modal -->
<div class="modal fade" id="stateChangeModal" tabindex="-1" role="dialog" aria-labelledby="stateChangeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="stateChangeModalLabel">状态变更</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>状态</span></label>
						<div class="c-f-list-con">
							<select class="c-control" ng-model="purchase.status">
								<option value="已发布">已发布</option>
								<option value="已结束">已结束</option>
								<option value="已废除">已废除</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-send" ng-click="save()">确定</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(".datepicker").datepicker();
	
	$(".table-data .state-change").on("click", function() {
		$('#stateChangeModal').modal('show');
	})
</script>