<div ng-include="apiInclude + 'head_nav_bps.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item {{state == 1 ? 'actived' : ''}}" ng-click="setState(1)">优选供应商</div>
				<div class="c-selectarea-item {{state == 2 ? 'actived' : ''}}" ng-click="setState(2)">已邀供应商</div>
				<div class="c-selectarea-item {{state == 3 ? 'actived' : ''}}" ng-click="setState(3)">申请供应商</div>
				<div class="c-selectarea-item {{state == 4 ? 'actived' : ''}}" ng-click="setState(4)">所有供应商</div>

			</div>
		</div>
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的信息" ng-model="filter" class="tool-control">
						<button type="button" class="c-btn" ng-click="doFilter()">搜索</button>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>产品</th>
						<th>联系人</th>
						<th>电话</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in offers">
						<td>{{item.name}}</td>
						<td>{{item.productName}}</td>
						<td>{{item.contactPeople}}</td>
						<td>{{item.phone}}</td>
						<td>{{state == 2 ? '已邀标' : (state == 3 ? '已申请' : (item.state ? item.state.type : '未联系'))}}</td>
						<td class="opt">
							<a ng-click="showDetail(item)">详情</a>
							<a ng-show="(state == 1 || state == 4) && !item.state" ng-click="invite(item)">邀标</a>
						</td>
					</tr>
					<tr class="white b-white">
						<td colspan="10" class="white b-white text-center">
							<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- .modal -->
<div id="m-edit" class="modal" data-backdrop="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content box-shadow-z3">
			<div class="modal-header">
				<h5 class="modal-title">详情</h5>
			</div>
			<div class="modal-body p-a-0">
				<form name="dbForm" role="form" id="teamForm" class="form-validation"  novalidate>
					<div class="p-a-md">
						<div class="row">
							<div class="form-group col-md-12">
								<label >公司名称</label>
								<input  type="text" disabled  class="form-control checkPost white"  ng-model="info.name" >
							</div>
							<div class="form-group col-md-6">
								<label>统一社会信用代码：</label>
								<input  type="text"  disabled class="form-control" ng-model="info.regNo" >
							</div>
							<div class="form-group col-md-6">
								<label>公司账号：</label>
								<input type="text"  disabled class="form-control" ng-model="info.acNo" >
							</div>
							<div class="form-group col-md-6">
								<label>开户行：</label>
								<input type="text"  disabled class="form-control" ng-model="info.bank" >
							</div>
							<div class="form-group col-md-6">
								<label>公司地址：</label>
								<input type="text"  disabled class="form-control" ng-model="info.address" >
							</div>
							<div class="form-group col-md-6">
								<label>联系人手机号</label>
								<input type="tel" disabled  class="form-control" ng-model="info.phone">
							</div>
							<div class="form-group col-md-6">
								<label>联系人</label>
								<input type="tel" disabled class="form-control" ng-model="info.contactPeople">
							</div>
							<div class="form-group col-md-6">
								<label>产品名称</label>
								<input type="tel" disabled  class="form-control" ng-model="info.productName">
							</div>
							<div class="form-group col-md-6">
								<label>适应行业</label>
								<input type="tel" disabled class="form-control" ng-model="info.industry">
							</div>
							<div class="form-group col-md-6">
								<label>行业关键词：</label>
								<input type="tel" disabled  class="form-control" ng-model="info.keyWords">
							</div>
							<div class="form-group col-md-6">
								<label>产品优势：</label>
								<input type="tel" disabled class="form-control" ng-model="info.productAdvantage">
							</div>
							<div class="form-group col-md-6">
								<label>实施优势：：</label>
								<input type="tel" disabled  class="form-control" ng-model="info.processAdvantage">
							</div>
							<div class="form-group col-md-6">
								<label>相关链接：</label>
								<input type="tel" disabled class="form-control" ng-model="info.url">
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button data-dismiss="modal" class="c-btn" >知道了</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

