<div class="main">

	<div class="c-section c-p-y-tall sphere-mod">
		<div class="c-section-inner">
			<div class="c-section-bd">
				<div class="c-grid">
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd1.png" />
							<a href="javascript:void(0);" class="text">政府机关</a>
						</div>
					</div>

					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd2.png" />
							<a href="javascript:void(0);" class="text">企业机构</a>
						</div>
					</div>
					<div class="c-g-8">
						<div class="sphere-item"><img src="assets/img/img-yqd3.png" />
							<a href="javascript:void(0);" class="text">学校科研</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>