<div ng-include="apiInclude + 'head_nav_bps.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item actived">优选项目</div>
				<div class="c-selectarea-item">我的邀标</div>
				<div class="c-selectarea-item">我的申请</div>
				<div class="c-selectarea-item">所有公开项目</div>

			</div>
		</div>
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的信息" class="tool-control">
						<button type="button" class="c-btn">搜索</button>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>招标方</th>
						<th>联系人</th>
						<th>电话</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>项目1</td>
						<td>企业1</td>
						<td>小张</td>
						<td>11232321122</td>
						<td>进行中</td>
						<td class="opt">
							<a href="javascript:void(0);">申请</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目2</td>
						<td>企业2</td>
						<td>小李</td>
						<td>11232321121</td>
						<td>已应标</td>
						<td class="opt">
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目3</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目4</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目5</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目6</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目7</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目8</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目9</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
					<tr>
						<td>项目10</td>
						<td>企业3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">应标</a>
							<a href="javascript:void(0);">代办申请</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
