<div ng-include="apiInclude + 'head_nav_bps.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<!--筛选-->
		<div class="c-area">
			<div class="c-area-con">
				<div class="c-selectarea-item actived">优选供应商</div>
				<div class="c-selectarea-item">已邀供应商</div>
				<div class="c-selectarea-item">申请供应商</div>
				<div class="c-selectarea-item">供应商搜索</div>

			</div>
		</div>
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-r">
					<div class="tool-item search-input clearfix">
						<input type="text" placeholder="请输入您要查找的信息" class="tool-control">
						<button type="button" class="c-btn">搜索</button>
					</div>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>产品</th>
						<th>联系人</th>
						<th>电话</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>公司1</td>
						<td>产品1</td>
						<td>小张</td>
						<td>11232321122</td>
						<td>已邀标</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司2</td>
						<td>产品2</td>
						<td>小李</td>
						<td>11232321121</td>
						<td>已应标</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
					<tr>
						<td>公司3</td>
						<td>产品3</td>
						<td>小王</td>
						<td>11232321123</td>
						<td>已申请</td>
						<td class="opt">
							<a href="javascript:void(0);">详情</a>
							<a href="javascript:void(0);">邀标</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
