<!--轮播-->
<div class="banner-reg">
	<div class="c-hero-aside">
		<div class="ban-tit">
			<p>广西旅游舆情监测云平台</p>
			<p class="ban-fb">开通上线</p>
		</div>
		<div class="ban-text">
			<img class="img" src="assets/img/img-text.png" />
			<div class="text">隆安县、马山县、上林县、宾阳县、横县、鹿寨县、柳城县、融安县、 融水苗族自治县、三江侗族自治县、阳朔县、灵州县、全州县、 平乐 县、兴安县、灌阳县、荔浦县、资源县、永福县、龙胜各族自治县、恭 城瑶族自治县、苍梧县、蒙山县。、藤县、合浦县、上思县、灵山县、 浦北县、平南县、容县、陆川县、博白县、兴业县、田阳县、田东县、 平果县、德保县、那坡县、凌云县。</div>
		</div>
		<div class="c-hero-aside-inner">
			<div class="c-hero-aside-item"> 现在注册 <br> 即可体验
				<a href="javascript:void(0);">免费套餐</a>
			</div>
			<div class="c-hero-aside-item"><em>40+</em><br> 款免费云产品 </div>
			<div class="c-hero-aside-btn">
				<a href="javascript:void(0);" class="c-btn">注册新账号</a>
			</div>
		</div>
	</div>
	<div class="banner">
		<ul>
			<li>
				<a href="javascript:void(0);">
					<img style="background-image:url(assets/img/img-banner.jpg)" src="assets/img/o.png">
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<img style="background-image:url(assets/img/img-banner2.jpg)" src="assets/img/o.png">
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<img style="background-image:url(assets/img/img-banner3.jpg)" src="assets/img/o.png">
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<img style="background-image:url(assets/img/img-banner4.jpg)" src="assets/img/o.png">
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<img style="background-image:url(assets/img/img-banner5.jpg)" src="assets/img/o.png">
				</a>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('.banner').unslider({
			arrows: true,
			dots: true
		});
	});
</script>