<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">采招项目服务平台</div>
		<ul class="c-nav-list">
			<li class="presentation">
				<a href="javascript:void(0);" ui-sref="app.bps_supplier">项目管理</a>
			</li>
			<li class="presentation">
				<a href="javascript:void(0);" ui-sref="app.bps_distributor">分销商管理</a>
			</li>
			<li class="presentation">
				<a href="javascript:void(0);" ui-sref="app.bps_supplier_optimization">我的优选信息</a>
			</li>
		</ul>
	</div>
</div>