<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">舆情监测平台</div>
		<ul class="c-nav-list">
			<li class="presentation" ng-class="data.name == '1'?'curr':''" ui-sref="app.pfs_index">
				<a href="javascript:void(0);">首页</a>
			</li>
			<li class="presentation" ng-class="data.name == '2'?'curr':''" ui-sref="app.news_list">
				<a href="javascript:void(0);">舆情列表</a>
			</li>
			<li class="presentation" ng-class="data.name == '3'?'curr':''" ui-sref="app.pfs_keyword">
				<a href="javascript:void(0);">关键词设置</a>
			</li>
			<li class="presentation" ng-class="data.name == '4'?'curr':''" ui-sref="app.pfs_set">
				<a href="javascript:void(0);">报警设置</a>
			</li>
			<li class="presentation" ng-class="data.name == '5'?'curr':''" ui-sref="app.pfs_data_source">
				<a href="javascript:void(0);">数据源设置</a>
			</li>
			<li class="presentation" ng-class="data.name == '6'?'curr':''" ui-sref="app.pfs_report_manager">
				<a href="javascript:void(0);">报表管理</a>
			</li>
		</ul>
	</div>
</div>