<style type="text/css">
	.col-article-list {
		padding: 0!important;
	}
	
	.com-article-panel-body {
		margin-right: 40px;
	}
	
	.opt-btn {
		position: absolute;
		top: 50%;
		right: -40px;
		width: 26px;
		height: 26px;
		color: #ffffff;
		font-size: 16px;
		font-family: '宋体';
		font-weight: bold;
		text-align: center;
		line-height: 26px;
		background-color: #00a4ff;
		border-radius: 50%;
		margin-top: -13px;
	}
</style>
<div class="padding">
	<div class="row">
		<div class="col-sm-12 col-md-6">

			<div class="c-cont data-box">
				<div class="table-tool clearfix">
					<div class="tool-item" style="width: 100%; margin-left: 0;">
						<select class="tool-control" style="width: 100%; margin-right: 0;">
							<option>王源吸烟后首登央视</option>
						</select>
					</div>
				</div>

				<div class="col-article-list">
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟风波后首登《新闻联播》 获多个镜头特写</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">×</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视新闻,神情庄严专注,知错能改得到网... </a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">×</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视新闻联播！我们不能因为一件事就去否定一个人</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">×</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视，手拿小红星获多次特写镜头，网友留言两极分化</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">×</span>
						</div>
					</div>
				</div>

				<!--分页-->
				<div class="pageation" style="text-align:center">
					<ul class="pagination">
						<li role="menuitem" class="pagination-prev ng-scope disabled">
							<a href="" class="ng-binding">上一页</a>
						</li>
						<li role="menuitem" class="pagination-page ng-scope active">
							<a href="" class="ng-binding">1</a>
						</li>
						<li role="menuitem" class="pagination-next ng-scope disabled">
							<a href="" class="ng-binding">下一页</a>
						</li>
					</ul>

				</div>

			</div>
		</div>
		<div class="col-sm-12 col-md-6">

			<div class="c-cont data-box">
				<div class="table-tool clearfix">
					<div class="tool-l">
						<div class="tool-item">
							<div style="font-size: 18px;line-height: 34px;">新闻列表</div>
						</div>
					</div>
					<div class="tool-r">
						<div class="tool-item search-input clearfix">
							<input type="text" placeholder="请输入您要查找的内容" class="tool-control">
							<button type="button" class="c-btn">搜索</button>
						</div>
					</div>
				</div>

				<div class="col-article-list">
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟风波后首登《新闻联播》 获多个镜头特写</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">＋</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视新闻,神情庄严专注,知错能改得到网... </a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">＋</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视新闻联播！我们不能因为一件事就去否定一个人</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">＋</span>
						</div>
					</div>
					<div class="com-article-panel">
						<div class="com-article-panel-body">
							<h3 class="com-article-panel-title"><a href="">王源吸烟后登央视，手拿小红星获多次特写镜头，网友留言两极分化</a></h3>
							<div class="com-article-panel-info"><span>2019-06-14 09:48:52.0</span><span>来源：财经国家周刊</span>
								<a class="news-analyse" href="javascript:void(0);">页面分析</a>
							</div>
							<p class="com-article-panel-desc">
								<a href="javascript:void(0);">王源，之前他在TFBOYS成员里面算是非常乖巧，非常阳光的一个正能量男孩，随着上次王源在公众场合吸烟，被媒体报道之后，很少有他的新闻出来，很多网友说估计王源要凉凉，而且已经一个月没有听到关于他的消息了，但是看新闻的想必都知道。。。</a>
							</p>
							<span class="opt-btn">＋</span>
						</div>
					</div>
				</div>

				<!--分页-->
				<div class="pageation" style="text-align:center">
					<ul class="pagination">
						<li role="menuitem" class="pagination-prev ng-scope disabled">
							<a href="" class="ng-binding">上一页</a>
						</li>
						<li role="menuitem" class="pagination-page ng-scope active">
							<a href="" class="ng-binding">1</a>
						</li>
						<li role="menuitem" class="pagination-next ng-scope disabled">
							<a href="" class="ng-binding">下一页</a>
						</li>
					</ul>

				</div>

			</div>
		</div>
	</div>
</div>