<div class="padding">
	<div class="c-cont data-box">
		<div class="table-tool clearfix">
			<div class="tool-l">
				<button type="button" class="tool-item c-btn" ng-click="showAdd()">添加</button>
			</div>
			<div class="tool-r">
				<div class="tool-item search-input clearfix">
					<input type="text" placeholder="请输入您要查找的内容" class="tool-control" ng-model="filter">
					<button type="button" class="c-btn" ng-click="doFilter()">搜索</button>
				</div>
			</div>
		</div>

		<!--事件列表-->
		<div class="col-event-list">
			<div class="com-event-panel" ng-repeat="row in list">
				<div class="com-event-panel-body">
					<span class="about">相关文章：{{row.count}}</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">{{row.title}}</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：{{row.created | date: 'yyyy-MM-dd'}}</span>
						<!--<span>今日文章：9</span>-->
						<span>相关行业：{{row.industry}}</span>
						<span>相关地区：{{row.location}}</span>
						<!--<span>热度走势：↑</span>-->
					</div>
				</div>
			</div>
			<table class="table table-striped">
				<tr class="white b-white">
					<td colspan="6" class="white  text-center">
						<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>

<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addEventLabel">添加事件</h4>
			</div>
			<div class="modal-body">
				<form style="padding: 0 10px;">
					<div class="form-group">
						<label>事件标题</label>
						<input type="text" class="form-control" placeholder="事件标题" ng-model="event.title">
					</div>
					<div class="form-group">
						<label>相关行业</label>
						<input type="text" class="form-control" placeholder="相关行业"  ng-model="event.industry">
					</div>
					<div class="form-group ">
						<label>相关地区</label>
						<input type="text" class="form-control" placeholder="相关地区"  ng-model="event.location">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" ng-click="save()">提交</button>
			</div>
		</div>
	</div>
</div>
