<div class="padding">
	<div class="c-cont data-box">
		<div class="table-tool clearfix">
			<div class="tool-l">
				<button type="button" class="tool-item c-btn" data-toggle="modal" data-target="#addEvent">添加</button>
			</div>
			<div class="tool-r">
				<div class="tool-item search-input clearfix">
					<input type="text" placeholder="请输入您要查找的内容" class="tool-control">
					<button type="button" class="c-btn">搜索</button>
				</div>
			</div>
		</div>

		<!--事件列表-->
		<div class="col-event-list">
			<div class="com-event-panel">
				<div class="com-event-panel-body">
					<span class="about">相关文章：99</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">王源吸烟后首登央视</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：2019-06-11</span>
						<span>今日文章：9</span>
						<span>相关行业：旅游</span>
						<span>相关地区：北京</span>
						<span>热度走势：↑</span>
					</div>
				</div>
			</div>
			<div class="com-event-panel">
				<div class="com-event-panel-body">
					<span class="about">相关文章：99</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">印度高温已致36死</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：2019-06-11</span>
						<span>今日文章：9</span>
						<span>相关行业：旅游</span>
						<span>相关地区：北京</span>
						<span>热度走势：↑</span>
					</div>
				</div>
			</div>
			<div class="com-event-panel">
				<div class="com-event-panel-body">
					<span class="about">相关文章：99</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">福建龙岩山体滑坡</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：2019-06-11</span>
						<span>今日文章：9</span>
						<span>相关行业：旅游</span>
						<span>相关地区：北京</span>
						<span>热度走势：↑</span>
					</div>
				</div>
			</div>
			<div class="com-event-panel">
				<div class="com-event-panel-body">
					<span class="about">相关文章：99</span>
					<h3 class="com-event-panel-title"><a ui-sref="app.pfs_event_detail">公交司机下跪道歉</a></h3>
					<div class="com-event-panel-info">
						<span>发布时间：2019-06-11</span>
						<span>今日文章：9</span>
						<span>相关行业：旅游</span>
						<span>相关地区：北京</span>
						<span>热度走势：↑</span>
					</div>
				</div>
			</div>
		</div>

		<!--分页-->
		<div class="pageation" style="text-align:center">
			<ul class="pagination">
				<li role="menuitem" class="pagination-prev ng-scope disabled">
					<a href="" class="ng-binding">上一页</a>
				</li>
				<li role="menuitem" class="pagination-page ng-scope active">
					<a href="" class="ng-binding">1</a>
				</li>
				<li role="menuitem" class="pagination-next ng-scope disabled">
					<a href="" class="ng-binding">下一页</a>
				</li>
			</ul>

		</div>

	</div>

</div>

<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addEventLabel">添加事件</h4>
			</div>
			<div class="modal-body">
				<form style="padding: 0 10px;">
					<div class="form-group">
						<label>事件标题</label>
						<input type="text" class="form-control" placeholder="事件标题">
					</div>
					<div class="form-group">
						<label>相关行业</label>
						<select class="form-control">
                            <option value=" ">全部</option>
                        </select>
					</div>
					<div class="form-group ">
						<label>相关地区</label>
						<select class="form-control">
							<option value="">全部</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">提交</button>
			</div>
		</div>
	</div>
</div>