<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="login">
			<div class="login-box">
				<form class="login-form">
					<h3 class="title">用户登录</h3>
					<div class="input-group clearfix">
						<label class="tit">用户名</label>
						<input class="input" type="tel" name="tel" ng-model="phone" placeholder="请输入用户名" />
					</div>
					<div class="input-group clearfix">
						<label class="tit">密码</label>
						<input class="input" type="password" name="password" ng-model="password" placeholder="请输入登录密码" />
						<span class="show-psw" ng-click="passwordVisibleChange()"></span>
					</div>
					<div class="tool-box clearfix">
						<a class="forget-psw" ui-sref="app.recover_pwd">忘记密码？</a>
					</div>
					<button type="button" class="btn" ng-click="login()">立即登录</button>
					<div class="tool-box clearfix">
						<a class="to-reg" ui-sref="app.register" >新用户注册</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>