<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="login">
			<div class="login-box">
				<form class="login-form">
					<h3 class="title">用户登录</h3>
					<div class="input-group clearfix">
						<label class="tit">手机号</label>
						<input class="input" type="tel" name="tel" placeholder="请输入手机号" />
					</div>
					<div class="input-group clearfix">
						<label class="tit">密码</label>
						<input class="input" type="password" name="password" placeholder="请输入登录密码" />
						<span class="show-psw"></span>
					</div>
					<div class="tool-box clearfix">
						<a class="forget-psw" href="">忘记密码？</a>
					</div>
					<button type="button" class="btn">立即登录</button>
					<div class="tool-box clearfix">
						<a class="to-reg" href="">新用户注册</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>