<div ng-include="apiInclude + 'banner.html'"></div>

<!--头部-产品列表-->
<div class="c-section home-event-mod">
	<div class="c-section-inner">
		<div class="c-grid">
			<div class="c-g-5">
				<div class="home-event-item">
					<a href="javascript:void(0);" target="_blank">
						<div class="home-event-item-con">
							<h2 class="home-event-item-tit"><span>舆情监测平台</span><i class="home-event-icon-hot">HOT</i></h2>
							<div class="home-event-item-txt">快速准确监测网上各类旅游负面舆情，全面了解社会公众关切的旅游相关问题，从而及时制定准确的应对措施</div>
						</div>
					</a>
				</div>
			</div>
			<div class="c-g-5">
				<div class="home-event-item">
					<a href="javascript:void(0);" target="_blank">
						<div class="home-event-item-con">
							<h2 class="home-event-item-tit"><span>免费套餐</span><i class="home-event-icon-hot">HOT</i></h2>
							<div class="home-event-item-txt">领取云资源，免费试用6个月，为您提供0门槛上云实践机会</div>
						</div>
					</a>
				</div>
			</div>
			<div class="c-g-5">
				<div class="home-event-item">
					<a href="javascript:void(0);" target="_blank">
						<div class="home-event-item-con">
							<h2 class="home-event-item-tit"><span>小程序·云开发</span></h2>
							<div class="home-event-item-txt">微信官方原生API，弱化后端和运维操作，快速开发和上线小程序</div>
						</div>
					</a>
				</div>
			</div>
			<div class="c-g-5">
				<div class="home-event-item">
					<a href="javascript:void(0);" target="_blank">
						<div class="home-event-item-con">
							<h2 class="home-event-item-tit"><span>产业运营监测平台</span></h2>
							<div class="home-event-item-txt">基于相关产业市场运行实时数据，监测产业和经济运行现状</div>
						</div>
					</a>
				</div>
			</div>
			<div class="c-g-5">
				<div class="home-event-item">
					<a href="javascript:void(0);" target="_blank">
						<div class="home-event-item-con">
							<h2 class="home-event-item-tit"><span>大数据定制平台</span></h2>
							<div class="home-event-item-txt">根据用户实际需求，提供定制化数据采集和分析服务</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--内容-1.产品介绍-->
<div class="c-section c-p-y-tall bg-color index-product">
	<div class="c-section-inner">
		<img class="product-logo" src="assets/img/img-logo.png">
		<p class="logo-text">广西旅游数据中心官方认证</p>
		<div class="c-section-hd">
			<h3 class="c-section-tit">领先、安全、稳定的云计算产品</h3>
			<div class="product-info">安全、大数据、人工智能、政府监管、智慧景区、旅行社信息化。。。云技术普惠广西文旅产业发展</div>
		</div>
	</div>
</div>
<!--内容-2.了解广西旅游云产品与服务-->
<div id="productWrapper" class="c-section c-p-y-tall bg-color home-product-mod">
	<div class="c-section-inner">
		<div class="c-section-hd">
			<h3 class="c-section-tit">了解广西旅游云产品与服务</h3>
		</div>
		<div class="c-section-bd">
			<div class="home-product-wrap">
				<div class="home-product-tab">
					<div class="c-tab-normal">
						<ul>
							<li class="c-tab-simple" data-target="compute">
								<a tabindex="0" href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-p1.svg"><img src="assets/img/icon-p1-h.svg" class="active-img"></span>
									<span class="c-tab-tit">大型项目数据支撑</span>
								</a>
							</li>
							<li class="c-tab-simple" data-target="storage">
								<a tabindex="-1" href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-p2.svg"><img src="assets/img/icon-p2-h.svg" class="active-img"></span>
									<span class="c-tab-tit">智慧景区</span>
								</a>
							</li>
							<li class="c-tab-simple actived" data-target="database">
								<a tabindex="-1" href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-p3.svg"><img src="assets/img/icon-p3-h.svg" class="active-img"></span>
									<span class="c-tab-tit">政府管理与服务</span>
								</a>
							</li>
							<li class="c-tab-simple" data-target="network">
								<a tabindex="-1" href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-p4.svg"><img src="assets/img/icon-p4-h.svg" class="active-img"></span>
									<span class="c-tab-tit">旅行社信息化</span>
								</a>
							</li>
							<li class="c-tab-simple" data-target="cdn">
								<a tabindex="-1" href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-p5.svg"><img src="assets/img/icon-p5-h.svg" class="active-img"></span>
									<span class="c-tab-tit">精准营销</span>
								</a>
							</li>
						</ul>
						<div class="c-tab-normal-line" style="visibility: visible; left: 472px; width: 236px;"></div>
					</div>
					<div class="c-tab-panel c-tab-panel-shadow" style="display: block;">
						<div class="home-product-list" data-id="compute" style="display: none;"></div>
						<div class="home-product-list" data-id="storage" style="display: none;"></div>
						<div class="home-product-list" data-id="database" style="display: block;">
							<ul class="home-product-list-normal">
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">舆情监测平台</h3>
										<div class="home-product-item-txt"><span>快速准确监测网上各类旅游负面舆情，全面了解社会公众关切的旅游相关问题，从而及时制定准确的应对措施</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">产业运营监测平台</h3>
										<div class="home-product-item-txt"><span>基于相关产业市场运行实时数据，监测实际市场运行趋势，反映产业和经济运行现状</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">应急指挥平台 </h3>
										<div class="home-product-item-txt"><span>对各类突发公共事件应急管理进行统一协调指挥，实现公共安全应急数据及时准确、信息资源共享、指挥决策高效。</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">诚信旅游指数</h3>
										<div class="home-product-item-txt"><span>对旅行社服务网点、餐饮服务单位、住宿服务单位3进行规范评价，供游客查询，促进涉旅经营户服务品质的提升</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">团队报团系统</h3>
										<div class="home-product-item-txt"><span>面向全国所有导游，提供电子行程单查询、旅游团队互动、旅途便利服务、导游报账助手等服务</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">电子合同系统</h3>
										<div class="home-product-item-txt"><span>提供实名认证、在线签署、意愿验证、合同存管、证据链保存、诉讼保障、保险赔付等覆盖电子合同全生命周期的专业服务</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">旅游公共信息查询</h3>
										<div class="home-product-item-txt"><span>向旅游者提供旅游景区、线路、交通、气象、住宿、安全、医疗急救等必要信息和咨询服务，提高旅游体验</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">投诉与处理系统</h3>
										<div class="home-product-item-txt"><span>规范投诉与建议处理流程，实现游客投诉与评价流程的可视化与智能化管理，使游客的投诉能得到及时的响应和解决</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">微信系列应用</h3>
										<div class="home-product-item-txt"><span>通过微信公众号，小程序等渠道为用户提供舆情消息提醒，最新旅游资讯，合作伙伴分享等个性化服务</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">APP系列应用</h3>
										<div class="home-product-item-txt"><span>拓展云平台用户使用渠道，便捷用户使用云平台各项服务，提高平台拓展性，促进提升服务质量</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">大屏展示系统</h3>
										<div class="home-product-item-txt"><span>使用各类图表聚合展示景点、酒店、机票、餐饮等旅游相关关键数据走势，帮助准确预测行业趋势，辅助行业决策</span></div>
									</a>
								</li>
								<li class="home-product-item">
									<a href="javascript:void(0);">
										<h3 class="home-product-item-tit">报表报告平台</h3>
										<div class="home-product-item-txt"><span>实现对各类报表和报告的集中便捷管理，支持角色分配、权限控制、内容搜索、个性化排序等个性化功能</span></div>
									</a>
								</li>
							</ul>
						</div>
						<div class="home-product-list" data-id="network" style="display: none;"></div>
						<div class="home-product-list" data-id="cdn" style="display: none;"></div>
					</div>
				</div>
				<div class="home-product-tab">
					<div class="c-tab-normal">
						<ul>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d1.svg"><img src="assets/img/icon-d1-h.svg" class="active-img"></span>
									<span class="c-tab-tit">景区</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d2.svg"><img src="assets/img/icon-d2-h.svg" class="active-img"></span>
									<span class="c-tab-tit">旅行社</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d3.svg"><img src="assets/img/icon-d3-h.svg" class="active-img"></span>
									<span class="c-tab-tit">酒店</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d4.svg"><img src="assets/img/icon-d4-h.svg" class="active-img"></span>
									<span class="c-tab-tit">民宿</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"> 
									<span class="home-product-icon"><img src="assets/img/icon-d5.svg"><img src="assets/img/icon-d5-h.svg" class="active-img"></span>
									<span class="c-tab-tit">商圈</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="home-product-tab">
					<div class="c-tab-normal">
						<ul>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d6.svg"><img src="assets/img/icon-d6-h.svg" class="active-img"></span>
									<span class="c-tab-tit">车队</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d7.svg"><img src="assets/img/icon-d7-h.svg" class="active-img"></span>
									<span class="c-tab-tit">特产</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d8.svg"><img src="assets/img/icon-d8-h.svg" class="active-img"></span>
									<span class="c-tab-tit">购物店</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d9.svg"><img src="assets/img/icon-d9-h.svg" class="active-img"></span>
									<span class="c-tab-tit">导服</span>
								</a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);">
									<span class="home-product-icon"><img src="assets/img/icon-d10.svg"><img src="assets/img/icon-d10-h.svg" class="active-img"></span>
									<span class="c-tab-tit">娱乐</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--内容-3.专家-->
<div class="c-section c-p-y-tall index-expert">
	<div class="c-section-inner">
		<div class="c-section-hd">
			<h3 class="c-section-tit">旅游专家</h3>
		</div>
		<div class="c-section-bd">
			<ul class="expert-list c-grid">
				<li class="c-g-6">
					<div class="expert-item">
						<div class="clearfix">
							<img class="exp-img" src="assets/img/img-ep1.png"/>
							<div class="exp-info">
								<div class="exp-name">保继刚</div>
								<div class="exp-work">中山大学研究生院院长、旅游学院院长</div>
							</div>
						</div>
						<p class="exp-text">保继刚，男，汉族，1964年生，云南人，博士，中山大学教授，博士生导师，教育部长江学者特聘教授。曾任中山大学校长助理、中山大学地理科学与规划学院院长、中山大学珠海校区管委会主任、中山大学研究生院院长。现任旅游学院院长，兼任国务院学位委员会第七届学科评议组地理学组成员、中国地理学会副理事长等职。主持国家自然科学基金6项，出版学术著作10余部，发表论文200余篇。</p>
						<div class="exp-foot">
							<a class="links" href="javascript:void(0);" ui-sref="app.intro">咨询&gt;&gt;</a>
						</div>
					</div>
				</li>
				<li class="c-g-6">
					<div class="expert-item">
						<div class="clearfix">
							<img class="exp-img" src="assets/img/img-ep2.png"/>
							<div class="exp-info">
								<div class="exp-name">保继刚</div>
								<div class="exp-work">中山大学研究生院院长、旅游学院院长</div>
							</div>
						</div>
						<p class="exp-text">保继刚，男，汉族，1964年生，云南人，博士，中山大学教授，博士生导师，教育部长江学者特聘教授。曾任中山大学校长助理、中山大学地理科学与规划学院院长、中山大学珠海校区管委会主任、中山大学研究生院院长。现任旅游学院院长，兼任国务院学位委员会第七届学科评议组地理学组成员、中国地理学会副理事长等职。主持国家自然科学基金6项，出版学术著作10余部，发表论文200余篇。</p>
						<div class="exp-foot">
							<a class="links" href="javascript:void(0);" ui-sref="app.intro">咨询&gt;&gt;</a>
						</div>
					</div>
				</li>
				<li class="c-g-6">
					<div class="expert-item">
						<div class="clearfix">
							<img class="exp-img" src="assets/img/img-ep3.png"/>
							<div class="exp-info">
								<div class="exp-name">保继刚</div>
								<div class="exp-work">中山大学研究生院院长、旅游学院院长</div>
							</div>
						</div>
						<p class="exp-text">保继刚，男，汉族，1964年生，云南人，博士，中山大学教授，博士生导师，教育部长江学者特聘教授。曾任中山大学校长助理、中山大学地理科学与规划学院院长、中山大学珠海校区管委会主任、中山大学研究生院院长。现任旅游学院院长，兼任国务院学位委员会第七届学科评议组地理学组成员、中国地理学会副理事长等职。主持国家自然科学基金6项，出版学术著作10余部，发表论文200余篇。</p>
						<div class="exp-foot">
							<a class="links" href="javascript:void(0);" ui-sref="app.intro">咨询&gt;&gt;</a>
						</div>
					</div>
				</li>
				<li class="c-g-6">
					<div class="expert-item">
						<div class="clearfix">
							<img class="exp-img" src="assets/img/img-ep4.png"/>
							<div class="exp-info">
								<div class="exp-name">保继刚</div>
								<div class="exp-work">中山大学研究生院院长、旅游学院院长</div>
							</div>
						</div>
						<p class="exp-text">保继刚，男，汉族，1964年生，云南人，博士，中山大学教授，博士生导师，教育部长江学者特聘教授。曾任中山大学校长助理、中山大学地理科学与规划学院院长、中山大学珠海校区管委会主任、中山大学研究生院院长。现任旅游学院院长，兼任国务院学位委员会第七届学科评议组地理学组成员、中国地理学会副理事长等职。主持国家自然科学基金6项，出版学术著作10余部，发表论文200余篇。</p>
						<div class="exp-foot">
							<a class="links" href="javascript:void(0);" ui-sref="app.intro">咨询&gt;&gt;</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--内容-4.旅游大数据报告厅-->
<div class="c-section c-p-y-tall bg-color index-m-report">
	<div class="c-section-inner">
		<div class="c-section-hd">
			<h3 class="c-section-tit">旅游大数据报告厅</h3>
		</div>
		<div class="c-section-bd">
			<ul class="reports clearfix">
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>一带一路旅游<br />大数据专题报告</h3>
						<img src="assets/img/img-rep1.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>东盟-泰国旅游<br />大数据专题报告</h3>
						<img src="assets/img/img-rep2.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>旅游教育<br />大数据专题报告</h3>
						<img src="assets/img/img-rep3.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>中欧旅游<br />大数据专题报告</h3>
						<img src="assets/img/img-rep4.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>广西入境旅游<br />专项大数据报告</h3>
						<img src="assets/img/img-rep5.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>广西旅游<br />大数据报告</h3>
						<img src="assets/img/img-rep6.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>广西自驾游<br />专项大数据报告</h3>
						<img src="assets/img/img-rep7.png" />
					</a>
				</li>
				<li class="report-item">
					<a href="javascript:void(0);" target="_blank">
						<h3>广西康养旅游<br />专项大数据报告</h3>
						<img src="assets/img/img-rep8.png" />
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>
<!--内容-5.支持192个业务场景的全栈解决方案-->
<div class="c-section c-p-y-tall home-solution-mod" style="background-image: url(assets/img/bg2.png);">
	<div class="c-section-inner">
		<div class="c-section-inner">
			<div class="c-section-hd">
				<h3 class="c-section-tit">支持192个业务场景的全栈解决方案</h3>
			</div>
			<div class="c-section-bd">
				<div class="home-solution-wrap c-grid">
					<div class="c-g-4 c-tab-normal c-tab-vertical home-solution-tab">
						<ul>
							<li class="c-tab-simple actived">
								<a href="javascript:void(0);"><span class="c-tab-tit">舆情</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">视频</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">普惠金融</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">电商</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">小程序</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">教育</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">APP</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">大数据定制</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">互动广告</span></a>
							</li>
							<li class="c-tab-simple">
								<a href="javascript:void(0);"><span class="c-tab-tit">智能导览</span></a>
							</li>
						</ul>
					</div>
					<div class="c-g-20 c-tab-panel">
						<div class="home-solution-item actived">
							<h3 class="home-solution-tit">舆情</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p> 通过智能数据采集、智能语义分析、智能情感分析等技术手段，帮助广西壮族自治区各级旅游管理部门快速准确监测网上各类旅游负面舆情，全面了解社会公众关切的旅游相关问题，从而及时制定准确的应对措施，以预防、减少和消除突发旅游舆情造成的负面影响的内容。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="assets/img/icon-logo1.png">
										<p class="text">桂林旅游</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="assets/img/icon-logo2.png">
										<p class="text">自治区旅游</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="assets/img/icon-logo3.png">
										<p class="text">南宁旅游</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="assets/img/icon-logo4.png">
										<p class="text">北海旅游</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">视频</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>广西旅游大数据云平台拥有覆盖全球的视频发布网络、海量的转码设备、音视频领域数十年的深厚技术积淀，提供直播、点播、互动直播、云通信、短信、流量、X-P2P、游戏语音等产品，为您的视频应用提供一站式解决方案。使用广西旅游大数据云平台视频解决方案，您可轻松具备全方位的视频能力支撑，全心专注于业务。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/259a71060fcbefe7eb6fccc677f1de3e/image.png">
										<p class="text">NOW</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/53dd4d926c850d6767b46fb112a3714b/image.png">
										<p class="text">快手</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/f5c82a25db39626581d92665b5424b86/image.png">
										<p class="text">斗鱼直播</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">普惠金融</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>腾讯金融云解决方案，满足最严苛的设计要求，兼容传统金融业务架构，助您无负担快速迁云；个性化订制及灵活扩展，让您专注业务领域。腾讯金融云连接汇聚互联网的海量计算、存储、应用及大数据资源，是您互联网转型首选。</p>
									<div class="home-solution-links"><span>行业架构参考：</span>
										<a href="javascript:void(0);">保险</a>
										<a href="javascript:void(0);">银行</a>
										<a href="javascript:void(0);">证券</a>
										<a href="javascript:void(0);">互联网金融</a>
									</div>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/b20af0c6f2e4384d149de149fb8ee6b2/image.png">
										<p class="text">中国银行</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/2795270b5917e9d99cd2f3d439f267ed/image.png">
										<p class="text">华夏银行</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/606934622a38a54ca0e37a5f7411abae/image.png">
										<p class="text">广发证券</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">电商</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>广西旅游大数据云平台可为企业、政府和非营利性组织等提供一站式的网站服务。无论是创建个人网站、企业门户网站、还是电子商务网站，广西旅游大数据云平台都可根据您的需求提供对应的网站服务，解决您在建站及运营过程中的所有问题，同时保证网站的安全性和可用性，有效地降低网站开发、运营以及运维方面成本。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/584282d82132c7a99205d9dd0ca9a552/image.png">
										<p class="text">有货</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/c6cb7a87397998a62c2aa3328584aaa5/image.png">
										<p class="text">smartisan</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">小程序</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>广西旅游大数据云平台为电商客户提供高效便捷、安全可靠、灵活开放的云服务产品，针对电商行业常见的秒杀、大促、电商直播等场景定制多种专属产品和工具，支持 PC端、移动端、微信商城等多种部署模式，可帮助企业快速搭建电商平台、完成资源的创建和配置，从容面对业务难题。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/3014f49f26f99d60ac5ed127dbd829fb/image.png">
										<p class="text">摩拜单车</p>
									</a>
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/dba9b9e5d6ca172b969da865c482322b/image.png">
										<p class="text">大众点评</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">教育</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p> 广西旅游大数据云平台为教育行业提供一系列解决方案，服务对象涵盖教育主管部门、在线教育企业，以及贯通早幼教、中小学、高校及职业教育、成人教育等教育全链条不同的细分市场客户，提供在线教育、智慧校园、新工科等种类丰富且灵活的解决方案，助力教育行业云端数字化转型升级。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://main.qcloudimg.com/raw/5c52531019dcb9f01c6ff075ae5b8c77.png">
										<p class="text">天津大学</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">APP</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>广西旅游大数据云平台为微信小程序提供完善的一站式解决方案。支持一键部署具有云端能力的专属小程序，提高开发效率；原生支持 HTTPS/WSS，配备 BGP 高防、域名智能解析及防劫持等多重安全防护体系，保障通信与鉴权的安全；丰富的小程序模板，满足电商/餐饮/O2O等各种场景的定制化需求。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/dba9b9e5d6ca172b969da865c482322b/image.png">
										<p class="text">大众点评</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">大数据定制</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p>立足于十八年的海量数据处理经验，广西旅游大数据云平台为客户提供完善的大数据处理平台和大数据分析服务。数智大数据处理平台，能帮助您对数据进行收集、存储、处理、分析和可视化，有效提高企业数据资产管理效率；数字营销、舆情管控、智能推荐等服务，帮助您快速洞察业务，针对目标用户合理分配资源。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/d4d303a2a67e43dea31b2625fd29d89e/image.png">
										<p class="text">sany</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">互动广告</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p> 广西旅游大数据云平台智慧零售解决方案，为传统零售开店选址、商圈分析、门店运营、商品管理、商业反馈、万物互联等多种场景提供全路径数字链接。联合合作伙伴为商户提供全面的数字化运营“工具箱”，帮助传统零售商户深化用户洞察、通过精准触达与体验优化，提升运营效率；打通线上线下数据资产，让用户成为粉丝，最大化用户生命周期价值，激发零售业的新一轮增长。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://main.qcloudimg.com/raw/cf5693716ab74ed4401c7ccb3f782ec3.png">
										<p class="text">belle</p>
									</a>
								</div>
							</div>
						</div>
						<div class="home-solution-item">
							<h3 class="home-solution-tit">智能导览</h3>
							<div class="home-solution-con">
								<div class="home-solution-txt">
									<p> 广西旅游大数据云平台为金融、政企、互联网等行业提供完整的用户身份核实方案。立足于腾讯社交数据大平台，广西旅游大数据云平台拥有海量的数据分析和人脸、图片的训练集，准确率世界领先；广西旅游大数据云平台提供身份证 OCR、人脸比对、活体检测等技术，能在线实现用户身份秒级确认，有效解决高风险行业线下复杂的身份验证问题，满足核身要求极高的业务场景需求。</p>
								</div>
								<div class="home-solution-btn">
									<a href="javascript:void(0);" class="c-btn">了解更多</a>
								</div>
							</div>
							<div class="home-solution-logo">
								<div class="home-solution-logo-inner clearfix">
									<a class="solution-logo-item" href="javascript:void(0);"><img class="user-img" alt="" src="https://mc.qcloudimg.com/static/img/f4338681e09aebedc615f5cedd99ce4b/image.png">
										<p class="text">中国航信</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--内容-6.社区-->

<!--内容-7.提供安全专家服务和合规性资质-->
<div class="c-section c-p-y-tall bg-color home-certificate">
	<div class="c-section-inner">
		<div class="c-section-hd">
			<h3 class="c-section-tit">提供安全专家服务和合规性资质</h3>
		</div>
		<div class="c-section-bd">
			<div class="home-certificate c-grid">
				<div class="c-g-12">
					<a class="c-media-horiz" href="javascript:void(0);">
						<div class="c-media-img"><img src="assets/img/icon-s1.svg" alt=""></div>
						<div class="c-media-body">
							<h4 class="c-media-heading"> 专家服务 </h4>
							<p class="c-media-info"> 依托数据中心的安全专家团队为云上用户提供安全咨询、合规咨询、渗透测试、应急响应等服务 </p>
						</div>
					</a>
				</div>
				<div class="c-g-12">
					<a class="c-media-horiz" href="javascript:void(0);">
						<div class="c-media-img"><img src="assets/img/icon-s2.svg" alt=""></div>
						<div class="c-media-body">
							<h4 class="c-media-heading"> 合规性 </h4>
							<p class="c-media-info"> 资源平台具备充分的安全合规能力，满足众多的标准要求，并已通过系列合规认证</p>
						</div>
					</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!--内容-8立即体验-->
<div class="c-section c-p-y-tall index-experience">
	<div class="c-section-inner">
		<div class="c-section-hd">
			<h3 class="c-section-tit">开始体验免费套餐</h3>
		</div>
		<div class="c-section-bd">
			<div class="exp-cont">
				<div class="text">
					<a href="javascript:void(0);">注册</a>&nbsp;即可领取40+款产品的免费体验套餐，更有开发者专属&nbsp;
					<a href="javascript:void(0);">在线实验平台</a><br />为您提供最佳上云实践机会</div>
				<div class="exp-btn">
					<a href="javascript:void(0);" class="btn">立即体验</a>
				</div>

			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
	$(".home-solution-tab .c-tab-simple").hover(function(){
		$(this).addClass("actived").siblings().removeClass('actived');
		$('.home-solution-item').eq($(this).index()).addClass('actived').siblings().removeClass('actived');
	})
</script>
