.chart-list .c-grid-layout {
	padding: 20px 0;
}

.c-grid.chart-list [class*=c-g-] {
	padding-top: 10px;
	padding-bottom: 10px;
}

.chart-list .sign {
	font-size: 0;
	line-height: 0;
}

.chart-list .sign li {
	display: inline-block;
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	margin-left: 20px;
}

.chart-list .sign li img {
	margin-right: 8px;
}

.com-sidebar-panel {
	padding: 16px 20px 20px 20px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.com-sidebar-panel .panel-hd {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden
}

.com-sidebar-panel .panel-title {
	float: left;
	color: #444;
	font-size: 16px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.com-sidebar-panel .panel-extra {
	float: right;
	font-size: 12px;
	line-height: 20px;
}

.com-sidebar-panel .panel-extra-link {
	color: #999
}

.com-sidebar-panel .panel-extra-link:active,
.com-sidebar-panel .panel-extra-link:hover {
	color: #00a4ff
}

.com-disorder-list {
	line-height: 24px;
	color: #333
}

.com-disorder-list.large {
	padding: 10px 0;
}

.com-disorder-list li {
	position: relative;
	color: #444;
	margin-top: 18px;
	padding-left: 15px
}

.com-disorder-list li:first-child {
	margin-top: 0
}

.com-disorder-list li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #888
}

.com-disorder-list a {
	display: block;
	color: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.com-disorder-list a:hover {
	color: #00a4ff
}

.com-disorder-list .tit {
	float: left;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.com-disorder-list .time {
	float: right;
	width: 25%;
	color: #888;
	text-align: right;
}

.com-disorder-list .num {
	float: right;
	width: 25%;
	text-align: right;
}

.com-disorder-list .num1 {
	color: #26a8c0;
}

.com-disorder-list .num2 {
	color: #e66969;
}

.com-disorder-list .num3 {
	color: #70cc61;
}

.qa-media-img {
	float: left;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 8px;
}


/*
 * 控制台标题
 */

.chart-list .c-section {
	padding-bottom: 35px;
}

.chart-list .c-section:first-child {
	padding-top: 30px;
}


/*表格1*/

.table1 {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #e5e5e5;
}

.table1 td,
.table1 th {
	text-align: center;
	padding: 6px;
}

.table1 th {
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	background-color: #00a4ff;
}

.table1 td {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	background-color: #ffffff;
}


/*表格2*/

.table2 {
	width: 100%;
}

.table2 td {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.table2 td .name {
	width: 50%;
}

.table2 td.sponsor {
	width: 30%;
	padding-left: 10px;
}

.table2 td.time {
	width: 20%;
	text-align: right;
	padding-left: 10px;
}

.ih-item {
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	float:left; margin-left:2px; margin-right:2px;
}

.ih-item,
.ih-item * {
	overflow:visible;
}

.ih-item a {
	color: #333;
}

.ih-item a:hover {
	text-decoration: none;
}

.ih-item img {
	width: 100%;
	height: 100%;
}

.ih-item.circle {
	position: relative;
	width: 289px;
	height: 289px;
	/*border-radius: 50%;*/
}

.ih-item.circle .img {
	position: relative;
	width: 289px;
	height: 289px;
	/*border-radius: 50%;*/
}
.ih-item.circle .img p{
	position:absolute;
	display:block;
	width:289px;
	font-size:14px;
	color:#000;
	text-align:center;
	bottom:15px;
}
.ih-item.circle .img p.p_pd{
	position:absolute;
	display:block;
	width:289px;
	font-size:18px;
	line-height:30px;
	color:#000;
	text-align:center;
	bottom:20px;
}

.ih-item.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	/*border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);*/
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.ih-item.circle .img img {
	/*border-radius: 50%;*/
	width: 289px;
	height: 289px;
}

.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	/*border-radius: 50%;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


.ih-item.circle.effect5 {
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	perspective: 900px;
}

.ih-item.circle.effect5.colored .info .info-back {
	background: #1a4a72;
	background: rgba(26, 74, 114, 0.6);
}

.ih-item.circle.effect5 .info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.ih-item.circle.effect5 .info .info-back {
	visibility: hidden;
	/*border-radius: 50%;*/
	width: 100%;
	height: 100%;
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
	-webkit-transform: rotate3d(0, 1, 0, 180deg);
	-moz-transform: rotate3d(0, 1, 0, 180deg);
	-ms-transform: rotate3d(0, 1, 0, 180deg);
	-o-transform: rotate3d(0, 1, 0, 180deg);
	transform: rotate3d(0, 1, 0, 180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ih-item.circle.effect5 .info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 55px 0 0 0;
	height: 110px;
	text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ih-item.circle.effect5 .info p {
	color: #fff;
	padding: 30px 0px;
	margin: 0px 30px;
	font-size: 14px; text-align:left;
}

.ih-item.circle.effect5 a:hover .info {
	-webkit-transform: rotate3d(0, 1, 0, -180deg);
	-moz-transform: rotate3d(0, 1, 0, -180deg);
	-ms-transform: rotate3d(0, 1, 0, -180deg);
	-o-transform: rotate3d(0, 1, 0, -180deg);
	transform: rotate3d(0, 1, 0, -180deg);
}

.ih-item.circle.effect5 a:hover .info .info-back {
	visibility: visible;
}