.chart-list .c-grid-layout {
	padding: 20px 0;
}

.c-grid.chart-list [class*=c-g-] {
	padding-top: 10px;
	padding-bottom: 10px;
}

.chart-list .sign {
	font-size: 0;
	line-height: 0;
}

.chart-list .sign li {
	display: inline-block;
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	margin-left: 20px;
}

.chart-list .sign li img {
	margin-right: 8px;
}

.com-sidebar-panel {
	padding: 16px 20px 20px 20px;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.com-sidebar-panel .panel-hd {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden
}

.com-sidebar-panel .panel-title {
	float: left;
	color: #444;
	font-size: 16px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.com-sidebar-panel .panel-extra {
	float: right;
	font-size: 12px;
	line-height: 20px;
}

.com-sidebar-panel .panel-extra-link {
	color: #999
}

.com-sidebar-panel .panel-extra-link:active,
.com-sidebar-panel .panel-extra-link:hover {
	color: #00a4ff
}

.com-disorder-list {
	line-height: 24px;
	color: #333
}

.com-disorder-list.large {
	padding: 10px 0;
}

.com-disorder-list li {
	position: relative;
	margin-top: 18px;
	padding-left: 15px
}

.com-disorder-list li:first-child {
	margin-top: 0
}

.com-disorder-list li:before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #888
}

.com-disorder-list a {
	display: block;
	color: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.com-disorder-list a:hover {
	color: #00a4ff
}

.com-disorder-list .tit {
	float: left;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.com-disorder-list .time {
	float: right;
	width: 25%;
	color: #666;
	text-align: right;
}

.com-disorder-list .num {
	float: right;
	width: 25%;
	text-align: right;
}

.com-disorder-list .num1 {
	color: #26a8c0;
}

.com-disorder-list .num2 {
	color: #e66969;
}

.com-disorder-list .num3 {
	color: #70cc61;
}


/*
 * 控制台标题
 */

.coll-section-bd .c-grid {
	margin-left: -10px;
	margin-right: -10px;
}

.chart-list .c-section {
	padding-bottom: 35px;
}

.chart-list .c-section:first-child {
	padding-top: 30px;
}


/*表格1*/

.table1 {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #e5e5e5;
}

.table1 td,
.table1 th {
	text-align: center;
	padding: 6px;
}

.table1 th {
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	background-color: #00a4ff;
}

.table1 td {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	background-color: #ffffff;
}


/*表格2*/

.table2 {
	width: 100%;
}

.table2 td {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
}

.table2 td .name {
	width: 50%;
}

.table2 td.sponsor {
	width: 30%;
	padding-left: 10px;
}

.table2 td.time {
	width: 20%;
	text-align: right;
	padding-left: 10px;
}