.banner-box {
	width: 100%;
	min-width: 1200px;
	height: 440px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.banner-box .img {
	width: 100%;
}

.doc-entry-mod.header {
	margin-left: -10px;
	margin-right: -10px;
}

.doc-entry-mod .c-media {
	box-shadow: #ccc 0 0 3px;
	transition: all .4s;
	padding-top: 50px;
	padding-bottom: 50px;
}

.doc-entry-mod .c-media:hover {
	transition: all .4s;
	transform: translate3d(0, -4px, 0)
}

.doc-entry-mod .c-media-heading {
	color: #000
}

.doc-entry-mod.header .c-media:hover .c-media-heading {
	color: #00a4ff
}

.doc-entry-mod .c-media-body {
	margin-top: 13px
}

.doc-entry-mod .c-media-info {
	text-align: center;
	margin-top: 1px
}

.doc-entry-mod .c-media-img {
	width: 48px;
	height: 48px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.doc-entry-mod .c-media-img img {
	width: 100%;
	position: relative;
}

.doc-entry-mod.header {
	margin-left: -10px;
	margin-right: -10px
}


/*数据采集*/

.dp-mod .dp-item {
	text-align: center;
	border-left: 2px solid #e5e5e5;
}

.dp-mod .dp-item:first-child {
	border-left: 0;
}

.dp-item .tit {
	color: #000;
	font-size: 28px;
	line-height: 42px;
}

.dp-list {
	width: 360px;
	padding: 20px 0 30px 0;
	margin: 0 auto;
}

.dp-list .c-btn {
	float: left;
	width: 140px;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	margin: 8px 20px;
}


/*开始使用*/

.sol-contact {
	text-align: center;
}

.c-section.sol-contact {
	padding: 88px 0 100px;
}

.sol-contact-tit {
	line-height: 42px;
	font-size: 30px;
	color: #000;
	font-weight: 400;
}

.sol-contact-ft {
	margin-top: 50px;
}

.sol-contact-btn .c-btn {
	width: 160px;
}