@charset "utf-8";

/* reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1200px;
	width: 100%;
	font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #f7f8fa;
	-webkit-tap-highlight-color: transparent
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}

em, i {
	font-style: normal;
	font-weight: 400
}

button, input, select, textarea {
	box-sizing: border-box;
	font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
	-webkit-font-smoothing: antialiased
}

button {
	cursor: pointer;
	border: none
}

button, input[type=button], input[type=submit], select {
	cursor: pointer
}

input, select, textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: inherit;
}

img {
	border: 0;
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer
}

a:focus,a:hover {
    color: #00a4ff;
	text-decoration: none;
}

a:focus{
	outline: none;
}

:focus {
	outline: 0
}


/* 清除浮动 */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}


/*模块*/

.wrap {
	width: 1200px;
	padding: 0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}


/*按钮*/

.c-btn {
	height: 35px;
	width: 140px;
	padding: 0 20px;
	background-color: #00a4ff;
	color: #ffffff;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	outline: 0;
	box-sizing: border-box
}

.c-btn:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #0092ee
}

.c-btn-hole {
    border: 1px solid #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    line-height: 33px
}

.c-btn-hole:hover {
    background-color: #00a4ff;
    border: 1px solid #00a4ff;
    color: #fff
}


/*栅格*/

.c-wrapper {
	width: 1200px;
	margin: 0 auto
}

.c-grid {
	font-size: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.c-grid [class*=c-g-] {
	display: inline-block;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top
}

.c-grid-expand {
	margin-right: -10px;
	margin-left: -10px
}

.c-grid-layout {
	max-width: 1200px;
	margin: 0 auto
}

.c-grid-inner {
	font-size: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: -10px;
	margin-left: -10px
}

.c-grid-inner [class*=c-g-] {
	display: inline-block;
	zoom: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top
}

.c-g-1 {
	width: 4.1667%
}

.c-g-2 {
	width: 8.3333%
}

.c-g-3 {
	width: 12.5%
}

.c-g-4 {
	width: 16.6667%
}

.c-g-5 {
	width: 20%
}

.c-g-6 {
	width: 25%
}

.c-g-7 {
	width: 29.1667%
}

.c-g-8 {
	width: 33.3333%
}

.c-g-9 {
	width: 37.5%
}

.c-g-10 {
	width: 41.6667%
}

.c-g-11 {
	width: 45.8333%
}

.c-g-12 {
	width: 50%
}

.c-g-13 {
	width: 54.1667%
}

.c-g-14 {
	width: 58.3333%
}

.c-g-15 {
	width: 62.5%
}

.c-g-16 {
	width: 66.6667%
}

.c-g-17 {
	width: 70.8333%
}

.c-g-18 {
	width: 75%
}

.c-g-19 {
	width: 79.1667%
}

.c-g-20 {
	width: 83.3333%
}

.c-g-21 {
	width: 87.5%
}

.c-g-22 {
	width: 91.6667%
}

.c-g-23 {
	width: 95.8333%
}

.c-g-24 {
	width: 100%
}


/*浮夸三角箭头*/

.c-bubble {
	position: absolute;
	color: #404A58;
	z-index: 6
}

.c-bubble .c-bubble-inner:after,
.c-bubble .c-bubble-inner:before {
	font-size: 0;
	position: absolute;
	width: 0;
	height: 0;
	content: '';
	border: 8px dashed transparent
}

.c-bubble .c-bubble-inner:after {
	border: 7px dashed transparent
}

.c-bubble-inner {
	font-size: 12px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 10px;
	border: 1px solid #b3b7bf;
	border-radius: 2px;
	background-color: #fff;
	line-height: 18px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
	position: static !important;
	left: 50%;
	top: 50%
}

.c-bubble.tooltips .c-bubble-inner {
	padding: 3px 10px
}

.c-bubble-top .c-bubble-inner:after,
.c-bubble-top .c-bubble-inner:before {
	bottom: 100%;
	left: inherit;
	right: inherit;
	margin-bottom: -1px;
	border-bottom-style: solid
}

.c-bubble-top .c-bubble-inner:before {
	margin-left: -8px;
	border-bottom-color: #b3b7bf
}

.c-bubble-top .c-bubble-inner:after {
	margin-left: -7px;
	border-bottom-color: #fff
}


/*
 * 头部
 */

.c-nav-mod .c-nav-top {
	position: relative;
	height: 40px;
	font-size: 0;
	padding: 0 20px;
	background-color: #2b303b;
	z-index: 1001
}

.c-nav-mod .c-btn:hover {
	color: #fff
}

.c-nav-mod .nav-dropdown-mini {
	z-index: 100;
	background-color: #f7f8fa;
	font-size: 14px
}


/*头部-遮罩层*/

.c-nav-mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .4);
	z-index: 1000;
}

.c-nav-mask.actived {
	display: block;
}


/*头部-左菜单*/

.c-nav-mod .c-nav-all-trigger {
	position: relative;
	float: left;
	display: inline-block;
	height: 100%;
	text-align: left;
	padding: 12px 20px 12px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1001
}

.c-nav-mod .c-nav-all-trigger .c-nav-all-trigger-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../img/icon-icons2.svg);
	vertical-align: middle;
	background-position: 93.31% 0.38999999999999996%;
	background-size: 1875% 1700%;
	background-repeat: no-repeat
}

.c-nav-mod .c-nav-all-trigger.actived .c-nav-all-trigger-icon,
.c-nav-mod .c-nav-all-trigger:hover .c-nav-all-trigger-icon {
	background-position: 82.75% 92.58%;
}

.c-nav-mod .c-nav-all-trigger span {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	color: #fff;
	padding-left: 8px
}

.c-nav-mod .c-nav-all-trigger.actived span,
.c-nav-mod .c-nav-all-trigger:hover span {
	color: #00a4ff
}

.c-nav-mod .c-nav-all-trigger+.c-nav-top-divider {
	float: left;
	margin-left: 0;
	margin-right: 20px
}


/*头部-左系统logo*/

.c-nav-mod .c-nav-top-divider {
	position: relative;
	display: inline-block;
	width: 1px;
	height: 16px;
	background-color: rgba(255, 255, 255, .2);
	vertical-align: middle;
	margin: 12px 10px;
	z-index: 1001
}

.c-nav-mod .c-nav-logo {
	display: block;
	float: left;
	color: #ffffff;
	font-size: 16px;
	line-height: 40px;
	padding-left: 12px;
}


/*头部-右侧*/

.c-nav-mod .c-nav-top-operation {
	font-size: 0;
	position: absolute;
	top: 0;
	right: 10px;
	height: 100%;
}


/*头部-右侧 语言、登录、注册*/

.c-nav-mod .c-nav-top-ctrl {
	display: inline-block;
	float: left;
	height: 100%
}

.c-nav-mod .c-nav-dropdown-btn {
	position: relative;
	display: inline-block;
	float: left;
	height: 100%;
	vertical-align: middle;
}

.c-nav-mod .c-nav-dropdown-btn-inner {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	color: #fff;
	font-size: 0;
	transition: background-color .4s;
	outline: 0;
	padding-top: 12px;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1
}

.c-nav-mod .c-nav-dropdown-btn:hover .c-nav-dropdown-btn-inner {
	color: #00a4ff
}

.c-nav-mod .nav-dropdown-btn-txt {
	display: inline-block;
	max-width: 10em;
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 5px;
}

.c-nav-mod .c-nav-icon-global {
	width: 16px;
	height: 16px;
	margin-right: 0;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icon-icons2.svg);
	background-position: 99.65% 14.45%;
	background-size: 1875% 1700%;
	background-repeat: no-repeat
}

.c-nav-mod .nav-dropdown-btn-icon {
	width: 6px;
	height: 4px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icon-icons2.svg);
	background-position: 58.160000000000004% 51.12%;
	background-size: 5000% 6800%;
	background-repeat: no-repeat;
	margin-left: 5px;
}

.c-nav-mod .c-nav-dropdown-btn.actived .c-nav-icon-global,
.c-nav-mod .c-nav-dropdown-btn:hover .c-nav-icon-global {
	background-position: 99.65% 28.52%;
}

.c-nav-mod .c-nav-dropdown-btn.actived .nav-dropdown-btn-icon,
.c-nav-mod .c-nav-dropdown-btn:hover .nav-dropdown-btn-icon {
	background-position: 98.98% 97.76%;
}

.c-nav-mod .c-nav-top-links {
	display: inline-block;
	float: left;
}

.c-nav-mod .c-nav-top-links .link-item {
	display: inline-block;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #fff;
	float: left
}

.c-nav-mod .c-nav-top-links .link-item:hover {
	color: #00a4ff
}

.c-nav-mod .nav-register-btn {
	float: left;
	width: 80px;
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	margin: 5px 10px;
}


/*语言下拉框*/

.c-nav-mod .dropdown-mini-lang {
	font-size: 12px
}

.c-nav-mod .dropdown-mini-inner .dropdown-mini-list {
	padding-top: 10px;
	padding-bottom: 10px
}

.c-nav-mod .dropdown-mini-inner .dropdown-mini-item {
	line-height: 32px;
	position: relative
}

.c-nav-mod .dropdown-mini-inner .dropdown-mini-item a {
	color: #000;
	display: block;
	padding: 0 15px;
	min-width: 80px
}

.c-nav-mod .dropdown-mini-inner .dropdown-mini-item a:hover,
.c-nav-mod .dropdown-mini-inner .dropdown-mini-item.actived a,
.c-nav-mod .dropdown-mini-inner .dropdown-mini-item.curr a {
	color: #00a4ff
}

.c-nav-mod .dropdown-mini-inner .dropdown-mini-item.actived a,
.c-nav-mod .dropdown-mini-inner .dropdown-mini-item.curr a {
	cursor: default
}

.c-nav-dropdown-btn .c-bubble {
	right: 0;
	top: 40px;
	z-index: 1002
}

.c-nav-dropdown-btn .c-bubble-inner {
	left: 80%;
	border: none;
	border-radius: 0;
	background-color: #f7f8fa;
	box-shadow: none;
	padding: 0;
	margin-top: 0;
}

.c-nav-dropdown-btn .c-bubble-inner:after,
.c-nav-dropdown-btn .c-bubble-inner:before {
	border: 6px dashed transparent;
	margin-bottom: 0
}

.c-nav-dropdown-btn .c-bubble-inner:before {
	margin-left: -6px;
	border-bottom-color: #b5bac4
}

.c-nav-dropdown-btn .c-bubble-inner:after {
	margin-left: -5px;
	border-bottom-color: #fff
}

.c-nav-dropdown-btn .nav-dropdown-mini {
	border-color: #dedfe0;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	background-color: #fff;
	white-space: nowrap
}


/*搜索框*/

.c-nav-mod .c-nav-top-search {
	position: relative;
	display: inline-block;
	float: left;
	width: 160px;
	height: 40px;
	font-size: 12px;
	color: #8A8E99;
	text-align: left;
	line-height: 40px;
	background-color: #383e4d;
	margin: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer
}

.c-nav-mod .c-nav-top-search:hover {
	background-color: #3d4454
}

.c-nav-mod .c-nav-top-search-text {
	position: relative;
	padding-left: 12px;
}

.c-nav-mod .c-nav-top-search .nav-search-icon {
	position: absolute;
	right: 9px;
	top: 12px;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	vertical-align: sub;
	background-image: url(../img/icon-icons2.svg);
	background-position: 51.06% 99.61%;
	background-size: 1875% 1700%;
	background-repeat: no-repeat
}

.c-nav-mod .c-nav-top-search .search-btn:hover .nav-search-icon {
	background-position: 70.07% 99.61%;
}

.c-nav-mod .c-top-searchbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	width: 100%;
	padding: 2px 0 3px;
	z-index: -1;
}

.c-nav-mod .c-top-searchbar:after {
	content: "";
	position: absolute;
	left: 10px;
	bottom: 0;
	width: calc(100% - 20px);
	background-color: rgba(124, 132, 142, .3);
	height: 1px;
}

.c-nav-mod .c-top-searchbar,
.c-nav-mod .c-top-searchbar-box .search-ipt,
.c-nav-mod .c-top-searchbar-box .nav-dropdown-mini {
	background-color: #383E4D
}

.c-nav-mod .c-top-searchbar.searchbar-show {
	width: 460px;
	right: 0;
	left: inherit;
	z-index: 1000;
	opacity: 1;
}

.c-nav-mod .c-top-searchbar-inner {
	display: none;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.c-nav-mod .searchbar-show .c-top-searchbar-inner {
	display: block;
}

.c-nav-mod .c-top-searchbar-box {
	position: relative;
	left: 0;
	width: 100%;
	font-size: 0;
	text-align: center;
	white-space: normal;
	margin: 0 auto;
}

.c-top-searchbar .c-searchbar-ctrl {
	position: relative;
	height: 35px;
	text-align: right;
	overflow: hidden;
}

.c-top-searchbar-box .search-btn,
.c-top-searchbar-box .search-ipt {
	height: 35px;
	border: 0;
	background-color: inherit;
	vertical-align: middle;
	box-sizing: border-box !important;
	color: #fff;
	font-size: 14px;
}

.c-nav-mod .c-top-searchbar-box .search-ipt {
	position: absolute;
	left: 0;
	right: 25px;
	width: calc(100% - 36px);
	padding: 5px 5px 5px 20px;
	line-height: normal;
	-webkit-appearance: none;
}

.c-top-searchbar-box .search-ipt::-webkit-search-cancel-button,
.c-top-searchbar-box .search-ipt::-webkit-search-decoration {
	display: none
}

.c-top-searchbar-box .search-ipt::-webkit-input-placeholder {
	color: #8A8E99
}

.c-top-searchbar-box .search-ipt:-moz-placeholder {
	color: #8A8E99
}

.c-top-searchbar-box .search-ipt::-moz-placeholder {
	color: #8A8E99
}

.c-top-searchbar-box .search-ipt:-ms-input-placeholder {
	color: #8A8E99
}

.c-nav-mod .c-nav-top-search .nav-search-icons-wrap {
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	font-size: 0
}

.c-nav-mod .c-nav-top-search .search-cancel-btn {
	height: 100%;
	float: right;
	padding-top: 9px;
	width: 36px;
	text-align: center;
	font-size: 0;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative
}

.c-nav-mod .c-nav-top-search .nav-search-divider {
	width: 1px;
	height: 14px;
	display: inline-block;
	background-color: rgba(124, 132, 142, .4);
	float: right;
	margin-top: 10px
}

.c-nav-mod .c-nav-top-search .nav-search-cancel-icon {
	position: absolute;
	top: 10px;
	right: 9px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/icon-icons2.svg);
	background-position: 93.31% 28.52%;
	background-size: 1875% 1700%;
	background-repeat: no-repeat
}

.c-nav-mod .c-nav-top-search .search-cancel-btn:hover .nav-search-cancel-icon {
	background-position: 93.31% 35.55%;
}

.c-nav-mod .c-top-searchbar-box .search-btn {
	position: relative;
	float: right;
	left: inherit;
	top: inherit;
	right: 0;
	display: inline-block;
	width: 36px;
	font-size: 0;
	line-height: 1;
	text-align: center;
	padding-top: 9px;
	box-sizing: border-box;
}

.c-nav-mod .c-nav-top-search .search-btn .nav-search-icon {
	top: 10px;
	width: 16px
}

.c-top-searchbar-box .nav-dropdown-mini {
	position: absolute;
	top: 38px;
	width: 100%;
	text-align: left;
	background-color: #f7f8fa;
	margin-left: 0;
	overflow: hidden
}

.c-top-searchbar .dropdown-mini-inner .dropdown-mini-list {
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: default
}

.c-top-searchbar .dropdown-mini-list-tit {
	font-weight: 400;
	color: #999;
	font-size: 12px;
	padding-left: 30px;
	line-height: 30px
}

.c-top-searchbar .dropdown-mini-inner .dropdown-mini-item {
	line-height: 14px;
}

.c-top-searchbar .dropdown-mini-inner .dropdown-mini-item a {
	padding: 0 30px;
	color: #FFF;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.c-top-searchbar .dropdown-mini-inner .dropdown-mini-item a:hover,
.c-top-searchbar .dropdown-mini-inner .dropdown-mini-item.curr a {
	background-color: rgba(124, 132, 142, .1)
}


/*
 * 头部-左侧菜单
 */

.c-nav a:hover {
	text-decoration: none
}

.c-nav:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: transparent;
	transition: height .2s, background-color .2s
}

.com-nav-dropdown-wrap {
	display: none;
	position: absolute;
	z-index: 1001;
	left: 0;
	top: 40px;
	bottom: 0;
	width: auto;
}

.com-nav-dropdown-wrap.actived {
	display: block;
}

.nav-dropdown-canvas {
	height: 100%;
	box-shadow: rgba(0, 0, 0, .25) 5px 0 5px -5px;
}

.nav-dropdown-canvas-inner {
	height: 100%;
}

.nav-dropdown-menu {
	float: left;
	width: 280px;
	height: 100%;
	background-color: #f7f8fa;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box
}

.nav-dropdown-menu::-webkit-scrollbar {
	width: 4px
}

.nav-dropdown-menu::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .3)
}

.nav-dropdown-menu::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0)
}

.nav-dropdown-menu.menu-level-1 {
	z-index: 103
}

.nav-dropdown-menu .menu-area {
	margin: 0 20px;
	padding: 8px 0;
	border-bottom: #E5E8ED 1px solid
}

.nav-dropdown-menu .menu-area:first-child {
    padding-top: 24px;
}

.nav-dropdown-menu .menu-area:last-child {
	border-bottom: none
}

.nav-dropdown-menu .menu-link:hover {
	background: #f1f2f4;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px
}

.nav-dropdown-menu .menu-link>a {
	display: block;
	color: #333;
	position: relative;
	font-size: 14px;
    line-height: 20px;
    padding: 8px 20px 8px 0;
}

.nav-dropdown-menu .menu-link a:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 6px;
	height: 8px;
	margin-top: -4px;
	background-image: url(../img/icon-icons2.svg);
	background-position: 96.26% 99.24%;
	background-size: 5000% 3400%;
	background-repeat: no-repeat
}

.nav-dropdown-menu .menu-link a:hover,
.nav-dropdown-menu .menu-link.actived a,
.nav-dropdown-menu .menu-link.curr a {
	color: #00a4ff
}

.nav-dropdown-menu .menu-link a:hover:after,
.nav-dropdown-menu .menu-link.actived a:after {
	background-image: url(../img/icon-icons2.svg);
	background-position: 99.66000000000001% 90.53%;
	background-size: 5000% 3400%;
	background-repeat: no-repeat
}

.nav-dropdown-menu.menu-level-1 .menu-link.curr a {
	background-color: #00a4ff;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff
}

.nav-dropdown-menu.menu-level-1 .menu-link.curr a:after {
	background-image: url(../img/icon-icons2.svg);
	right: 20px;
	background-position: 99.66000000000001% 85.22999999999999%;
	background-size: 5000% 3400%;
	background-repeat: no-repeat
}

.nav-dropdown-menu .menu-link.no-child a:after {
	display: none
}

.nav-dropdown-menu.menu-level-2 {
	display: none;
	border-left: #ddd 1px solid;
	z-index: 102;
}

.nav-dropdown-menu.menu-level-2.actived {
	display: block;
}

.nav-dropdown-menu.menu-level-2 .nav-dropdown-menu-inner {
	display: none;
}

.nav-dropdown-menu.menu-level-2 .nav-dropdown-menu-inner.actived {
	display: block;
}

.nav-dropdown-menu .menu-area-tit {
	font-weight: 400;
	line-height: 35px;
	border-bottom: #E5E8ED 1px solid;
}

.nav-dropdown-menu .menu-item {
	display: block;
	line-height: 1;
	font-size: 14px;
	cursor: pointer;
}

.nav-dropdown-menu .menu-item a {
    display: block;
	color: #333;
	line-height: 20px;
    padding: 8px 20px 8px 0;
}

.nav-dropdown-menu .menu-item a:hover,
.nav-dropdown-menu .menu-item.actived a,
.nav-dropdown-menu .menu-item.curr a {
	color: #00a4ff
}


/*
 * 底部
 */

.foot {
	padding: 45px 0 35px;
	background-color: #373d41;
}

.foot [class*=c-g-] {
	padding-left: 0;
	padding-right: 0;
}

.foot .website-group {
	padding-top: 5px;
}

.foot .website-title {
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 18px;
}

.foot .website-title a,
.foot .website-title a:hover {
	display: block;
	color: inherit;
	cursor: default
}

.foot .website-list a {
	display: block;
	color: #ccc;
	font-size: 12px;
	line-height: 1.5;
	padding: 8px 0;
}

.foot .website-list a:hover {
	text-decoration: none
}

.foot .foot-qr {
	text-align: right;
	font-size: 0;
	line-height: 0;
}

.foot .foot-qr .foot-qr-item {
	display: inline-block;
	width: 134px;
	margin-left: 54px;
}

.foot .foot-qr .foot-qr-item .img {
	display: block;
	width: 134px;
	height: 134px;
}

.foot .foot-qr .foot-qr-item .qr-text {
	color: #ccc;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	margin-top: 15px;
}


/*
 * 首页内容模块
 */

.c-section.c-p-y-tall {
	padding: 70px 0 80px 0
}

.c-section.bg-color {
	background: #ffffff
}

.c-section-inner {
	margin: 0 auto;
	width: 1200px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px
}

.c-section-hd {
	margin-bottom: 40px
}

.c-section-tit {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	line-height: 1.5
}

.c-section-bd .c-grid {
	margin-left: -10px;
	margin-right: -10px;
}

.c-media {
	line-height: 1.5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	display: block;
}

.c-media-img {
	width: 100%;
	text-align: center;
}

.c-media-body {
	margin-top: 20px;
}

.c-media-heading {
	text-align: center;
	font-size: 18px;
	color: #333;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.5;
}

.c-media-info {
	font-size: 14px;
	color: #666;
	margin-top: 10px;
	line-height: 1.7;
	word-wrap: break-word;
}


/*
 * other
 */


/*头部菜单*/

.c-nav-bottom {
	background-color: #ffffff;
	border-bottom: solid 1px rgba(255, 255, 255, .08);
}

.c-nav-tit {
	float: left;
	height: 54px;
	font-size: 18px;
	line-height: 54px;
}

.c-nav-bottom .c-nav-list {
	float: right;
}

.c-nav-bottom .presentation {
	float: left;
	margin-left: 30px;
}

.c-nav-bottom .presentation>a {
	display: block;
	height: 54px;
	color: #333;
	font-size: 14px;
	line-height: 54px;
}

.c-nav-bottom .presentation.curr>a {
	color: #00a4ff;
}

.c-nav-bottom .presentation>a:hover {
	color: #00a4ff
}


/*筛选-分类*/

.filter-menu-container {
	margin-top: 30px;
	background-color: #ffffff;
}

.filter-menu-container .filter-list {
	padding: 20px 20px 0;
	display: table;
}

.filter-menu-container .filter-list .filter-list-item {
	display: table-row;
}

.filter-menu-container .filter-list .fli-title {
	display: table-cell;
	padding-right: 20px;
	white-space: nowrap;
	box-sizing: border-box;
	line-height: 17px;
	font-size: 14px;
	color: #999999;
}

.filter-menu-container .filter-list .fli-list-container {
	display: table-cell;
}

.filter-menu-container .filter-list .fli-list {
	font-size: 0;
}

.filter-menu-container .filter-list .fli-list .list-item {
	display: inline-block;
	margin: 0 30px 20px 0;
}

.filter-menu-container .filter-list .fli-list .item-link {
	font-size: 14px;
	color: #333;
	line-height: 17px;
}

.filter-menu-container .filter-list .fli-list .actived .item-link,
.filter-menu-container .filter-list .fli-list .item-link:hover {
	transition: color .15s ease;
	color: #00A4FF;
}


/*
 * banner轮播
 */

.banner-reg {
	position: relative;
	display: block;
	overflow: hidden;
}

.banner {
	width: 100%;
	min-width: 1200px;
	height: 450px;
	overflow: hidden;
	position: relative;
	border: none;
}

.banner ul {
	position: relative;
	height: 450px;
	border: none;
	background-color: rgb(31, 37, 49);
}

.banner ul li {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
	z-index: -1;
}

.banner ul li.actived {
	z-index: 0;
}

.banner ul li:first-child {
	display: block;
	z-index: 0;
}

.banner img {
	width: 100%;
	height: 450px;
	display: block;
	border: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.banner .dots {
	position: absolute;
	left: 10%;
	width: 80%;
	bottom: 10px;
	z-index: 1;
	zoom: 1;
	overflow: hidden;
	text-align: center;
}

.banner .dots li {
	display: inline-block;
	float: none;
	list-style: none;
	margin: 0 5px;
	width: 30px;
	height: 3px;
	font-size: 0;
	line-height: 14px;
	background: #ABABAB;
	cursor: pointer;
	opacity: 0.44;
}

.banner .dots li.actived {
	background: #FFF;
	opacity: 0.8;
}

.banner .arrow {
	position: absolute;
	top: 50%;
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #222835;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -30px;
	opacity: 0;
}

.banner .arrow.prev {
	left: 20px;
}

.banner .arrow.next {
	right: 20px;
}

.banner .arrow b {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 99;
	vertical-align: middle;
	overflow: visible
}

.banner .arrow b:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-right: 2px solid #4f596e;
	border-bottom: 2px solid #4f596e
}

.banner .arrow:hover b:after {
	border-right-color: #747c8c;
	border-bottom-color: #747c8c
}

.banner .arrow.prev b {
	background: 0 0;
	-webkit-transform: translateX(6px);
	-ms-transform: translateX(6px);
	transform: translateX(6px)
}

.banner .arrow.prev b:after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg)
}

.banner .arrow.next b {
	background: 0 0;
	-webkit-transform: translateX(-6px);
	-ms-transform: translateX(-6px);
	transform: translateX(-6px)
}

.banner .arrow.next b:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.c-hero-aside {
	padding: 20px 25px;
	right: 20px;
	font-size: 16px;
	line-height: 1.6;
	box-sizing: border-box;
	border-radius: 4px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 1200px;
	height: 100%;
	margin-left: -600px;
	background-color: transparent;
	z-index: 9;
}

.c-hero-aside-inner {
	width: 230px;
	padding: 35px 25px;
	background-color: #fff;
	position: absolute;
	right: 20px;
	top: 75px;
	font-size: 16px;
	line-height: 1.7;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: left;
	color: #1e2430;
	pointer-events: auto
}

.c-hero-aside-item a {
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	color: #1e2430;
	text-decoration: none;
	line-height: 1.4;
	border-bottom: 1px solid #1e2430
}

.c-hero-aside-item a:hover {
	color: #00a4ff;
	border-bottom-color: #00a4ff
}

.c-hero-aside-item em {
	display: inline-block;
	vertical-align: middle;
	font-size: 46px;
	line-height: 66px;
	margin-top: 14px;
}

.c-hero-aside-btn {
	padding-top: 24px
}

.c-hero-aside-btn .c-btn {
	width: 100%;
	border-radius: 0;
	height: 40px;
	line-height: 40px;
	font-size: 16px
}

.ban-tit {
	position: absolute;
	top: 100px;
	left: 20px;
	width: 500px;
	color: #fff;
	font-size: 24px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.ban-tit .ban-fb {
	font-size: 28px;
	text-indent: 2.5em;
}

.ban-text {
	position: absolute;
	top: 50px;
	left: 350px;
	width: 450px;
	height: 380px;
	color: #fff;
	font-size: 14px;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.ban-text .img {
	display: block;
	margin: 40px auto 30px;
}


/*筛选*/

.c-main {
	padding: 20px 0 30px 0;
}

.c-cont {
	min-height: 580px;
	background-color: #ffffff;
	overflow: hidden;
}

.c-area {
	padding: 20px;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.c-area-con {
	font-size: 0;
	margin-bottom: -8px;
}

.c-selectarea-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 8px;
	margin-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	min-width: 60px;
	height: 32px;
	line-height: 30px;
	font-size: 14px;
	color: #00a4ff;
	border: 1px solid #00a4ff;
	text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

.c-selectarea-item.actived,
.c-selectarea-item:hover {
	color: #ffffff;
	background-color: #00a4ff;
}


/*tab头*/

.tab-nav {
	position: relative;
	overflow: hidden;
}

.tab-nav:before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: #e8e8e8;
	z-index: 2
}

.tab-nav-list {
	display: table;
	font-size: 0
}

.tab-nav-item {
	display: table-cell;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	padding: 6px 20px 0 20px
}

.tab-nav-item span {
	display: block;
	border-bottom: 2px solid transparent;
	padding: 12px 5px;
}

.tab-nav-item:hover span {
	color: #00a4ff
}

.tab-nav-item.actived {
	z-index: 2
}

.tab-nav-item.actived span {
	color: #00a4ff;
	border-bottom-color: #00a4ff;
}

.tab-pane {
	display: none
}

.tab-pane.actived {
	display: block
}


/*分页*/

.pageation {
	display: block;
	margin: 40px auto
}

.pageation .pageation-list {
	display: block;
	font-size: 0;
	text-align: center
}

.pageation .pageation-list .list-item {
	display: inline-block;
	margin: 0 5px;
	border: 1px solid #ddd
}

.pageation .pageation-list .list-item a {
	display: block;
	padding: 0 13px;
	line-height: 33px;
	font-size: 14px;
	color: #666
}

.pageation .pageation-list .list-item a:hover {
	background-color: #f9f9f9
}

.pageation .pageation-list .list-item.disabled a {
	background-color: #f2f2f2
}

.pageation .pageation-list .list-item.actived {
	border-color: transparent;
	cursor: default
}

.pageation .pageation-list .list-item.actived a {
	cursor: default
}

.pageation .pageation-list .list-item.actived a:hover {
	background-color: transparent
}


/*表单*/

.c-f-list {
	margin-right: 20px;
}

.f-list-item {
	padding: 10px 0;
}

.f-list-item:after {
	content: " ";
	clear: both;
	display: table;
}

.f-list-item .c-f-list-tit {
	float: left;
	width: 20%;
	color: #666666;
	line-height: 44px;
	text-align: right;
	font-weight: normal;
	margin: 0;
}

.f-list-item .c-f-list-tit span {
	padding-right: 20px;
}

.f-list-item .c-f-list-con {
	float: left;
	width: 80%;
}

.f-list-item .c-f-list-con .i-checks {
	display: inline-block;
}

.f-list-item .c-f-list-con .i-checks label {
    color: #171d25;
	font-size: 14px;
    font-weight: normal;
	margin: 11px 20px 0 0;
}

.f-list-item .c-f-list-con .i-checks .icheckbox_square-blue {
    margin-right: 10px;
}

.f-list-item .text-list {
	padding: 10px 0;
	color: #999999;
	line-height: 24px;
}

.f-list-item .text-list .text .red {
	color: #d94b4b;
	margin-right: 25px;
}

.f-list-item .text-list .qr-code {
	width: 150px;
	text-align: center;
}

.f-list-item .text-list .qr-code .img {
	width: 150px;
	height: 150px;
	margin-bottom: 8px;
}

.f-list-item .send-btn-box {
	margin-top: 15px;
	margin-left: 20%;
}

.f-list-item .send-btn-box .c-btn {
	width: auto;
	border-radius: 2px;
}

.upload-img-list {
	margin: 0 -12px -12px 0;
}

.upload-img-list .img-item {
	float: left;
	position: relative;
	display: block;
	width: 98px;
	height: 98px;
	margin: 0 12px 12px 0;
	overflow: hidden;
}

.upload-img-list .img-item .img {
	display: block;
	width: 98px;
	height: 98px;
}

.upload-img-list .img-item .del {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 28px;
	height: 28px;
	background-image: url(../img/icon-del.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.upload-img-list .add-img {
	cursor: pointer;
	overflow: hidden;
}

.upload-img-list .add-img .add {
	display: block;
	color: #d1d2d3;
	font-size: 70px;
	text-align: center;
	line-height: 96px;
	border: 1px dashed #d1d2d3;
}

.upload-img-list .add-img input[type="file"] {
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 100px;
	cursor: pointer;
	z-index: 0;
}

.c-control {
	display: block;
	width: 100%;
	height: 44px;
    padding: 5px 10px;
	font-size: 14px;
    line-height: 23px;
    color: #171d25;
	background-color: #ffffff;
	background-image: none;
    border: 1px solid #d1d2d3;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea.c-control {
    height: auto;
    resize: none;
    outline: 0;
}

.c-control:focus {
	border-color: #00a4ff;
}

.data-box .c-f-list {
    width: 800px;
	margin: 50px auto;
}
.data-box .c-f-list .f-list-item {
    width: 600px;
}

.data-box .f-list-item .c-f-list-tit {
	width: 200px;
}

.data-box .f-list-item .c-f-list-con {
	width: 400px;
}

.data-box .f-list-item .send-btn-box {
	margin-left: 200px;
}


/*数据表格*/

.data-box {
	padding: 20px;
}

.table-data {
	width: 100%;
	text-align: center;
}

.table-data th.tl,
.table-data td.tl {
	text-align: left;
}

.table-data th {
	padding: 12px 10px;
	color: #999;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.table-data th a { 
	color: #00A4FF;
}

.table-data td {
	padding: 10px;
	color: #333;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 1px solid #e5e5e5;
}

.table-data td.opt {
	font-size: 0;
	line-height: 0;
}

.table-data td.opt a {
	position: relative;
	display: inline-block;
	color: #00a4ff;
	font-size: 14px;
	line-height: 22px;
	margin-left: 17px;
	outline: none;
}

.table-data td.opt a:hover {
	text-decoration: underline;
}

.table-data td.opt a:first-child {
	margin-left: 0;
}

.table-data td.opt a:before {
	content: '|';
	position: absolute;
	top: 0;
	left: -17px;
	width: 17px;
	text-align: center;
}

.table-data td.opt a:first-child:before {
	content: '';
	left: 0;
	width: 0;
}

.t-open-btn,
.t-close-btn {
	display: inline-block;
	height: 22px;
	color: #ffffff;
	font-size: 12px;
	padding: 0 8px;
	line-height: 22px;
	border-radius: 2px;
	cursor: pointer;
}

.t-open-btn {
	background-color: #44ca20;
}

.t-close-btn {
	background-color: #d51616;
}

.table-text {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #e5e5e5;
}

.table-text td,
.table-text th {
	text-align: center;
	padding: 10px;
	background-color: #ffffff;
}

.table-text th {
	color: #999;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6;
}

.table-text td {
	color: #333;
	font-size: 14px;
	line-height: 1.6;
	word-break: break-all;
	word-wrap: break-word;
}

.table-tool {
	margin-bottom: 20px;
}

.table-tool .title {
	color: #333;
    font-size: 18px;
    line-height: 34px;
}

.table-tool .tool-l {
	float: left;
}

.table-tool .tool-r {
	float: right;
}

.table-tool .tool-row {
	margin-top: 10px;
}

.table-tool .tool-row:first-child {
	margin-top: 0;
}

.table-tool .c-btn {
	width: auto;
	height: 34px;
	line-height: 34px;
	padding: 0 15px;
}

.table-tool .tool-item {
	float: left;
	margin-left: 12px;
}

.table-tool .tool-l .tool-item:first-child,
.table-tool .tool-r .tool-item:first-child {
	margin-left: 0;
}

.tool-item label {
	float: left;
	line-height: 34px;
	font-weight: normal;
	padding-right: 5px;
	margin: 0;
}

.tool-item .tool-control {
	float: left;
	width: auto;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #666666;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #e8e8e8;
	border-radius: 0;
	margin-right: 15px;
}

.tool-item .tool-control:focus {
	border-color: #00a4ff;
}

.search-input .tool-control {
	float: left;
	width: 240px;
	margin-right: 0;
}

.search-input .c-btn {
	float: left;
}

.tool-item .tab-list {
	float: left;
}

.tool-item .tab-list li {
	float: left;
	line-height: 34px;
	padding: 0 10px;
	margin-right: 20px;
}

.tool-item .tab-list li a {
	color: #666666;
	font-size: 14px;
}

.tool-item .tab-list li.actived a,
.tool-item .tab-list li a:hover {
	color: #00A4FF;
}


/*
 * Bootstrap弹框样式重写
 */

.modal .modal-dialog {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: 0;
	-webkit-transform: translate(-40%, -50%);
	-moz-transform: translate(-40%, -50%);
	-ms-transform: translate(-40%, -50%);
	-o-transform: translate(-40%, -50%);
	transform: translate(-40%, -50%);
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(-40%, -75%);
    -moz-transform: translate(-40%, -75%);
    -ms-transform: translate(-40%, -75%);
    -o-transform: translate(-40%, -75%);
    transform: translate(-40%, -75%);
}

.modal.in .modal-dialog {
	-webkit-transform: translate(-40%, -50%);
	-moz-transform: translate(-40%, -50%);
	-ms-transform: translate(-40%, -50%);
	-o-transform: translate(-40%, -50%);
	transform: translate(-40%, -50%);
}

.modal-content {
	border: 1px solid #dadde0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-header {
	height: 60px;
	padding: 0 30px;
	border-bottom: 1px solid #dadde0;
}

.modal-title {
	color: #171d25;
	font-size: 16px;
	line-height: 60px;
	font-weight: 700;
}

.modal-header .close {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	position: absolute;
	width: 11px;
	height: 12px;
	top: 24px;
	right: 20px;
	line-height: 100;
	background-image: url(../img/icon-icons3.png);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: -50px -207px;
	opacity: 1;
	margin-top: 0;
}

.modal-header .close:focus,
.modal-header .close:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	background-position: -232px -150px
}

.modal-footer {
	padding: 29px 20px;
	text-align: center;
	border-top: 1px solid #dadde0;
	background-color: #fff;
}

.modal-footer .btn {
	height: 36px;
	line-height: 34px;
	padding: 0 25px;
}

.modal-footer .btn+.btn {
	margin-left: 15px;
}

.modal-footer .btn-send {
	border: 1px solid #00a4ff;
	background: #00a4ff;
	color: #fff;
}

.modal-footer .btn-send:focus,
.modal-footer .btn-send:hover {
	border-color: #005da8;
	background: #006ba2;
	border: 1px solid #006ba2
}

.modal-body {
	max-height: 400px;
	padding: 20px;
    overflow: auto;
}


/*section 模块*/

.sphere-item {
	position: relative;
}

.sphere-item img {
	width: 100%;
}

.sphere-item .text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	line-height: 278px;
	background-color: rgba(0, 0, 0, .4);
}


/*
 * 控制台标题
 */

.coll-section-hd {
	margin-bottom: 20px;
	zoom: 1
}

.coll-section-hd:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.coll-section-hd-extra {
	float: right;
	line-height: 40px;
	margin-left: 20px;
	font-size: 0;
}

.coll-section-hd-extra:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 0;
	height: 100%;
	font-size: 0
}

.coll-section-more {
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
	min-width: 60px;
	height: 32px;
	line-height: 30px;
	font-size: 14px;
	color: #00a4ff;
	border: 1px solid #00a4ff;
	text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

.coll-section-more:hover {
	color: #ffffff;
	background-color: #00a4ff;
}

.coll-section-hd-tit {
	line-height: 40px;
	font-size: 24px;
	color: #333;
	font-weight: 400;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

