
<ul class="nav" ui-nav>
  <li class="nav-header hidden-folded">
    <small class="text-muted">客户经理空间</small>
  </li>

  <li>
    <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
      <span class="nav-label">
        </span>
      <span class="nav-icon">
          <i class="material-icons">extension</i>
        </span>
      <span class="nav-text">舆情平台</span>
    </a>
    <ul class="nav-sub">
      <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="app.dataList">-->
          <!--<span class="nav-text">待办事项</span>-->
        <!--</a>-->
      <!--</li>-->
      <li ui-sref-active="active">
        <a ui-sref="app.clientListOfManager">
          <span class="nav-text">客户配置</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.eventList">
          <span class="nav-text">事件配置</span>
        </a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.eventBind">
          <span class="nav-text">事件绑定</span>
        </a>
      </li>
    </ul>
  </li>
  
  
  <!--<li>-->
    <!--<a ui-sref="app.index">-->
        <!--<span class="nav-icon">-->
          <!--<i class="material-icons">recent_actors </i>-->
        <!--</span>-->
      <!--<span class="nav-text">首页</span>-->
    <!--</a>-->
  <!--</li>-->
  <!---->
  <!--<li>-->
    <!--<a ui-sref="app.backlog">-->
        <!--<span class="nav-icon">-->
          <!--<i class="material-icons">recent_actors </i>-->
        <!--</span>-->
      <!--<span class="nav-text">待办</span>-->
    <!--</a>-->
  <!--</li>-->

  <li>
    <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
      <span class="nav-label">
        </span>
      <span class="nav-icon">
          <i class="material-icons">extension</i>
        </span>
      <span class="nav-text">数据定制平台</span>
    </a>
    <ul class="nav-sub">
      <li ui-sref-active="active">
        <a ui-sref="app.dataList">
          <span class="nav-text">申请列表</span>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a>
        <span class="nav-caret">
          <i class="fa fa-caret-down"></i>
        </span>
      <span class="nav-label">
        </span>
      <span class="nav-icon">
          <i class="material-icons">extension</i>
        </span>
      <span class="nav-text">招采平台</span>
    </a>
    <ul class="nav-sub">
      <li ui-sref-active="active">
        <a ui-sref="app.buyerList">
          <span class="nav-text">采购商申请</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.supplierList">
          <span class="nav-text">供应商申请</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.distributorList">
          <span class="nav-text">分销商申请</span>
        </a>
      </li>
    </ul>
  </li>




  <!-- 系统配置板块 -->
  <li class="nav-header hidden-folded" ng-show="app.setting.user1.roles.admin">
    <small class="text-muted">管理员空间</small>
  </li>

  <li ui-sref-active="active" ng-show="app.setting.user1.roles.admin">
    <a ui-sref="app.clientList">
        <span class="nav-icon">
          <i class="material-icons">recent_actors </i>
        </span>
      <span class="nav-text">客户列表</span>
    </a>
  </li>

  <li ui-sref-active="active" ng-show="app.setting.user1.roles.admin">
    <a ui-sref="app.manager.list">
        <span class="nav-icon">
          <i class="material-icons">recent_actors </i>
        </span>
      <span class="nav-text">管理团队</span>
    </a>
  </li>


</ul>
