<div class="top">
<div class="top_div">
<img src="../../assets/img/spider/logo.png" />
<a href="javascript:void(0);">行业方案</a>
<a href="javascript:void(0);">协作平台</a>
<div class="r"><a href="javascript:void(0);" ui-sref="app.register">注册</a><a href="javascript:void(0);" ui-sref="app.login">登录</a></div>
<a href="javascript:void(0);" class="r">关于我们</a>
</div>
</div>

<div class="zj_div">

<div class="bt_div bt_2">采&nbsp;集</div>
<div class="bt_s bt_s1">填写您具体需求，完成数据采集分析。</div>

<div class="cj_bg">
<div class="cj_n2">
<p class="cj_p">数据源:</p>
<textarea>www.baidu.com
www.google.com</textarea>
</div>

<div class="cj_n2">
<p class="cj_p">采集关键词:</p>
<textarea>关键词   关键词    关键词   关键词</textarea>
</div>

<div class="cj_n3">
<div class="cj_n1">
<p class="cj_p cj_p_h">交付报告周期:</p>
<select>
<option>一次性交货</option>
</select>
</div>
<div class="cj_n1"><textarea>自定义详细说明
自定义详细说明
自定义详细说明</textarea></div>

<div class="cj_n1"><div class="box"><input type="file"  ><label>截屏注释有助于确保您获得所需内容。</label></div></div>
</div>

<div class="cj_n3">
<div class="cj_n1"><input type="radio" /><p class="cj_p cj_p_h">短信发送:</p><input type="text" value="手机号码（100条/月免费）"></div>
<div class="cj_n1"><p class="cj_p cj_p_h">电子邮箱:</p><input type="text" value="接收提示电子邮箱，格式***@***.com"></div>
</div>

<div class="cj_n3">
<div class="cj_n1"><p class="cj_p cj_p_h">联系信息 （初次手机或邮箱为会员用户名，初始密码为手机后6位，邮箱为6个1。）</p></div>

<div class="cj_n4"><p class="cj_p cj_p_h"><font class="cj_x">*</font> 电话号码:</p><input type="text" value=""></div>
<div class="cj_n4 cj_n4_m"><p class="cj_p cj_p_h">企业邮箱:</p><input type="text" value=""></div>

<div class="cj_n4"><p class="cj_p cj_p_h">名&nbsp;&nbsp;字:</p><input type="text" value=""></div>
<div class="cj_n4 cj_n4_m"><p class="cj_p cj_p_h">职&nbsp;&nbsp;称:</p><input type="text" value=""></div>

<div class="cj_n5">
<p class="cj_p cj_p_h">公&nbsp;&nbsp;司:</p>
<input type="text" value="">
</div>
</div>


</div>


<input type="button" class="button_big" value="提&nbsp;&nbsp;交" ui-sref="app.dcs_index">

</div>







<div class="foot">

<div class="foot_n">
<p class="p1">
<a href="javascript:void(0);">微信名称</a>
<img src="../../assets/img/spider/wx.png" />
<a href="javascript:void(0);">微博名称</a>
<img src="../../assets/img/spider/wb.png" />
<a href="javascript:void(0);">联系我们</a>
<a href="javascript:void(0);">关于我们</a>

<a href="javascript:void(0);">使用前必读</a>




</p>
</div>

</div>
