<div class="top">
<div class="top_div">
<img src="http://hadupu.cn/cloud/assets/img/spider/logo.png" />
<a href="javascript:void(0);">行业方案</a>
<a href="javascript:void(0);">协作平台</a>
<a href="javascript:void(0);" class="r">关于我们</a>
</div>
</div>

<div class="zj_div">

<div class="bt_div bt_1">采&nbsp;集</div>
<div class="bt_s bt_s1">采集网页内容转化为定制数据，供您工作所需</div>
<div class="pic_div">
<span>
无论是<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;舆情监控、价格监测、诚信监测、<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课题研究、行业分析、产品监测、<br>
只要网上公布的信息，第一时间采集送达、归类分析，定制报告报表……
</span>
</div>
</div>


<div class="hui_bg">
<div class="bt_div bt_2">优&nbsp;势</div>
<div class="bt_s bt_s2">数据知世界，帮助您做出更好的决策。关注舆论，把握行业趋势，了解竞争动向。</div>

<div class="col-sm-6">
            <!-- colored -->
            <div class="ih-item circle colored effect5">
            <a href="javascript:void(0);">
                <div class="img"><img src="http://hadupu.cn/cloud/assets/img/spider/s1.png" alt="img"><p>最快即时即刻获取信息推送+完成工作所需</p></div>
                <div class="info">
                    <div class="info-back">
                        
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </a>
            
            </div>
            
            <div class="ih-item circle colored effect5">
            <a href="javascript:void(0);">
                <div class="img"><img src="http://hadupu.cn/cloud/assets/img/spider/s2.png" alt="img"><p>数十万个主流网站,几乎覆盖全部网页信息</p></div>
                <div class="info">
                    <div class="info-back">
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </a>
            
            </div>
            
            <div class="ih-item circle colored effect5">
            <a href="javascript:void(0);">
                <div class="img"><img src="http://hadupu.cn/cloud/assets/img/spider/s3.png" alt="img"><p>采集100个网站,最低只需1000元/月</p></div>
                <div class="info">
                    <div class="info-back">
                         <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </a>
            
            </div>
            
            <div class="ih-item circle colored effect5">
            <a href="javascript:void(0);">
                <div class="img"><img src="http://hadupu.cn/cloud/assets/img/spider/s4.png" alt="img"><p>指定网站+定制关键词, 准确满足工作所需</p></div>
                <div class="info">
                    <div class="info-back">
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字
                        测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </a>
            
            </div>
            <!-- end colored -->
        </div>
        
</div>


<div class="buton_div">
<a href="javascript:void(0);" class="big_button" ui-sref="collection"><img src="http://hadupu.cn/cloud/assets/img/spider/big_buton.png" /></a>
</div>

<div class="foot">

<div class="foot_n">
<p class="p1">
<a href="javascript:void(0);">微信名称</a>
<img src="http://hadupu.cn/cloud/assets/img/spider/wx.png" />
<a href="javascript:void(0);">微博名称</a>
<img src="http://hadupu.cn/cloud/assets/img/spider/wb.png" />
<a href="javascript:void(0);">联系我们</a>
<a href="javascript:void(0);">关于我们</a>

<a href="javascript:void(0);">使用前必读</a>




</p>
</div>

</div>
