<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">广西在线旅游产品分析系统</div>
		<ul class="c-nav-list">
			<li class="presentation curr">
				<a href="javascript:void(0);">首页</a>
			</li>
			<li class="presentation" ui-sref="app.tas_scenic_spot">
				<a href="javascript:void(0);">景点信息</a>
			</li>
			<li class="presentation" ui-sref="app.tas_travel_product">
				<a href="javascript:void(0);">旅游产品</a>
			</li>
		</ul>
	</div>
</div>

<div class="chart-list c-grid">
	<div class="c-grid-layout">
		<div class="c-g-24">
			<div class="com-sidebar-panel">
					<div class="panel-hd">
						<h2 class="panel-title">城市概览</h2>
					</div>
					<div class="panel-bd">
						<div class="c-grid">
							<div class="c-g-15"><img src="assets/img/img-yq-e5.png" /></div>
							<div class="c-g-9">
								<table class="table1">
									<thead>
										<tr><th>城市</th><th>景点数</th><th>产品数</th></tr>
									</thead>
									<tbody>
										<tr><td>桂林</td><td>899</td><td>458</td></tr>
										<tr><td>贺州</td><td>457</td><td>248</td></tr>
										<tr><td>梧州</td><td>500</td><td>375</td></tr>
										<tr><td>柳州</td><td>200</td><td>482</td></tr>
										<tr><td>来宾</td><td>145</td><td>531</td></tr>
										<tr><td>贵港</td><td>136</td><td>320</td></tr>
										<tr><td>玉林</td><td>400</td><td>829</td></tr>
										<tr><td>河池</td><td>580</td><td>199</td></tr>
										<tr><td>南宁</td><td>621</td><td>210</td></tr>
										<tr><td>钦州</td><td>199</td><td>332</td></tr>
										<tr><td>百色</td><td>235</td><td>398</td></tr>
										<tr><td>崇州</td><td>456</td><td>298</td></tr>
										<tr><td>防城港市</td><td>622</td><td>147</td></tr>
										<tr><td>北海</td><td>146</td><td>685</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="c-g-24">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">景点概览</h2>
					<div class="panel-extra">
						<ul class="sign">
							<li><img src="assets/img/icon-ta1.png" />产品数</li>
						</ul>
					</div>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-ta-1.jpg" width="100%" />
				</div>
			</div>
		</div>
	</div>
</div>

