<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">广西在线旅游产品分析系统</div>
		<ul class="c-nav-list">
			<li class="presentation" ui-sref="app.tas_index">
				<a href="javascript:void(0);">首页</a>
			</li>
			<li class="presentation" ui-sref="app.tas_scenic_spot">
				<a href="javascript:void(0);">景点信息</a>
			</li>
			<li class="presentation curr">
				<a href="javascript:void(0);">旅游产品</a>
			</li>
		</ul>
	</div>
</div>

<div class="c-section c-main">
	<div class="c-section-inner">
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-item">
					<label>城市：</label>
					<select class="tool-control">
						<option>桂林</option>
						<option>河池</option>
						<option>柳州</option>
						<option>百色</option>
						<option>北海</option>
					</select>
				</div>
				<div class="tool-item">
					<label>景点：</label>
					<select class="tool-control">
						<option>象鼻山</option>
						<option>靖江王府</option>
						<option>两江四湖</option>
						<option>古东瀑布</option>
					</select>
				</div>
				<button type="button" class="tool-item c-btn">搜索</button>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>价格</th>
						<th>城市</th>
						<th>描述</th>
						<th>来源</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>桂林7日游</td>
						<td>4000</td>
						<td>桂林</td>
						<td>桂林全景漓江阳朔精品五日游【世外.龙脊】升级一晚准五酒店含4早4正</td>
						<td>携程网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>漓江5日游</td>
						<td>3000</td>
						<td>桂林</td>
						<td>桂林漓江阳朔龙脊品质五日游【真纯玩 山水龙脊 4早4正餐】</td>
						<td>去哪儿网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>桂林7日游</td>
						<td>4000</td>
						<td>桂林</td>
						<td>桂林全景漓江阳朔精品五日游【世外.龙脊】升级一晚准五酒店含4早4正</td>
						<td>携程网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>漓江5日游</td>
						<td>3000</td>
						<td>桂林</td>
						<td>桂林漓江阳朔龙脊品质五日游【真纯玩 山水龙脊 4早4正餐】</td>
						<td>去哪儿网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>桂林7日游</td>
						<td>4000</td>
						<td>桂林</td>
						<td>桂林全景漓江阳朔精品五日游【世外.龙脊】升级一晚准五酒店含4早4正</td>
						<td>携程网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>漓江5日游</td>
						<td>3000</td>
						<td>桂林</td>
						<td>桂林漓江阳朔龙脊品质五日游【真纯玩 山水龙脊 4早4正餐】</td>
						<td>去哪儿网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>桂林7日游</td>
						<td>4000</td>
						<td>桂林</td>
						<td>桂林全景漓江阳朔精品五日游【世外.龙脊】升级一晚准五酒店含4早4正</td>
						<td>携程网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>漓江5日游</td>
						<td>3000</td>
						<td>桂林</td>
						<td>桂林漓江阳朔龙脊品质五日游【真纯玩 山水龙脊 4早4正餐】</td>
						<td>去哪儿网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>桂林7日游</td>
						<td>4000</td>
						<td>桂林</td>
						<td>桂林全景漓江阳朔精品五日游【世外.龙脊】升级一晚准五酒店含4早4正</td>
						<td>携程网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
					<tr>
						<td>漓江5日游</td>
						<td>3000</td>
						<td>桂林</td>
						<td>桂林漓江阳朔龙脊品质五日游【真纯玩 山水龙脊 4早4正餐】</td>
						<td>去哪儿网</td>
						<td class="opt">
							<a href="javascript:void(0);">进入原网页</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
