<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">广西在线旅游产品分析系统</div>
		<ul class="c-nav-list">
			<li class="presentation" ui-sref="app.tas_index">
				<a href="javascript:void(0);">首页</a>
			</li>
			<li class="presentation curr">
				<a href="javascript:void(0);">景点信息</a>
			</li>
			<li class="presentation" ui-sref="app.tas_travel_product">
				<a href="javascript:void(0);">旅游产品</a>
			</li>
		</ul>
	</div>
</div>

<div class="c-section c-main">
	<div class="c-section-inner">
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-item">
					<label>城市：</label>
					<select class="tool-control">
						<option>桂林</option>
						<option>河池</option>
						<option>柳州</option>
						<option>百色</option>
						<option>北海</option>
					</select>
				</div>
				<div class="tool-item">
					<label>县/区：</label>
					<select class="tool-control">
						<option>凌云县</option>
					</select>
				</div>
				<div class="tool-item">
					<label>分类：</label>
					<select class="tool-control">
						<option>AAAAA</option>
						<option>AAAA</option>
						<option>AAA</option>
					</select>
				</div>
				<button type="button" class="tool-item c-btn">搜索</button>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>名称</th>
						<th>城市</th>
						<th>县/区</th>
						<th>分类</th>
						<th>地址</th>
						<th>描述</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
					<tr>
						<td>漓江</td>
						<td>桂林</td>
						<td>兴安县</td>
						<td>AAAAA</td>
						<td>广西壮族自治区桂林市</td>
						<td>“桂林山水甲天下”指的就是游漓江</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
