

<!--头部-->
<div class="head">
    <!--头部-顶部菜单-->
    <div class="head-topbar">
        <div id="allNav" class="all-nav clearfix">
            <i class="nav-icon"></i>
            <span class="nav-text">菜单</span>
        </div>
        <i class="c-nav-top-divider"></i>
        <a class="logo" href="javascript:void(0)">广西旅游大数据公共服务云平台</a>
        <a class="register-btn" href="javascript:void(0)">免费注册</a>
        <div class="top-menu">
            <div class="menu-link">
                <i class="icon-global"></i>
            </div>
            <div class="menu-link">
                <a href="javascript:void(0)">登录</a>
            </div>
        </div>
        <div class="top-menu c-nav-entry-list">
            <div class="menu-link">
                <a href="javascript:void(0)">云市场</a>
            </div>
            <div class="menu-link">
                <a href="javascript:void(0)">云+社区</a>
            </div>
        </div>

        <div class="top-search">
            <div class="search-cont">
                <input class="search-input-elem" placeholder="搜索">
                <div class="search-close" style="display: none;"></div>
                <div class="search-icon"></div>
                <div class="search-outline"></div>
                <img src="javascript:void(0)" hidden="">
                <div class="search-dropdown" style="height: 0px;">
                    <ul class="dropdown-quicklist">

                    </ul>
                    <ul class="dropdown-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <!--头部-轮播-->
    <div class="banner-reg">
        <div class="c-hero-aside">
            <div class="ban-tit"><p>广西旅游舆情监测云平台</p><p class="ban-fb">开通上线</p></div>
            <div class="ban-text">
                <img class="img" src="assets/img/img-text.png" />
                <div class="text">隆安县、马山县、上林县、宾阳县、横县、鹿寨县、柳城县、融安县、 融水苗族自治县、三江侗族自治县、阳朔县、灵州县、全州县、 平乐 县、兴安县、灌阳县、荔浦县、资源县、永福县、龙胜各族自治县、恭 城瑶族自治县、苍梧县、蒙山县。、藤县、合浦县、上思县、灵山县、 浦北县、平南县、容县、陆川县、博白县、兴业县、田阳县、田东县、 平果县、德保县、那坡县、凌云县。</div>
            </div>
            <div class="c-hero-aside-inner J-bannerAside" style="z-index: 0; opacity: 1;">
                <div class="c-hero-aside-item"> 现在注册 <br> 即可体验
                    <a href="javascript:void(0)">免费套餐</a>
                </div>
                <div class="c-hero-aside-item"><em>40+</em><br> 款免费云产品 </div>
                <div class="c-hero-aside-btn">
                    <a role="button" href="javascript:void(0)" class="c-btn">注册新账号</a>
                </div>
            </div>
            <div class="c-hero-m-aside">
                <a href="javascript:void(0)"> 现在注册，免费体验40多款云产品 </a>
                <a class="c-btn c-btn-small btn-register" href="javascript:void(0)">免费注册</a>
            </div>
        </div>
        <div class="banner has-dots has-arrows">
            <ul>
                <!--克隆最后一张-->
                <li class="chone">
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <!--轮播列表-->
                <li>
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
                <!--克隆第一张-->
                <li class="chone">
                    <a href="javascript:void(0)">
                        <img style="background-image:url(../../assets/img/img-banner.png)" src="../../assets/img/o.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--头部-产品列表-->
    <div class="products">
        <div class="wrap">
            <ul>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <h2 class="tit"><span>舆情监测平台</span><i class="icon-hot">HOT</i></h2>
                        <p class="text">快速准确监测网上各类旅游负面舆情，全面了解社会公众关切的旅游相关问题，从而及时制定准确的应对措施</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <h2 class="tit"><span>免费套餐</span><i class="icon-hot">HOT</i></h2>
                        <p class="text">领取云资源，免费试用6个月，为您提供0门槛上云实践机会</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <h2 class="tit"><span>小程序·云开发</span></h2>
                        <p class="text">微信官方原生API，弱化后端和运维操作，快速开发和上线小程序</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <h2 class="tit"><span>产业运营监测平台</span></h2>
                        <p class="text">基于相关产业市场运行实时数据，监测产业和经济运行现状</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" target="_blank">
                        <h2 class="tit"><span>大数据定制平台</span></h2>
                        <p class="text">根据用户实际需求，提供定制化数据采集和分析服务</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ui-view class="app-body" ng-class="{'container': app.setting.container}" id="view"></div>