<!--头部-顶部菜单-->
<div class="c-nav-wrap c-nav">
	<div class="c-nav-mod c-nav-dark">
		<div class="c-nav-top">
			<a id="leftNavBtn" href="javascript:void(0);" class="c-nav-all-trigger">
				<i class="c-nav-all-trigger-icon"></i>
				<span class="c-nav-all-trigger-text">菜单</span>
			</a>
			<i class="c-nav-top-divider"></i>
			<a class="c-nav-logo" href="javascript:void(0);" ui-sref="app.home">广西旅游大数据云平台</a>
			<div class="c-nav-top-operation">
				<div class="c-nav-top-search" href="javascript:void(0);">
					<div class="c-nav-top-search-text" ng-click="isSearchbar=true"><i class="nav-search-icon"></i> 搜索</div>
					<!--显示 c-top-searchbar searchbar-show  隐藏 c-top-searchbar-->
					<div id="qcTopNavSearchBar" class="c-top-searchbar" ng-class="isSearchbar?'searchbar-show':''">
						<div class="c-top-searchbar-inner">
							<div class="c-top-searchbar-box">
								<div class="c-searchbar-ctrl">
									<input type="search" class="search-ipt" placeholder="请输入你要搜索的关键词">
									<div class="nav-search-icons-wrap">
										<a href="javascript:void(0);" class="search-cancel-btn" ng-click="isSearchbar=false">
											<i class="nav-search-cancel-icon"></i>
										</a>
										<i class="nav-search-divider"></i>
										<a href="javascript:void(0);" class="search-btn">
											<i class="nav-search-icon"></i>
										</a>
									</div>
								</div>
								<!--联想 start-->
								<div class="nav-dropdown-mini">
									<div class="dropdown-mini-inner dropdown-mini-lang">
										<div class="dropdown-mini-list">
											<h3 class="dropdown-mini-list-tit">热门搜索</h3>
											<ul>
												<li class="dropdown-mini-item">
													<a href="javascript:void(0);">域名</a>
												</li>
												<li class="dropdown-mini-item">
													<a href="javascript:void(0);">云服务器</a>
												</li>
												<li class="dropdown-mini-item">
													<a href="javascript:void(0);">微信小程序</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!--联想 end-->
							</div>
						</div>
					</div>
				</div>
				<div class="c-nav-top-ctrl">
					<!--<div class="c-nav-dropdown-btn nav-dropdown-lang" ng-mouseover="isLanguage=true" ng-mouseout="isLanguage=false">-->
					<div class="c-nav-dropdown-btn nav-dropdown-lang">
						<a href="javascript:void(0);" class="c-nav-dropdown-btn-inner">
							<i class="c-nav-icon-global"></i>
							<span class="nav-dropdown-btn-txt">广西</span>
							<!--<i class="nav-dropdown-btn-icon"></i>-->
						</a>
						<!--<div class="c-bubble c-bubble-top" ng-show="isLanguage">
							<div class="c-bubble-inner">
								<div class="nav-dropdown-mini">
									<div class="dropdown-mini-inner dropdown-mini-lang">
										<div class="dropdown-mini-list">
											<ul>
												<li class="dropdown-mini-item activedd">
													<a href="javascript:void(0);">中国站</a>
												</li>
												<li class="dropdown-mini-item">
													<a href="javascript:void(0);">International</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>-->
					</div>
					<div class="c-nav-top-links">
						<a class="link-item" ui-sref="app.login" ng-show="!app.setting.user">登录</a>
						<a class="nav-register-btn c-btn" ui-sref="app.register" ng-show="!app.setting.user">免费注册</a>
						<a class="link-item" ui-sref="app.my" ng-show="app.setting.user">我的账户</a>
						<a class="link-item" ui-sref="app.console" ng-show="app.setting.user">我的空间</a>
						<a class="link-item" ng-click="app.logout()" ng-show="app.setting.user">登出</a>
					</div>
				</div>
			</div>
		</div>
		<div class="c-nav-mask" ng-click="isSearchbar=false" ng-class="isSearchbar?'actived':''"></div>
	</div>
</div>
<!--内容-->
<div ui-view class="app-body" ng-class="{'container': app.setting.container}" id="view"></div>
<!--底部-->
<div class="foot">
	<div class="wrap">
		<ul class="c-grid">
			<li class="c-g-4">
				<div class="website-group">
					<h3 class="website-title"><a href="javascript:void(0);">支持与服务</a></h3>
					<ul class="website-list">
						<li>
							<a href="javascript:void(0);">联系我们</a>
						</li>
						<li>
							<a href="javascript:void(0);">支持计划</a>
						</li>
						<li>
							<a href="javascript:void(0);">自助工具</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="c-g-4">
				<div class="website-group">
					<h3 class="website-title"><a href="javascript:void(0);">账户管理</a></h3>
					<ul class="website-list">
						<li>
							<a href="javascript:void(0);">备案管理</a>
						</li>
						<li>
							<a href="javascript:void(0);">账号管理</a>
						</li>
						<li>
							<a href="javascript:void(0);">合同申请</a>
						</li>

					</ul>
				</div>
			</li>
			<li class="c-g-4">
				<div class="website-group">
					<h3 class="website-title"><a href="javascript:void(0);">联系我们</a></h3>
					<ul class="website-list">
						<li>
							<a href="javascript:void(0);">联系电话：025-83767777</a>
						</li>
						<li>
							<a href="javascript:void(0);">QQ：123456789</a>
						</li>
						<li>
							<a href="javascript:void(0);">邮箱：123456789@qq.com</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="c-g-12 foot-qr">
				<div class="foot-qr-item">
					<img class="img" src="assets/img/img-qr-code.png" alt="">
					<p class="qr-text">APP下载</p>
				</div>
				<div class="foot-qr-item">
					<img class="img" src="assets/img/img-code-gzh.jpg" alt="">
					<p class="qr-text">公众号</p>
				</div>
				<div class="foot-qr-item">
					<img class="img" src="assets/img/img-qr-code.png" alt="">
					<p class="qr-text">小程序</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--头部左侧菜单-->
<div id="leftNav" class="c-nav com-nav-dropdown-wrap">
	<div class="nav-dropdown-canvas">
		<div class="nav-dropdown-canvas-inner clearfix">
			<div id="fstLeftNav" class="nav-dropdown-menu menu-level-1">
				<div class="nav-dropdown-menu-inner">
					<div class="menu-area">
						<ul>
							<li class="menu-link curr" data-id="mlf1">
								<a href="javascript:void(0);">舆情监测平台</a>
							</li>
							<li class="menu-link" data-id="mlf2">
								<a href="javascript:void(0);">旅游教育大数据平台</a>
							</li>
							<li class="menu-link" data-id="mlf3">
								<a href="javascript:void(0);">广西在线旅游产品分析系统</a>
							</li>
							<li class="menu-link" data-id="mlf4">
								<a href="javascript:void(0);">东盟旅游大数据平台</a>
							</li>
							<li class="menu-link" data-id="mlf5">
								<a href="javascript:void(0);">东盟旅游舆情监测与精准营销平台</a>
							</li>
							<li class="menu-link" data-id="mlf6">
								<a href="javascript:void(0);">采招项目服务平台</a>
							</li>
							<li class="menu-link" data-id="mlf7">
								<a href="javascript:void(0);">数据定制平台</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="sndLeftNav" class="nav-dropdown-menu menu-level-2">
				<div class="nav-dropdown-menu-inner" data-id="mlf1">
					<div class="menu-area">
						<h2 class="menu-area-tit">舆情监测平台</h2>
						<ul class="menu-list">
							<li class="menu-item" ui-sref="app.pfs_index">
								<a href="javascript:void(0);">首页</a>
							</li>
							<li class="menu-item" ui-sref="app.console">
								<a href="javascript:void(0);">控制台</a>
							</li>
							<li class="menu-item" ui-sref="app.my">
								<a href="javascript:void(0);">个人中心</a>
							</li>
							<li class="menu-item" ui-sref="app.product_list">
								<a href="javascript:void(0);">产品列表</a>
							</li>
							<li class="menu-item" ui-sref="app.pfs_detail">
								<a href="javascript:void(0);">舆情详情</a>
							</li>
							<li class="menu-item" ui-sref="app.news_list">
								<a href="javascript:void(0);">舆情列表</a>
							</li>
							<li class="menu-item" ui-sref="app.pfs_keyword">
								<a href="javascript:void(0);">关键字设置</a>
							</li>
							<li class="menu-item" ui-sref="app.pfs_set">
								<a href="javascript:void(0);">报警条件设置</a>
							</li>
							<li class="menu-item" ui-sref="app.pfs_data_source">
								<a href="javascript:void(0);">数据源设置</a>
							</li>
							<li class="menu-item" ui-sref="app.pfs_report_manager">
								<a href="javascript:void(0);">报表管理</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf2">
					<div class="menu-area">
						<h2 class="menu-area-tit">旅游教育大数据平台</h2>
						<ul class="menu-list">
							<li class="menu-item" ui-sref="app.tes_recruit">
								<a href="javascript:void(0);">招聘分析</a>
							</li>
							<li class="menu-item" ui-sref="app.tes_report">
								<a href="javascript:void(0);">报表管理</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf3">
					<div class="menu-area">
						<h2 class="menu-area-tit">广西在线旅游产品分析系统</h2>
						<ul class="menu-list">
							<li class="menu-item" ui-sref="app.tas_index">
								<a href="javascript:void(0);">首页</a>
							</li>
							<li class="menu-item" ui-sref="app.tas_scenic_spot">
								<a href="javascript:void(0);">景点信息</a>
							</li>
							<li class="menu-item" ui-sref="app.tas_travel_product">
								<a href="javascript:void(0);">旅游产品</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf4">
					<div class="menu-area">
						<h2 class="menu-area-tit">东盟旅游大数据平台</h2>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf5">
					<div class="menu-area">
						<h2 class="menu-area-tit">东盟旅游舆情监测与精准营销平台</h2>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf6">
					<div class="menu-area">
						<h2 class="menu-area-tit">采招项目服务平台</h2>
						<ul class="menu-list">
							<li class="menu-item" ui-sref="app.bps_index">
								<a href="javascript:void(0);">首页</a>
							</li>
							<li class="menu-item" ui-sref="app.bps_purchase">
								<a href="javascript:void(0);">采购商</a>
							</li>
							<li class="menu-item" ui-sref="app.bps_supplier">
								<a href="javascript:void(0);">供应商</a>
							</li>
							<li class="menu-item" ui-sref="app.bps_distributor">
								<a href="javascript:void(0);">分销商</a>
							</li>
							<li class="menu-item" ui-sref="app.bps_audit">
								<a href="javascript:void(0);">成为供应商</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="nav-dropdown-menu-inner" data-id="mlf7">
					<div class="menu-area">
						<h2 class="menu-area-tit">数据定制平台</h2>
						<ul class="menu-list">
							<li class="menu-item" ui-sref="spider">
								<a href="javascript:void(0);">首页</a>
							</li>
							<li class="menu-item" ui-sref="app.dcs_index">
								<a href="javascript:void(0);">数据定制</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		
		$("#leftNavBtn, #leftNav").hover(showLeftNav, closeNav);

		$("#fstLeftNav .menu-link").hover(function(){
			var thisId=$(this).attr('data-id');
			$("#sndLeftNav").addClass("actived");
			$("#sndLeftNav .nav-dropdown-menu-inner, #fstLeftNav .menu-link").removeClass("actived");
			$("[data-id='"+thisId+"']").addClass("actived");
			sndLeftNav(thisId);
		},function(){
			var thisId=$(this).attr('data-id');
			$("#sndLeftNav").removeClass("actived");
			$("#sndLeftNav .nav-dropdown-menu-inner, #fstLeftNav .menu-link").removeClass("actived");
			$("[data-id='"+thisId+"']").removeClass("actived");
			sndLeftNav(thisId);
		});

		$("#sndLeftNav .menu-item").on("click", closeNav);

	});
	
	function sndLeftNav(thisId) {
		$("#sndLeftNav").hover(function(){
			$("#sndLeftNav").addClass("actived");
			$("#sndLeftNav .nav-dropdown-menu-inner, #fstLeftNav .menu-link").removeClass("actived");
			$("[data-id='"+thisId+"']").addClass("actived");
		},function(){
			$("#sndLeftNav").removeClass("actived");
		});
	}

	function closeNav(){
		$("#leftNavBtn").removeClass("actived");
		$("#sndLeftNav .nav-dropdown-menu-inner, #sndLeftNav").removeClass("actived");
		$("#fstLeftNav .menu-link, #leftNav").removeClass("actived");
	}
	
	function showLeftNav(){
		$("#leftNavBtn, #leftNav").addClass("actived");
	}
</script>