.analysis-mod.header {
		margin-left: -10px;
		margin-right: -10px;
	}
	
	.analysis-mod .c-media {
		box-shadow: #ccc 0 0 3px;
		transition: all .4s;
		padding: 40px 10px 40px 10px;
	}
	
	.analysis-mod .c-media:hover {
		transition: all .4s;
		transform: translate3d(0, -4px, 0)
	}
	
	.analysis-mod .c-media-heading {
		color: #000
	}
	
	.analysis-mod.header .c-media:hover .c-media-heading {
		color: #00a4ff
	}
	
	.analysis-mod .c-media-body {
		margin-top: 13px
	}
	
	.analysis-mod .c-media-info {
		text-align: center;
		height: 44px;
		line-height: 22px;
		margin-top: 1px
	}
	
	.analysis-mod .c-media-img {
		width: 48px;
		height: 48px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
	}
	
	.analysis-mod .c-media-img img {
		width: 100%;
		position: relative;
	}
	
	.analysis-mod.header {
		margin-left: -10px;
		margin-right: -10px
	}
	
	.analysis-mod .form-inline {
		text-align: center;
		padding-top: 15px;
	}
	
	.analysis-mod .form-inline .form-control {
		width: 150px;
	}
	
	.analysis-mod .form-inline label {
		font-weight: normal;
	}
	
	.analysis-box {
		margin-bottom: 40px;
	}
	
	.analysis-box .c-control {
		height: 188px;
		line-height: 22px;
	}
	
	.analysis-box .c-control textarea {
		width: 100%;
		height: 176px;
		line-height: 22px;
		resize: none;
		outline: 0;
		border: 0;
	}
	
	.analysis-box .c-btn {
		width: 100%;
		border-radius: 2px;
		margin-top: 76px;
	}
	
	.analysis-box .img {
		display: block;
		width: 90px;
		height: 90px;
		margin: 43px auto 0 auto;
	}