<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">旅游教育大数据平台</div>
		<ul class="c-nav-list">
			<li class="presentation curr">
				<a href="javascript:void(0);">招聘分析</a>
			</li>
			<li class="presentation" ui-sref="app.tes_report">
				<a href="javascript:void(0);">报表管理</a>
			</li>
		</ul>
	</div>
</div>

<div class="chart-list c-grid">
	<div class="c-grid-layout">
		<div class="c-g-24">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">职位总数走势</h2>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-fx-1.jpg" width="100%" />
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">岗位分布</h2>
				</div>
				<div class="panel-bd" >
					<img src="assets/img/img-fx-2.jpg" width="100%" />
				</div>
			</div>
		</div>
		<div class="c-g-12">
			<div class="com-sidebar-panel">
				<div class="panel-hd">
					<h2 class="panel-title">岗位所在城市分布</h2>
				</div>
				<div class="panel-bd">
					<img src="assets/img/img-fx-3.jpg" width="100%" />
				</div>
			</div>
		</div>
	</div>
</div>

