<div class="c-nav-bottom">
	<div class="wrap clearfix">
		<div class="c-nav-tit">旅游教育大数据平台</div>
		<ul class="c-nav-list">
			<li class="presentation" ui-sref="app.tes_recruit">
				<a href="javascript:void(0);">招聘分析</a>
			</li>
			<li class="presentation curr">
				<a href="javascript:void(0);">报表管理</a>
			</li>
		</ul>
	</div>
</div>

<div class="c-section c-main">
	<div class="c-section-inner">
		
		<!--表格-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-item">
					<label>选择年份：</label>
					<select class="tool-control">
						<option>2019</option>
						<option>2018</option>
						<option>2017</option>
						<option>2016</option>
						<option>2015</option>
					</select>
				</div>
				<button type="button" class="tool-item c-btn">搜索</button>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th class="tl">名称</th>
						<th>所属年份</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="tl">旅游高校清单表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">旅游高校历年在校人数表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">全国各旅游高校专业开设情况表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">全国各旅游高校专业毕业生就业情况表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">全国各旅游行业岗位需求表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">全国各旅游高校科研机构情况表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">旅游高校学杂费历年情况分析表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">旅游高校学杂费历年情况分析表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">旅游高校学杂费历年情况分析表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td class="tl">旅游高校学杂费历年情况分析表</td>
						<td>2019</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
