
	<body>
		<div class="my-head layout-center">
			<div class="imgbd"><img class="img" src="{{user.headerUrl ? user.headerUrl : '../assets/img/wechat/img-head.png'}}" /></div>
			<div class="user-info flex-item1">
				<div class="text">手机号：{{user.phone}}</div>
				<div class="text">账户余额：{{user.balance ? user.balance : 0}}<span class="c-btn">充值</span></div>
			</div>
		</div>
		<div class="c-tit">已购买产品</div>

		<ul class="product-list">
			<li class="product-item">
				<a href="javascript:void(0);">
					<div class="cont">
						<div class="name">广西在线旅游产品分析平台</div>
						<div class="time">到期时间：<span class="c-red">2019-11-12</span></div>
					</div>
					<!--<span class="selllist-btn">立即续费</span>-->
				</a>
			</li>
			<li class="product-item">
				<a href="javascript:void(0);">
					<div class="cont">
						<div class="name">广西在线旅游产品分析平台</div>
						<div class="time">到期时间：<span class="c-red">2019-11-12</span></div>
					</div>
					<!--<span class="selllist-btn">立即续费</span>-->
				</a>
			</li>
			<li class="product-item">
				<a href="javascript:void(0);">
					<div class="cont">
						<div class="name">广西在线旅游产品分析平台</div>
						<div class="time">到期时间：<span class="c-red">2019-11-12</span></div>
					</div>
					<!--<span class="selllist-btn">立即续费</span>-->
				</a>
			</li>
			<li class="product-item">
				<a href="javascript:void(0);">
					<div class="cont">
						<div class="name">广西在线旅游产品分析平台</div>
						<div class="time">到期时间：<span class="c-red">2019-11-12</span></div>
					</div>
					<!--<span class="selllist-btn">立即续费</span>-->
				</a>
			</li>
		</ul>
