<div ng-include="apiInclude + 'head_nav_dcs.html'"></div>

<div class="c-section c-main">
	<div class="c-section-inner">
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="tool-l">
					<button type="button" class="tool-item c-btn" id="addBtn" ui-sref="collection">新建</button>
				</div>
			</div>

			<table class="table-data">
				<thead>
					<tr>
						<th>任务名称</th>
						<th>状态</th>
						<th>申请时间</th>
						<th>评估金额</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in requests">
						<td>{{item.jobName}}</td>
						<td>{{item.status}}</td>
						<td>{{item.created | date: 'yyyy-MM-dd'}}</td>
						<td>{{item.price}}</td>
						<td class="opt">
							<a class="detail-btn" ng-click="showDetail(item)">采集详情</a>
							<a ui-sref="app.dcs_report_list">历史报告</a>
						</td>
					</tr>

				</tbody>
				<tr class="white b-white" >
					<td colspan="6" class="white b-white text-center">
						<ul class="pagination" uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" total-items="true" max-size="10" class="pagination-sm" boundary-link-numbers="true" next-text="下一页" previous-text="上一页" rotate="false" ng-change="pageChanged()"></ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="myModalLabel">采集信息</h4>
			</div>
			<div class="modal-body">
				<form class="c-f-list">
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>任务名称</span></label>
						<div class="c-f-list-con">
							<input type="text" disabled  ng-model="request.jobName" class="c-control">
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>数据源</span></label>
						<div class="c-f-list-con">
							<textarea name="content" disabled   ng-model="request.source" rows="4" class="c-control"></textarea>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>关键字</span></label>
						<div class="c-f-list-con">
							<textarea name="content" disabled  ng-model="request.keyWord" rows="4" class="c-control"></textarea>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>发送周期</span></label>
						<div class="c-f-list-con">
							<select class="c-control" ng-model="request.type">
								<option>一次性交货</option>
								<option>按周交货</option>
								<option>按月交货</option>
								<option>按季度交货</option>
							</select>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>推送方式</span></label>
						<div class="c-f-list-con">
							<div class="i-checks">
								<label><input type="checkbox"  ng-model="request.message">短信</label>
							</div>
							<div class="i-checks">
								<label><input type="checkbox" ng-model="request.hasEmail">邮件</label>
							</div>
						</div>
					</div>
					<div class="f-list-item">
						<label class="c-f-list-tit"><span>备注</span></label>
						<div class="c-f-list-con">
							<textarea name="content" disabled  ng-model="request.remark"  rows="4" class="c-control"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-send" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
