<div class="c-section c-main">
	<div class="c-section-inner">
		<!--设置-->
		<div class="c-cont data-box">
			<div class="table-tool clearfix">
				<div class="title">任务1</div>
			</div>
			
			<table class="table-data">
				<thead>
					<tr>
						<th>报告类型</th>
						<th>报告时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>日报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>月报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>年报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>日报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>月报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>日报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>日报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>年报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>日报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
					<tr>
						<td>月报</td>
						<td>2019-11-02</td>
						<td class="opt">
							<a href="javascript:void(0);">下载</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--分页-->
			<div class="pageation">
				<ul class="pageation-list">
					<li class="list-item">
						<a href="javascript:void(0);">上一页</a>
					</li>
					<li class="list-item actived">
						<a href="javascript:void(0);">1</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">2</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">3</a>
					</li>
					<li class="list-item disabled">
						<a href="javascript:void(0);">...</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">10</a>
					</li>
					<li class="list-item">
						<a href="javascript:void(0);">下一页</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
